/* main elements... */

html, body {
    height: 100%;
}
body {
    background-color: #f6f7fb;
    color: #afb2bf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    counter-reset: step-counter;
}
body.nav-default {
    padding-top: 80px;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /*font-weight: 500;*/
    /*font-weight: 700;*/
}
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /*font-weight: 700;*/
}
.text-colour-black {
    color: #000!important;
}
.text-colour-grey {
    color: #afb2bf!important;
}
.text-tiny
{
	font-size: 11px;
}
.margin-center {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
b, strong {
	color: #000;
}
hr {
	border-top-color: #dcdfea;
}
.w100 {
	width: 100%;
}
p:empty {
    display: none;
}
.global-ammolocker-unavailable,
.global-ammolocker-available
{
	display: none;
}
/* anchor tags... */

a
{
	-webkit-transition: color 0.12s ease-out;
	-moz-transition: color 0.12s ease-out;
	transition: color 0.12s ease-out;
}

a.orange {
	color: #ff671f;
	line-height: 22px;
}

a:hover
{
	text-decoration: none;
	color: #0072ce!important;
}

a.important {
    color: #ff671f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
a.important:link, a.important:visited, a.important:active {
    text-decoration: none;
    color: #ff671f;
}
a.important span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
a.important span:after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background-color: #ff671f;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.18s ease-out;
    -moz-transition: all 0.18s ease-out;
    -webkit-transition: all 0.18s ease-out;
}
a.important:hover span:after {
    width: 100%;
}
hr {
	margin-bottom: 0;
}
.icon-link {
	position: relative;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
.icon-link:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.icon-link.pencil:before {
	background-image: url('./images/icons/pencil.svg');
}
/* paragraph tags... */

p {
    font-size: 1.8em;
    line-height: 1.7em;
    margin: 0;
    color: #afb2bf;
    margin: 30px 0;
}
p.regular {
    font-size: 1.4em;
    line-height: 1em;
    margin: 10px 0 0;
}
.contact-text p {
	margin: 10px 0 0;
	line-height: 1.4em;
}
.contact-text p:first-child {
	margin-top: 0;
}
p.lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 0;
}
p.smaller {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.6px;
    line-height: 1.45em;
    margin: 0;
}

.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* bootstrap overrides... */

.container {
    width: 100%!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.15em;
    letter-spacing: 1.7px;
    line-height: 1em;
    min-width: 180px;
    padding: 22px 25px;
}
.btn.btn-default {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    background-color: #0072ce;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 114, 206, 0.4);
    overflow:hidden;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn.btn-default:hover {
	background: #e6e6e6;
	color: #000!important;
}
.btn.btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.36em;
    background-color: #ff671f;
    border-style: none;
    padding: 21px 25px;
    border-radius: 7px;
    box-shadow: 0px 3px 6px rgba(255, 103, 31, 0.4);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn.btn-primary {
    color: #fff!important;
    background-color: #ff671f;
    border-style: none;
    outline: none;
}
.btn.btn-primary:visited, .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    opacity: 0.9;
}
.btn.btn-info {
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    border-style: none none solid;
    border-color: #016ac0;
    border-width: 3px;
    padding: 22px 25px 19px;
    background-color: transparent!important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn.btn-info:not(.text-black):link, .btn.btn-info:not(.text-black):visited, .btn.btn-info:not(.text-black):hover, .btn.btn-info:not(.text-black):active, .btn.btn-info:not(.text-black):focus
{
	color: #fff!important;
}
.btn.btn-info:hover {
    border-color: #007ce2;
}
.btn.btn-info.text-black {
    color: #000;
}
.modal {
    z-index: 2002;
}
.modal-backdrop {
    z-index: 2001;
}
.modal-backdrop.in {
    filter: alpha(opacity=85);
    opacity: .85;
}
.modal-content {
    border-radius: 10px;
}
.modal-header {
    border: none;
    padding: 18px 20px 5px 0;
}
.modal-body {
    padding: 40px;
}
.close {
    font-size: 27px;
    line-height: 1em;
    color: #929598;
    filter: alpha(opacity=100);
    opacity: 1.0;
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 1;
}

.modal h4 {
	font-family: 'Monteserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	font-size: 26px;
}
.modal p {
	font-size: 16px;
}
.panel-group {
	background-color: #FFF;
}
.panel-group .panel {
	border: none;
	border-bottom: 1px solid #dcdfea;
	border-radius: 0 !important;
	box-shadow: none !important;
}
.panel-group ul {
    width: calc(100% - 20px);
    left: 20px;
}
.panel-group .panel:last-child {
	border-bottom: none !important;
}
.panel-group .panel-heading {
	padding: 0;
	background: transparent;
	border-radius: 0;
}
.panel-group .panel-heading h4 > a {
	position: relative;
	display: block;
	padding: 30px 60px 30px 30px;
	color: #000;
	font-weight: bold;
}
.panel-group .panel-heading h4 > a:after {
	content: '';
	position: absolute;
	background: #dcdfea;
	width: 93%;
	left: 3%;
	right: 3%;
	top: 100%;
	height: 1px;
	display: block;
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.panel-group .panel-heading h4 > a.collapsed:after {
	top: 80%;
	opacity: 0;
}
.panel-group .panel-heading h4 > a:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 40px;
	width: 15px;
	height: 15px;
	background-image: url('./images/icons/plus-icon-blue.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.panel-group .panel-heading h4 > a.collapsed:before {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.panel-group .panel .panel-body {
	padding: 30px;
	border-top: 0 !important;
}
.panel-group .panel .panel-body p {
	margin: 20px 0 0;
	color: #afb2bf;
	font-size: 16px;
	line-height: 32px;
}
.panel-group .panel .panel-body p:first-child {
	margin-top: 0;	
}
.tooltip {
    min-width: 160px;
    margin-left: -10px !important;
    padding: 0 !important;
}
.tooltip .tooltip-arrow {
    display: none;
}
.tooltip .tooltip-inner {
    background: #FFF;
    color: #afb2bf;
    font-size: 14px;
    padding: 10px 15px;
}
.input-holder .tooltip-activator {
    background-image: url('./images/tooltip-square.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 62px;
    padding: 10px;
    z-index: 1071;
    text-indent: -9999px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

/* forms... */

::-webkit-input-placeholder {
    color: #000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
::-moz-placeholder {
    color: #000;
}
:-ms-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
:focus::-webkit-input-placeholder {
    color: #DFDFDF;
}
:focus::-moz-placeholder {
    color: #DFDFDF;
}
:focus:-ms-input-placeholder {
    color: #DFDFDF;
}
:focus:-moz-placeholder {
    color: #DFDFDF;
}
input[type="text"], input[type="password"], input[type="email"], .fancy-dropdown-wrapper .fancy-selected, textarea {
    display: block;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 30px 0 0;
    padding: 23px 25px 20px;
    border: 2px solid #dcdfea;
    border-style: none none solid;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, .fancy-dropdown-wrapper.open .fancy-selected, textarea:focus {
    outline: none;
    border-bottom-color: #0072ce;
}
input[type=checkbox] {
    visibility: hidden;
}
.input-holder {
    width: 100%;
    display: block;
    margin-top: 40px;
}
.input-holder input[type="text"], .input-holder input[type="password"], .input-holder input[type="email"], .input-holder .fancy-dropdown-wrapper .fancy-selected {
    margin-top: 0;
}
.transparent-inputs .input-holder input[type="text"], .transparent-inputs .input-holder input[type="password"], .transparent-inputs .input-holder input[type="email"], .transparent-inputs .input-holder textarea, .transparent-inputs .input-holder .fancy-dropdown-wrapper .fancy-selected {
	background: transparent;
	margin-top: 0;
}
.inline-editable .field-input input, .inline-editable .field-input .fancy-selected {
	background-image: url('./images/icons/pencil.svg');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 99% 43%;
}
.inline-editable .field-input:after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	opacity: 0;
	background-color: #0072ce;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.inline-editable .editing.field-input:after {
	opacity: 1;
}
.inline-editable, .two-col-input {
	position: relative;
	border-bottom: 2px solid #dcdfea;
	text-align: left;
}
.two-col-input .fancy-label {
    display: none;
}
.two-col-input .excess {
    position: absolute;
    right: 0;
    top: 10px;
    color: #000;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: right;
}
.two-col-input .excess span {
    display: block;
    margin: 0;
    color: #afb2bf;
}
.inline-editable .field-input input, .inline-editable .fancy-dropdown-wrapper .fancy-selected, .two-col-input input, .two-col-input .fancy-dropdown-wrapper .fancy-selected {
	border-bottom: none;
	text-align: left;
	font-size: 1.3em;
	line-height: 1em;
}
.inline-editable label, .two-col-input label {
	text-align: left;
	font-size: 13px;
	padding: 18px 0;
	margin: 0;
	font-weight: 500;
	text-transform: uppercase;
}
.inline-editable .editing .edit-toggle {
	background-image: url('./images/icons/pencil-commit.svg');
}

.fancy-label {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 0;
    cursor: text;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.focused .fancy-label {
    top: 15%;
    font-size: 1em;
    color: #bdbdbd;
}
.autocomplete input[name='address_combined'] {
    position: relative;
    z-index: 1;
}
.autocomplete .fancy-label {
    z-index: 2;
}
.pdf-link {
    position: relative;
    cursor: pointer;
}
.pdf-link:before {
    content: '';
    background-image: url('./../img/icons/icon-document-blue.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    position: relative;
    width: 30px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
    -webkit-transition: background-size .15s;
    -moz-transition: background-size .15s;
    transition: background-size .15s;
}
.pdf-link:hover, .pdf-link:active, .pdf-link:focus {
    text-decoration: underline;
}
.pdf-link:hover:before, .pdf-link:hover:active, .pdf-link:hover:focus {
    background-size: 32px;    
}
.pdf-holder p {
    border-bottom: 2px solid #ececec;
    margin: 0;
    padding: 20px 0;
}
.pdf-holder p:last-child {
    border-bottom: none;
}

/* These styles make space for the edit button */

/* Cookies styling */
.cookies-disclaimer {
    position: fixed;
    height: auto;
    bottom: -100%;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #0072ce;
    color: #FFF;
    -webkit-transition: bottom .18s ease-in-out;
    -moz-transition: bottom .18s ease-in-out;
    transition: bottom .18s ease-in-out;
}
.cookies-disclaimer p {
    color: #FFF;
    font-size: 1.5em;
    line-height: 1.6em;
    margin: 15px 0;
}
.cookies-disclaimer .close
{
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    
    background-color: #FFF;
    border-radius: 50%;
    
    z-index: 999;
    cursor: pointer;
    
    overflow: hidden;

    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cookies-disclaimer .close .bar
{
    position: absolute;
    height: 3px;
    background-color: #0072ce;
    
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.cookies-disclaimer .bar.one
{
    width: 16px;
    left: 10px;
    top: 16px;
    
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.cookies-disclaimer .bar.two
{
    left: 100px;
    background-color: transparent;
    transition: none !important;
}

.cookies-disclaimer .bar.three
{
    width: 16px;
    left: 10px;
    top: 16px;
    
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
}


/* Fancy Checkbox */

.checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.checkbox-holder .checkbox-wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.checkbox-holder label {
	font-weight: 500;
	font-size: 12px;
}
.checkbox-holder.mw-350 label {
	max-width:350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.checkbox-holder.mw-90-percent label {
	max-width: 90%;
}
.checkbox-holder label span {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    padding: 0;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    border: 2px solid;
    background: #fcfff4;
    background: transparent;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d', GradientType=0);
}
.checkbox-holder label span:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 6px;
    background: transparent;
    top: 4px;
    left: 2.45px;
    border: 2px solid #afb2bf;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox-holder label:hover span::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.checkbox-holder input[type=checkbox]:checked + label span {
	border-color: #0072ce;
}
.checkbox-holder input[type=checkbox]:checked + label span:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    border-color: #0072ce;
}
.checkbox-holder label div {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	text-align: left;
}
.checkbox-holder:after {
	display: none !important;
}
.checkbox-holder.error label span:after {
	border-color: #e72234;
}

/* Radio Buttons */

.radio-holder {
	float: left;
	margin-top: 30px;
}
.radio-holder .radio-wrapper {
	color: #afb2bf;
	display: inline-block;
	position: relative;
	margin: 0 auto;
	width: auto;
}
.radio-holder .radio-wrapper input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio-holder .radio-wrapper label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.45em;
  padding: 15px 25px 15px 60px;
  margin: 10px auto;
  height: auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radio-holder .radio-wrapper:hover label{
	color: #016ac0;
}

.radio-holder .radio-wrapper .check{
  display: block;
  position: absolute;
  border: 3px solid #afb2bf;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 22px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.radio-holder .radio-wrapper .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 9px;
  width: 9px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border-color: #0072ce;
}

input[type=radio]:checked ~ .check::before{
  background: #0072ce;
}

input[type=radio]:checked ~ label{
  color: #0072ce;
}

ul {
	position: relative;
	padding-left: 0;
	list-style-type: square;
	list-style-image: url('./images/blue-square.png');
	left: -20px;
}
ul li {
	line-height: 30px;
	margin-top: 20px;
	padding-left: 20px;
	font-size: 1.7em;
}


/* Date Picker field styles */

.datepicker-holder span.date-icon {
	position: absolute;
	top: 50%;
	right: 30px;
	width: 20px;
	height: 20px;
	display: block;
	background-image: url('./images/icons/calendar-icon.svg');
	background-size: contain;
	background-position: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ui-datepicker {
	padding: 0;
	border: none !important;
	border-radius: 0;
	box-shadow: 0px 5px 15px #EFEFEF;
}
.ui-datepicker .ui-datepicker-header {
	padding: 8px;
	border-radius: 0;
	background: #f6f6f6;
	color: #016ac0;
	border-width: 0 0 1px 0;
	border-color: #dfe2eb;
}
.ui-datepicker .ui-datepicker-title {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	height: 100%;
	top: 0;
}
.ui-datepicker th {
	padding: 10px 5px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	color: #016ac0;
}
.ui-datepicker td {
	padding: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default {
	border: none;
	background: #FFF;
	padding: 10px;
	text-align: center;
}
.ui-widget-content .ui-state-default:hover, .ui-widget-content .ui-state-default:active, .ui-widget-content .ui-state-default:focus {
	background: rgba(1, 106, 192, 0.72);
	color: #FFF !important;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	background-image: url('./images/icons/arrow-left-blue.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.ui-datepicker .ui-datepicker-next span {
	background-image: url('./images/icons/arrow-right-blue.svg');
}
.ui-state-active, .ui-widget-content .ui-state-active {
	color: #016ac0;
    font-weight: bold;
    background: #EFEFEF;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #ff671f;
	color: #FFF;
}
.ui-datepicker-header .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	width: 44px;
	border: none;
	border-radius: 0;
	left: 0 !important;
	right: auto !important;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.ui-datepicker .ui-datepicker-prev.ui-state-hover, .ui-datepicker .ui-datepicker-next.ui-state-hover {
	background: #FFF;
}
.ui-datepicker .ui-datepicker-next {
	right: 0 !important;
	left: auto !important;
}
.ui-widget.ui-widget-content {
	width: 100% !important;
	top: 100% !important;
	left: 0 !important;
}

/* Cards... */

.card-default
{
	position: relative;
	
	background-color: #fff;
	border-radius: 7px;
	
	max-width: 400px;
	
	box-shadow: 0px 4px 6px rgba(150, 150, 150, 0.3);
}

.card-default,
.card-default > *
{
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.card-default .info-container
{
	position: absolute;
	bottom: 0;
	left: 0;
	
	padding: 25px;
	
	width: 100%;
}

.card-default .info-container .inner-container
{
	border-top: 1px solid #dcdcdc;
	padding-top: 25px;
	
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 1.2px;
    line-height: 1.6em;
    
    text-transform: uppercase;
    color: #afb2bf;
    
    -webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.card-default img.icon-default,
.card-default img.icon-hover
{
	position: absolute;
	top: 25px;
	right: 25px;
	
	width: 25%;
	opacity: 1;
}

.card-default img.icon-hover
{
	opacity: 0;
}

.card-default:hover
{
	background-color: #0072ce;
}

.card-default:hover img.icon-hover
{
	opacity: 1;
}

.card-default:hover .info-container .inner-container
{
	border-color: #0063b2;
	color: #fff!important;
}


/* Dashboard */

.account-details .modal-header {
    padding: 0;
}
.account-details .totals .amount {
    font-size: 40px;
    line-height: 36px;
    padding: 0;
    letter-spacing: 2px;
}
.account-details .modal-body {
    padding: 40px 60px 60px;
}
.account-details .totals .total-title {
    padding: 50px 0 40px;
}
.account-details .totals .total-title h3 {
    color: #000000;
    font-size: 2.2em;
}
.account-details .extras .order-amount-holder {
    padding: 50px 15px 0px;
    box-shadow: none;
}
.account-details .extras .order-amount-holder:last-child {
    padding-bottom: 20px;
}
.account-details .extras .order-amount-holder .amount {
    font-size: 30px;
    line-height: 26px;
}
.account-details .order-amount-holder .amount sup {
    top: -0.9em;
    letter-spacing: 0;
    font-size: 20px;
}
.account-details .extras .order-amount-holder .amount sup {
    font-size: 14px;
    top: -0.9em;
    letter-spacing: 0;
}
.account-details .extras .order-amount-holder p {
    font-size: 1.2em;
}
.account-details .extras .order-amount-holder p:empty {
    display: none;
}
.account-details .extras .total-cover {
    font-size: 12px;
    top: -5px;
}
.account-details .totals .order-amount-holder {
    padding: 40px 50px;
}


/* 
	Product cards
 */

.card-default.product-card {
	overflow: hidden;
	max-height: 340px;
}
.card-default.product-card:hover {
	background-color: #FFF;
}
.card-default.product-card .info-container .inner-container {
	border-top: none;
}
.card-default.product-card .info-container {
	padding: 0;
	top: 0;
	z-index: 1;
}
.card-default.product-card .info-container:after {
	content: '';
	position:absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #0063b2;
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.card-default.product-card:hover .info-container:after {
	opacity: 0.8;
}

.card-default.product-card .info-container .reveal-container {
	padding: 25px;
	position: absolute;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.card-default.product-card:hover .info-container .reveal-container {
	bottom: 0 !important;
}

.card-default.product-card .icon-default {
	width: 70%;
	z-index: 1;
}
.card-default.product-card .info-container .title {
	color: #afb2bf;
	font-size: 16px;
	line-height: 24px;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.card-default.product-card .info-container .description > *{
	color: #afb2bf;
	font-size: 13px;
	line-height: 22px;
	margin: 40px 0 0;
	font-family: 'Open Sans';
	text-transform: none;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.card-default.product-card:hover .info-container .description > *, .card-default.product-card:hover .info-container .title {
	color: #FFF;
}
.card-default.product-card:hover .info-container .title {
    opacity: 0;
}



/* Utility classes */

.contact-number-strip
{
	font-size: 1.55em;
	display: inline-block;
	
	background-image: url(./images/icons/icon-call-centre-light.png);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	
	padding: 30px;
	margin-left: 45px;
	margin-right: 45px;
}

.contact-number-strip b
{
	color: #000;
}

.mw-400 {
	max-width: 400px;
}


/* Address tabs */

.address-tabs {
	position: relative;
}
.address-tabs .address-actions {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 3;
    -webkit-transition: bottom .18s ease-in-out;
    -moz-transition: bottom .18s ease-in-out;
    transition: bottom .18s ease-in-out;
}
.error .address-actions {
    bottom: -60px;
}
.address-tabs .address-actions a {
	font-size: 11px;
	color: #ff671f;
	line-height: 30px;
}
.text-black {
	color: #000;
}


/* MUST STAY RELATIVE */
/* Error message pseudo lines must be contained */

form > * {
	float: left;
	width: 100%;
}

.input-holder {
    position: relative;
    float: left;
}
.input-holder:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: 1;
    height: 3px;
    background-color: #e72234;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    transition: width .5s;
}
.input-holder.error:after {
    width: 100%;
}
.error-message {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    color: #e72234;
    opacity: 0;
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.error > .error-message:last-of-type {
    opacity: 1;
}
.fancy-dropdown-wrapper {
    width: 100%;
    display: block;
    color: #000;
}
.fancy-dropdown-wrapper .fancy-selected {
    position: relative;
    cursor: pointer;
    min-height: 62px;
    padding: 23px 25px 20px 25px;
}
.fancy-dropdown-wrapper .fancy-selected:after {
    content: '';
    position: absolute;
    top: 22px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url('./images/icons/arrow-right-grey.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.inline-editable .fancy-dropdown-wrapper .fancy-selected:after {
	top: 18px;
	right: 40px;
}
.fancy-dropdown-wrapper.open .fancy-selected:after {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}
.fancy-dropdown-wrapper .fancy-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
    height: auto;
    max-height: 300px;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    box-shadow: 0px 0px 10px #e6e6e6;
}
.fancy-dropdown .option {
    cursor: pointer;
    width: 100%;
    padding: 20px 8px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    border-bottom: 1px solid #f6f7fb;
    text-transform: uppercase;
    color: #afb2bf;
    -webkit-transition:  all .3s;
    -moz-transition:  all .3s;
    transition:  all .3s;
}
.fancy-dropdown .option:last-child {
    border: none !important;
}
.fancy-dropdown .option:hover, .fancy-dropdown .option.selected:hover {
	color: #0072ce;
	background: #f3f3f3;
}
.fancy-dropdown .option.selected {
	color: #ff671f;
}
.nano {
    background: #fff;
}
.nano > .nano-pane {
    background: transparent;
    right: -1px;
}
.nano > .nano-pane > .nano-slider {
    background: #ff671f;
    border-radius: 0;
}

/* headings... */

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 5.2em;
    margin: 0;
    letter-spacing: 0.5px;
}
.quote-path h1 {
    font-size: 3.2em;
}
h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 4.5em;
    margin: 0;
    letter-spacing: 2px;
}
h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.7em;
    margin: 0;
    letter-spacing: 1.5px;
}
h4 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.75em;
    line-height: 1.5em;
    margin: 0;
    letter-spacing: 1.5px;
}
h5 {
    font-size: 1.85em;
    font-weight: 400;
    margin: 0;
}
h4.step {
	position: relative;
	display: block;
	counter-increment: step-counter;
}
h4.step:before {
	position: absolute;
	content: '0'counter(step-counter);
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	font-size: 20px;
	color: #afb2bf;
	font-weight: 300;
}

/* add class of 'marker-enabled' to a string to activate this... */

.marked-text {
    display: inline-block;
    background-color: rgba(0, 114, 206, 0.85);
    padding: 0.07em 0.21em;
    margin-top: 0.09em;
    color: #fff;
}
.orange .marked-text {
	background-color: rgba(255, 103, 31, 0.85);
	font-size: 0.8em;
}

/* containers... */

.bulleted-item {
    background-image: url(./images/icon-tick-blue.png);
    background-size: 16px 12px;
    background-position: 0px 3px;
    background-repeat: no-repeat;
    padding-left: 33px;
    padding-right: 17px;
}
.vertical-align-middle {
    display: none;
}
.absolute-bottom {
	width: 100%;
    position: absolute;
    bottom: 0;
}

/* header... */

header {
    position: relative;
    z-index: 2000;
}

.mobile-nav {
	position: fixed;
	top: -100%;
	left: 0;
	min-height: 100vh;
	height: 100%;
	background: #016dd5;
	z-index: 199;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.mobile-nav.open {
	top: 0;
	opacity: 1;
}
.mobile-nav a.important {
	font-size: 1em;
}
.nav-default nav .mobile-nav a:link, .nav-default nav .mobile-nav a:visited, .nav-default nav .mobile-nav a:hover, .nav-default nav .mobile-nav a:active, .nav-default nav .mobile-nav a:focus {
	color: #FFF !important;
}
.mobile-nav .nav-logo, .mobile-header .block-right, .mobile-nav .header-quote-button {
	margin-top: 0;
}
.mobile-nav .nav-logo {
	padding: 58.5px 0;
}
.mobile-header .block-right {
	background-image: url('./images/navigation-block.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 120%;
	padding: 50px 130px 50px 80px;
}
.mobile-header .block-right > * {
	margin-right: 60px;
}
.mobile-header .block-right > *:last-child {
	margin-right: 0;
}
.mobile-nav .mobile-main {
	position: absolute;
	top: 50%;
	left: 4.16666667%;
	height: auto;
	width: 70%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mobile-main .nav-items .link-holder a {
	margin: 5px 0;
	font-size: 35px;
	line-height: 30px;
	font-family: 'Montserrat';
	text-transform: uppercase;
}

.mobile-nav a span {
	position: relative;
	padding: 10px;
	z-index: 2;
	transition: all 0.18s ease-out;
    -moz-transition: all 0.18s ease-out;
    -webkit-transition: all 0.18s ease-out;
}
.mobile-nav a span:after {

    content: '';
    display: block;

    position: absolute;

	background-color: #FFF;
	height: 100%;
    width: 0;

	top: 0;
    left: 0;
	z-index: -1;

    transition: all 0.18s ease-out;
    -moz-transition: all 0.18s ease-out;
    -webkit-transition: all 0.18s ease-out;
}
.mobile-nav a:hover span:after {
	width: 100%;
}
.mobile-nav a:hover span {
	color: #016dd5;
}
.mobile-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

}
.mobile-footer .block-left {
	background-image: url('./images/navigation-block.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 120%;
	float: left;
	width: 100%;
}
.mobile-footer .block-left .fine-print {
	padding: 60px 55px 40px;
}
.mobile-footer .contact-us {
	padding: 50px 0 35px;
}
.mobile-nav .mobile-social {
	position: absolute;
	width: 100vh;
	min-width: 500px;
	top: -80px;
	right: 45px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	transform-origin: right;
}
.mobile-nav .mobile-social .social-item {
	display: inline-block;
	width: 25%;
}

body.nav-default nav .mobile-nav .row > *{
	margin-top: 0 !important;
}
body.nav-default nav .mobile-nav a.header-quote-button {
	top: 0;
	padding: 16px 18px;
	height: auto;
}

/* splash screen container... */

.splash-screen-container {
    color: #fff;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('./images/splash-background.jpg');
    background-size: cover;
    background-position: top right;
}
.splash-screen-container h1 {
    width: 60%;
}
.splash-screen-container p {
    color: #fff;
}

/* sign in modal... */

#sign-in-up-modal form {
	float: left;
    width: 80%;
    margin: 0 10%;
    padding: 10px 0 0;
}

/* page styles... */


/* section: mast hero... */

.section-mast-hero {}
.section-mast-hero > .container > .row > * {
    height: 420px;
}
.section-mast-hero .img-container {
    background-position: top left;
    background-size: cover;
}
.section-mast-hero p.lead {
    margin: 0;
    padding: 0;
    line-height: 1.7em;
}


/* Progress Bar */

.progress-wrapper {
    position: relative;
}

/* Bootstrap overrides */

.progress-bar {
    float: none;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    box-shadow: none;
}
.progress-bar .step {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.progress-bar .step .step-title {
    position: absolute;
    left: 0;
    bottom: 125%;
    min-width: 140px;
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 8px 12px;
    color: #FFF;
    border-radius: 8px;
    background-color: #0072ce;
    display: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.progress-bar .step > span {
    display: inline-block;
    background-color: #caccd0;
    height: 5px;
    width: 2px;
    margin-right: 10px;
}

/* Final Checkpoint styles */

.progress-bar .step:last-of-type span:last-of-type {
    margin-right: 0;
    background-color: #ff671f;
    height: 10px;
    width: 10px;
    border-radius: 3px;
}

/* Milestone points */

.progress-bar .step > span:first-of-type {
    height: 10px;
}

/* Active Progress */

.progress-bar .step.current > span:first-of-type {
    background-color: #ff671f;
    height: 20px;
}
.progress-bar .step.current .step-title {
    display: block;
}
.progress-bar.complete .step.current > span:first-of-type {
	height: 10px;
}
.progress-bar.complete .step > span {
	background-color: #0072ce !important;
}

/* Completed Progress */

.progress-bar .step.completed > span {
    background-color: #ff671f;
}

/* Quote Path */
.quote-path input[type="text"], .quote-path input[type="password"], .quote-path input[type="email"] {
    background-color: #f6f7fb;
}
.order-amount-holder {
	background: #FFF;
	padding: 30px 45px;
	box-shadow: 0px 7px 20px -5px #EFEFEF;
	color: #afb2bf;
}
.order-amount-holder .desc p {
	margin: 6px 0;
	text-align: left;
    font-size: 1.6em;
}
.order-amount-holder .amount {
	color: #000;
	font-size: 36px;
	line-height: 36px;
	text-align: right;
}
.order-amount-holder .amount .center {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.order-amount-holder .amount span {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.order-amount-holder .amount sup {
	color: #afb2bf;
	margin-left: 4px;
	font-size: 18px;
	top: -0.9em;
}
.totals {
	text-align: center;
	float: left;
	width: 100%;
}
.totals > * {
	float: left;
	width: 100%;
}
.totals .total-title {
	color: #0072ce;
	border-bottom: 3px solid #0072ce;
	padding: 15px 0;
}
.totals .amount {
	text-align: center;
	padding: 20px 0;
	font-size: 50px;
	line-height: 50px;
}
.totals .amount sup {
	font-size: 24px;
}
.totals .order-amount-holder {
	background: transparent;
	box-shadow: none;
	border-bottom: 1px solid #dcdfea;
}
.sticky-total {
    position: static;
    top: 0;
    z-index: 10;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.sticky-total.fixed {
    position: fixed;
    top: 0;
    margin-top: 0 !important;
}
.sticky-total.fixed .order-amount-holder {
    padding: 15px 35px;
}
.sticky-total.fixed .order-amount-holder .desc p {
    font-size: 1.4em;
}
.sticky-total.fixed .order-amount-holder > * {
    height: auto !important;
}
.sticky-total.fixed .order-amount-holder .amount .center {
    position: static;
    text-align: right;
    padding: 10px 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
.spacer {
    position: static;
    width: 100%;
    margin-top: 60px;
    float: left;
}
.policy-sticky {
	background: #0072ce;
	position: fixed;
	top: 50%;
	right: -100px;
	color: #FFF;
	height: 50px;
	width: 150px;
	z-index: 101;
	white-space: nowrap;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.policy-sticky > a > * {
	display: inline-block;
	vertical-align: middle;
}
.policy-sticky:hover {
	right: 0;
}
.policy-sticky .icon {
	width: 50px;
	height: 50px;
	background-image: url('./images/icons/document.svg');
	background-position: center;
	background-size: 15px;
	background-repeat: no-repeat;
}
.policy-sticky .text {
	width: 100px;
	color: #FFF;
	font-size: 12px;
	font-weight: 500;
	font-family: 'Montserrat';
	white-space: normal;
}

/* Profession Detail */

.downloads > div {
	display: block;
}
.downloads > div a {
	display: inline-block;
	color: #000;
	border-bottom: 1px solid #dcdfea;
	font-size: 16px;
	padding-bottom: 4px;
}
.profession-container {
	background: #FFF;
	padding: 30px 120px;
	box-shadow: 0px 7px 20px -5px #EFEFEF;
	color: #afb2bf;
}
.profession-container .order-amount-holder {
	border-bottom: none;
	padding-top: 10px;
}
.profession-container .desc p {
	margin-bottom: 0;
}
.extras .order-amount-holder {
	padding: 40px 45px 30px;
}
.extras .profession-extra .order-amount-holder .amount {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.extras .order-amount-holder p {
	margin: 15px 0 0;
	font-size: 1.7em;
	line-height: 1.4em;
}
.extras .total-cover {
	position: absolute;
	top: -10px;
	font-size: 14px;
	color: #000;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 500;
}

.article p {
	margin-bottom: 0;
}
.article p b {
	font-size: 1.1em;
}
.article .date {
	color: #000;
	font-size: 14px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 500;
}
.recent-posts .title {
	border-bottom: 1px solid #caccd0;
	padding-bottom: 10px;
}
.recent-posts .article {
	padding: 10px 0 20px;
	border-bottom: 1px solid #caccd0;
}
.recent-posts .article p:not(.date) {
	margin-top: 0 !important;
	font-size: 13px;
	line-height: 20px;
	padding-left: 30px;
}
.recent-posts .article .date {
	padding-left: 30px;
	font-size: 10px;
}
.recent-posts h4 {
	color: #000;
}


/* Process payment */

.process-payment .expiry-row .input-holder:first-child {
    width: 49%;
    margin-right: 1%;
}
.process-payment .expiry-row .input-holder:last-child {
    width: 50%;
}
.process-payment .expiry-row .input-holder:last-child .fancy-dropdown-wrapper .fancy-dropdown {
    left: 0px;
}




/* Toast messages... */
.toast-message
{
	position: fixed;
	top: 70px;
	width: 100%;
	
	z-index: 70000;
}

.toast-message-inner
{
    position: relative;
	width: 55%;
	min-width: 300px;
	max-width: 600px;
	margin: 0 auto;
	
	border-style: none;
	color: #afb2bf;
	text-align: center;
	
	font-size: 1.55em;
	line-height: 1.4em;
	
	padding: 20px 50px;
	background-color: #fff;
	box-shadow: 0px 1px 5px rgba(175, 175, 175, 0.75);

}

.toast-message-inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #0072ce;
    height: 3px;
    display: inline-block;
    -webkit-animation: toastMessageKeyframe 4.5s 1 forwards;
    -moz-animation: toastMessageKeyframe 4.5s 1 forwards;
    -o-animation: toastMessageKeyframe 4.5s 1 forwards;
    animation: toastMessageKeyframe 4.5s 1 forwards;

    -webkit-animation-timing-function: linear !important;
    animation-timing-function: linear !important;
}

@-webkit-keyframes toastMessageKeyframe {
  0%   { width: 0; }
  100% { width: 100%; }
}
@-moz-keyframes toastMessageKeyframe {
  0%   { width: 0; }
  100% { width: 100%; }
}
@-o-keyframes toastMessageKeyframe {
  0%   { width: 0; }
  100% { width: 100%; }
}
@keyframes toastMessageKeyframe {
  0%   { width: 0; }
  100% { width: 100%; }
}



/* Pagination */

.pagination {
    text-align: center;
}
.pagination {
    left: 0;
    width: 100%;
    list-style: none;
}
.pagination li {
    display: inline-block;
    padding: 0 10px;
}
.pagination li a {
    position: relative;
    z-index: 3;
    border: none;
    background: transparent !important;
}
.pagination li a.page-next, .pagination li a.page-previous {
    padding: 8px 0;
}
.pagination li a.active {
    color: #FFF !important;
}
.pagination li a:after {
    content: '';
    position: absolute;
    background: #EFEFEF;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all .18s ease-in-out;
    -moz-transition: all .18s ease-in-out;
    transition: all .18s ease-in-out;
}
.pagination li a.active:after {
    background: #016ac0;
    opacity: 1;
}
.pagination li a:hover:after {
    opacity: 1;
}

/* Eligibility Styles */

#eligibility p {
    margin: 0;
}
#eligibility .radio-holder {
    margin-top: 60px;
}
#eligibility .radio-holder .same-height-columns .center {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
#eligibility .radio-holder .radio-wrapper .check {
    left: 5px;
}
#eligibility .radio-holder .radio-wrapper label {
    padding-left: 40px;
}

@media (max-width:991px) {
    #eligibility .radio-holder .same-height-columns .center .radio-wrapper {
        display: block;
    }
    #eligibility .radio-holder .radio-wrapper .check {
        top: 3px;
    }
    #eligibility .radio-holder .radio-wrapper label {
        padding: 5px 25px 5px 60px;
    }
}
@media (max-width:767px) {
    #eligibility .radio-holder .same-height-columns .center {
        position: relative;
        top: 0;
        padding-left: 30px;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
    #eligibility .radio-holder {
        margin-top: 35px;
        text-align: center;
    }
    #eligibility .radio-holder .same-height-columns .center .radio-wrapper {
        max-width: 140px;
        text-align: center;
        display: inline-block;
    }
    #eligibility .radio-holder .radio-wrapper label {
        padding-left: 40px;
    }
    #eligibility .radio-holder .radio-wrapper .check {
        top: 12px;
    }
}


/* Captcha styles */

#recaptcha > .g-recaptcha > div {
    width: 100% !important;
}
#recaptcha > .g-recaptcha > div iframe {
    margin: 0 auto;
}



/* footer... */

footer {
    margin-top: 120px;
    padding: 80px 0;
    background-color: #fff;
}
footer .footer-logo {
    height: 25px;
}

/* * * * * * */


/* responsive styles... */


/* cascading down the screen size pyramid... */
@media(min-width:1400px) {
	.splash-screen-container .splash-footer {
		margin-bottom: 60px;
	}
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }
}
@media(max-width:1399px) and (min-width:767px) {
	.splash-screen-container .splash-footer {
		margin-bottom: 60px;
	}
}
@media (max-width: 1199px) {
    h1 {
        font-size: 4.4em;
    }
    .splash-screen-container {
        background-position: center;
    }
    header .hamburger-menu {
        right: 4.17%;
    }
    .fancy-dropdown-wrapper .fancy-selected:after {
        right: 10px;
    }

}
@media (max-width: 991px) {
    .section-mast-hero > .container > .row > * {
        height: 360px;
    }
    .text-left-sm {
        text-align: left!important;
    }
    .inline-editable label, .two-col-input label {
    	padding: 0;
    }
    .inline-editable input, .two-col-input input, .inline-editable .fancy-dropdown-wrapper .fancy-selected {
    	padding-left: 0;
    }
    h4.step:before {
    	top: -70%;
    	left: 50%;
    	-webkit-transform: translateX(-50%);
    	-moz-transform: translateX(-50%);
    	transform: translateX(-50%);
    }
    .order-amount-holder .desc p, .order-amount-holder .amount {
    	text-align: center;
    	margin-top: 0;
    }
    .order-amount-holder .desc p {
        font-size: 1.4em;
        line-height: 1.5em;
        margin: 0;
    }
    .mobile-header .block-right {
    	padding: 20px 40px 30px;
    }
    .mobile-nav .nav-logo {
    	padding: 33.5px 0;
    }
    .mobile-footer .block-left .fine-print {
    	padding: 45px 55px 25px;
    }
    .mobile-footer .contact-us {
    	padding: 45px 0 25px;
    }
    .mobile-nav a.important {
    	font-size: .9em;
    }
    .mobile-nav .row > * {
    	margin-top: 0;
    }
    .mobile-header .block-right {
    	padding: 20px 90px 30px 40px;
    }
    header .hamburger-menu.open {
    	top: -10px;
    }
    .article > img {
    	max-width: none;
    }
    .quote-path .actions .btn {
        margin-bottom: 20px !important;
    }
    .order-amount-holder .amount .center {
        position: relative;
        top: 0;
        margin-top: 10px;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
    .sticky-total.fixed .order-amount-holder .amount .center {
        text-align: center;
    }

}
@media (max-width: 767px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
    	font-size: 2.8em;
    }
    h4, .modal h4 {
    	font-size: 2em;
    }
    h5 {
        font-size: 1.7em;
    }
    p, p.regular, ul li, .panel-group .panel .panel-body p {
        font-size: 1.35em;
        margin: 15px 0 0;
        line-height: 1.7em;
    }
    p.lead {
    	font-size: 1.5em;
    	line-height: 1.4em;
    }
    ul {
    	left: 20px;
    	width: 95%;
        list-style-image: url('./images/blue-square-mobile.png');
    }
    ul li {
    	padding-left: 20px;
        line-height: 1.7em;
    }
    .container, .section-mast-hero .vertical-align-middle p {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    .section-mast-hero .container {
    	padding-left: 0 !important;
    	padding-right: 0 !important;
    }
    .section-mast-hero .vertical-align-middle p {
    	margin: 0 !important;
    }
    .splash-screen-container {
        background-position: center;
        text-align: center;
    }
    .splash-screen-container h1 {
        width: 100%;
    }
    .btn.btn-primary, .btn.btn-default {
        padding: 20px 15px;
    }
    .btn.btn-info {
        padding: 22px 15px 16px;
    }
    .section-mast-hero > .container > .row > * {
        height: auto;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .absolute-bottom {
        position: static;
        bottom: auto;
    }
    .same-height-columns > * {
        height: auto !important;
    }
    .same-height-columns > * .absolute-bottom {
        position: static !important;
    }
    footer {
        text-align: center;
    }
    .text-center-xs {
        text-align: center!important;
    }
    .btn.btn-default.visible-xs {
    	display: inline-block !important;
    }
    
    .card-default
	{
		margin-left: auto;
		margin-right: auto;
	}
	.progress-bar .step .step-title {
		position: relative;
        color: #2586d4;
		left: 0;
		font-size: 16px;
		padding: 12px 30px;
		text-transform: uppercase;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
		background-color: #FFFFFF;
	}
	.progress-bar .step.current {
		display: inline-block;
	}
	.progress-bar .step, .progress-bar .step > span {
		display: none;
	}
	.progress-bar .step .mobile-step {
		padding: 0 0 4px;
		margin-bottom: 8px;
		border-bottom: 1px solid rgba(37, 134, 212, 0.62);
		font-size: 12px;
	}
	.section-content .text-right {
		text-align: left;
	}
	.mobile-nav .mobile-main {
		position: relative;
        width: 100%;
		margin-top: 40px;
		top: 0;
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	.mobile-nav a span {
		padding: 5px 0;
	}
	.mobile-main .nav-items .link-holder a {
		font-size: 1.9em;
		line-height: 1.1em;
	}
	.mobile-footer {
		position: static;
		margin-top: 40px;
	}
	.mobile-footer .container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mobile-footer .block-left {
		background-image: none;
	}
	.mobile-footer .block-left .fine-print, .mobile-footer .contact-us {
		padding: 20px 25px;
	}
	.mobile-footer .block-left .fine-print > *:first-child {
		margin-top: 0;
	}
	.mobile-footer .block-left .fine-print > * {
		display: block;
		margin-top: 10px;
	}
	.mobile-nav .mobile-social {
		position: static;
		width: auto;
		min-width: 0;
		padding: 10px 25px;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	.mobile-nav .mobile-social .social-item {
		width: auto;
		margin-right: 20px;
		padding: 10px 0;
	}
    .mobile-nav .mobile-social .social-item a {
        font-size: .9em;
    }
	.mobile-nav .nav-logo {
		margin-top: -10px;
	}
	.downloads {
		padding-left: 25px;
		padding-right: 25px;
	}
	.extras {
		text-align: center;
	}
	.extras .total-cover {
		position: static;
		text-align: center;
		display: block;
	}
	.profession-container {
		padding: 30px 60px;
	}
	.extras .order-amount-holder {
		padding: 20px 45px 30px;
	}
	.recent-posts .article p {
		padding-left: 0!important;
	}
    .policy-sticky {
        display: none;
        top: 80px;
        box-shadow: -1px 1px 5px -3px #000;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
    .input-holder .tooltip-activator {
        display: none;
    }
    .bulleted-item {
        width: 230px;
        margin: 0 auto;
        text-align: left;
    }
    .action-items > a {
        font-size: 1em !important;
    }
    header .sticky-total {
        width: 100%;
        top: 50px;
    }
    header .sticky-total .order-amount-holder {
        padding: 10px 20px 20px;
    }
    header.nav-hidden .sticky-total {
        top: -30px;
    }
    .cookies-disclaimer .close {
        position: relative;
        top: 0;
        margin: 8px 0;

        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
    .cookies-disclaimer p {
        font-size: 1.2em;
        line-height: 1.4em;
    }
    .process-payment .expiry-row .input-holder:last-child .fancy-dropdown-wrapper {
        margin-left: 0;
    }
    .sticky-total.fixed {
        left: 0;
    }
}
@media(max-width:480px) {
    .checkbox + .checkbox-text {
    	margin-left: 20px;
    }
    .process-payment .expiry-row .input-holder {
        width:100% !important;
    }
    .process-payment .expiry-row .input-holder:last-child .fancy-dropdown-wrapper .fancy-dropdown {
        margin-left: 0px;
    }
    .mobile-main .nav-items .link-holder a {
        font-size: 1.7em;
    }
}

@media(max-width:1400px) and (max-height:700px) and (min-width:992px) {
	.splash-screen-container .marker-enabled {
		font-size: 4em;
	}
	.splash-screen-container .features, .splash-screen-container .actions {
		margin-top: 30px !important;
	}
}

