
	/* main navigation... */
	
	header .hamburger-menu
	{
		position: absolute;
		top: 0px;
		right: 4.17%;
		
		margin-top: -22px;
		margin-right: -22px;
		
		width: 50px;
		height: 50px;
		
		background-color: rgba(255, 255, 255, 0.0);
		border-radius: 50%;
		
		z-index: 999;
		cursor: pointer;
		
		overflow: hidden;

		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	
	header .hamburger-menu .bar
	{
		position: absolute;
		height: 3px;
		background-color: #fff;
		
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	
	header .hamburger-menu .bar.one
	{
		top: 16px;
		left: 10px;
		width: 30px;
	}
	
	header .hamburger-menu .bar.two
	{
		top: 23px;
		left: 25px;
		width: 15px;
	}
	
	header .hamburger-menu .bar.three
	{
		top: 30px;
		left: 18px;
		width: 22px;
	}
	
	header .hamburger-menu.open
	{
		background-color: rgba(255, 255, 255, 1.0);
		top: 20px;
	}
	
	header .hamburger-menu.open .bar.one
	{
		width: 16px;
		left: 17px;
		top: 23px;
		
		background-color: #0072ce;
		
		-webkit-transform: rotate(-225deg);
		-moz-transform: rotate(-225deg);
		transform: rotate(-225deg);
	}
	
	header .hamburger-menu.open .bar.two
	{
		left: 100px;
		background-color: transparent;
		transition: none !important;
	}
	
	header .hamburger-menu.open .bar.three
	{
		width: 16px;
		left: 17px;
		top: 23px;
		
		background-color: #0072ce;
		
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
		transform: rotate(225deg);
	}
	header .hamburger-menu:hover .bar {
		background-color: #ff671f !important;
	}
	
	header.nav-hidden nav {
		top: -80px;
	}
	header .sticky-total {
		position: fixed;
		top: 30px;
		-webkit-transition: top .18s ease-in-out;
		-moz-transition: top .18s ease-in-out;
		transition: top .18s ease-in-out;
	}
	header.nav-hidden .sticky-total {
		top: -50px;
	}
	header .sticky-total .order-amount-holder {
		padding: 30px;	
	}


	nav 
	{
		-webkit-transition: all .18s ease-in-out;
		-moz-transition: all .18s ease-in-out;
		transition: all .18s ease-in-out;
	}
	nav,
	.splash-screen-container .splash-footer
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		
		margin-top: 50px;
		
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		
		font-size: 1.25em;
		letter-spacing: 1.2px;
		line-height: 1em;
	}
	
	.splash-screen-container .splash-footer
	{
		top: auto;
		bottom: 0;
		
		margin-top: auto;
		margin-bottom: 4.17%;
	}
	
	nav .row > *,
	.splash-screen-container .splash-footer .row > *
	{
		margin-top: -0.6em;
	}
	
	.splash-screen-container .splash-footer .row > *
	{
		margin-top: auto;
		margin-bottom: -0.6em;
	}
	
	nav a,
	.splash-screen-container .splash-footer a
	{
		color: #fff;
		display: inline-block;
		position: relative;
	}
	
	nav a:link,
	nav a:visited,
	nav a:hover,
	nav a:active,
	nav a:focus,
	.splash-screen-container .splash-footer a:link,
	.splash-screen-container .splash-footer a:visited,
	.splash-screen-container .splash-footer a:hover,
	.splash-screen-container .splash-footer a:active,
	.splash-screen-container .splash-footer a:focus
	{
		text-decoration: none;
		color: #fff!important;
	}
	
	nav a span,
	.splash-screen-container .splash-footer a span
	{
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
	
	nav a span,
	.splash-screen-container .splash-footer a span
	{
		transition: all 0.18s ease-out;
		-moz-transition: all 0.18s ease-out;
		-webkit-transition: all 0.18s ease-out;
	}
	
	nav a:hover span,
	.splash-screen-container .splash-footer a:hover span
	{
		color: #ff671f;
	}
	
	nav .row > *:first-child a:after
	{
		display: none;
	}
	
	nav .nav-logo
	{
		margin-top: -14px;
	}
	
	nav .nav-logo img
	{
		height: 27px;
	}
	
	nav .icon
	{
		height: 16px;
		margin-right: 15px;
		
		display: inline-block;
		vertical-align: middle;
	}
	
	nav:after
	{
		content: '';
		display: block;
		clear: both;
	}
	
	nav .header-quote-button
	{
		padding: 16px 18px;
		background-color: #ff671f;
		border-radius: 6px;
		margin-top: -15px;
		color: #fff!important;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	nav .header-quote-button:hover, nav .header-quote-button:focus, nav .header-quote-button:active {
		opacity: 0.9;
	}
	
	
	
	
	/* default navigation style... */
	
	body.nav-default .hamburger-menu
	{
		margin-top: 15px;
	}
	body.nav-default .hamburger-menu.open {
		margin-top: 25px;
	}
	
	body.nav-default .hamburger-menu .bar
	{
		background-color: #afb2bf;
	}
	body.nav-default .hamburger-menu:hover .bar {
		/* width: 100%; */
	}
	
	body.nav-default nav
	{
		height: 80px;
		background-color: #fff;
		
		margin-top: 0;
		box-shadow: 0px 1px 5px rgba(175, 175, 175, 0.2);
	}
	
	body.nav-default nav .row > *
	{
		margin-top: 32px;
	}
	
	body.nav-default nav .nav-logo
	{
		margin-top: 26px;
	}
	
	body.nav-default nav a,
	body.nav-default nav a:link,
	body.nav-default nav a:visited,
	body.nav-default nav a:hover,
	body.nav-default nav a:active,
	body.nav-default nav a:focus
	{
		color: #afb2bf!important;
	}
	
	body.nav-default nav a.header-quote-button
	{
		
		margin-top: 0px;
		position: relative;
		top: -16px;
		
		color: #fff!important;
	}

	.nav-links > div {
		display: inline-block;
		margin-right: 50px;
	}

	@media(max-width:1400px) {
		.nav-links > div {
			margin-right: 30px;
		}
	}

	@media(max-width:1200px) {
		.nav-links > div {
			margin-right: 30px;
		}
	}

	@media(max-width:991px) {
		.nav-links > div {
			margin-right: 30px;
		}
	}
	
	
	
	@media (max-width: 767px)
	{
		nav										{ margin-top: 35px; }
		header .hamburger-menu					{ right: 35px !important; top: 0px !important;}
		.splash-screen-container				{ background-position: center; }
		.splash-screen-container .splash-footer	{ margin-bottom: 35px; }
		
	}