body { margin:0; padding:0; font-family: 'Oswald';font-size: 13px;}
        #map { position:absolute; top:0; bottom:0; width:100%; }


        .mapboxgl-ctrl-bottom-left {display: none;}
        .mapboxgl-ctrl-bottom-right {display: none;}

        #sidebar {
            position: absolute;
            top: 0px;
            left: 60px;
            bottom: 15px;
            width: 440px;
            overflow: auto;
            font-family: "karla";
            background-color: #fff;
        }

        .mapboxgl-ctrl-group > button {
            width: 34px;
            height: 34px;
            display: block;
            padding: 0;
            outline: none;
            border: none;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            /* background-color: rgba(0,0,0,0); */
            cursor: pointer;
            background: white;
            color: white;
        }

        .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .mapboxgl-ctrl-group .mapboxgl-ctrl-compass {

}


    /* Profile container */
    .profile {
      margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
      padding: 10px 0 10px 0;
      background: #fff;
    }

    .profile-usertitle {
      text-align: center;
      margin-top: 20px;
    }

    .glyphicon { margin-right:20px; color: green; font-weight: 300; font-size: x-small;}
    .panel-body { padding:0px; }
    .panel-body table tr td { padding-left: 15px; background-color: #f5f5f5;}
    .panel-body .table {margin-bottom: 0px; }
/*
    .glyphicon { margin-right:20px; color: green; font-weight: 300; font-size: x-small;}
    .panel-body { padding:0px; }
    .panel-body table tr td { padding-left: 15px; background-color: #f5f5f5;}
    .panel-body .table {margin-bottom: 0px; }*/

    .panel {
        border: 0;
    }

    .table > thead > tr > th, .table > thead > tr > td {
        border: 0;
    }

    .panel-title {
        font-size: 18px; font-weight: 600;
        font-family: Oswald;
    }

    .mapboxgl-ctrl > button:hover {
        background-color: #fff;
    }



    /*toggle switch css*/
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2dcc70;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .awesome_slider_div {
        color: #666666;
        padding-top: 10px;
        line-height: 24.5pt;
        font-size: medium;
        /*margin-left: 23px;*/
        margin-left: 40px;
        text-transform: uppercase;
        font-family: karla;
    }

    /*modal position*/
    .position_me_well{
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 20px;
        width: 438px;
      }


    .the_legend{
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 200px;
        width: 250px;
      }

      .circle_legend {
      width: 12px;
      height: 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
      float: left;
      margin-left: -307px;
      margin-top: 10px;
    }


    .download_attributes {
      position: absolute;
      position: fixed;
      top : 134px;
      right: 6px;
      margin-right: 20px;
      width: 34px;
      height: 34px;
      display: block;
      padding: 0;
      outline: none;
      border: none;
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      /* background-color: rgba(0,0,0,0); */
      cursor: pointer;
      background: white;
      color: white;
      border-radius: 4px;
      -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    }





      /*body {
        padding-top: 50px;
      }*/
      .dropdown.dropdown-lg .dropdown-menu {
          margin-top: -1px;
          padding: 6px 20px;
      }
      .input-group-btn .btn-group {
          display: flex !important;
      }
      .btn-group .btn {
          border-radius: 0;
          margin-left: -1px;
          height: 34px;
      }
      .btn-group .btn:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
      }
      .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .form-horizontal .form-group {
          margin-left: 0;
          margin-right: 0;
      }
      .form-group .form-control:last-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;

      }

      @media screen and (min-width: 768px) {
          #adv-search {
              width: 250px;
              margin: 0 auto;
          }
          .dropdown.dropdown-lg {
              position: static !important;
          }
          .dropdown.dropdown-lg .dropdown-menu {
              min-width: 250px;
          }
      }