
	.mt-xs-0   { margin-top: 0px!important; }      .mt-xs-5   { margin-top: 5px!important; }      .mt-xs-10  { margin-top: 10px!important; }
	.mt-xs-15  { margin-top: 15px!important; }     .mt-xs-20  { margin-top: 20px!important; }     .mt-xs-25  { margin-top: 25px!important; }
	.mt-xs-30  { margin-top: 30px!important; }     .mt-xs-35  { margin-top: 35px!important; }     .mt-xs-40  { margin-top: 40px!important; }
	.mt-xs-45  { margin-top: 45px!important; }     .mt-xs-50  { margin-top: 50px!important; }     .mt-xs-55  { margin-top: 55px!important; }
	.mt-xs-60  { margin-top: 60px!important; }     .mt-xs-65  { margin-top: 65px!important; }     .mt-xs-70  { margin-top: 70px!important; }
	.mt-xs-75  { margin-top: 75px!important; }     .mt-xs-80  { margin-top: 80px!important; }     .mt-xs-85  { margin-top: 85px!important; }
	.mt-xs-90  { margin-top: 90px!important; }     .mt-xs-95  { margin-top: 95px!important; }     .mt-xs-100 { margin-top: 100px!important; }
	.mt-xs-105 { margin-top: 105px!important; }    .mt-xs-110 { margin-top: 110px!important; }    .mt-xs-115 { margin-top: 115px!important; }
	.mt-xs-120 { margin-top: 120px!important; }    .mt-xs-125 { margin-top: 125px!important; }    .mt-xs-130 { margin-top: 130px!important; }
	.mt-xs-135 { margin-top: 135px!important; }    .mt-xs-140 { margin-top: 140px!important; }    .mt-xs-145 { margin-top: 145px!important; }
	.mt-xs-150 { margin-top: 150px!important; }    .mt-xs-155 { margin-top: 155px!important; }    .mt-xs-160 { margin-top: 160px!important; }
	.mt-xs-165 { margin-top: 165px!important; }    .mt-xs-170 { margin-top: 170px!important; }    .mt-xs-175 { margin-top: 175px!important; }
	.mt-xs-180 { margin-top: 180px!important; }    .mt-xs-185 { margin-top: 185px!important; }    .mt-xs-190 { margin-top: 190px!important; }
	.mt-xs-195 { margin-top: 195px!important; }    .mt-xs-200 { margin-top: 200px!important; }    

	.mt-xs--0   { margin-top: -0px!important; }      .mt-xs--5   { margin-top: -5px!important; }      .mt-xs--10  { margin-top: -10px!important; }
	.mt-xs--15  { margin-top: -15px!important; }     .mt-xs--20  { margin-top: -20px!important; }     .mt-xs--25  { margin-top: -25px!important; }
	.mt-xs--30  { margin-top: -30px!important; }     .mt-xs--35  { margin-top: -35px!important; }     .mt-xs--40  { margin-top: -40px!important; }
	.mt-xs--45  { margin-top: -45px!important; }     .mt-xs--50  { margin-top: -50px!important; }     .mt-xs--55  { margin-top: -55px!important; }
	.mt-xs--60  { margin-top: -60px!important; }     .mt-xs--65  { margin-top: -65px!important; }     .mt-xs--70  { margin-top: -70px!important; }
	.mt-xs--75  { margin-top: -75px!important; }     .mt-xs--80  { margin-top: -80px!important; }     .mt-xs--85  { margin-top: -85px!important; }
	.mt-xs--90  { margin-top: -90px!important; }     .mt-xs--95  { margin-top: -95px!important; }     .mt-xs--100 { margin-top: -100px!important; }
	.mt-xs--105 { margin-top: -105px!important; }    .mt-xs--110 { margin-top: -110px!important; }    .mt-xs--115 { margin-top: -115px!important; }
	.mt-xs--120 { margin-top: -120px!important; }    .mt-xs--125 { margin-top: -125px!important; }    .mt-xs--130 { margin-top: -130px!important; }
	.mt-xs--135 { margin-top: -135px!important; }    .mt-xs--140 { margin-top: -140px!important; }    .mt-xs--145 { margin-top: -145px!important; }
	.mt-xs--150 { margin-top: -150px!important; }    .mt-xs--155 { margin-top: -155px!important; }    .mt-xs--160 { margin-top: -160px!important; }
	.mt-xs--165 { margin-top: -165px!important; }    .mt-xs--170 { margin-top: -170px!important; }    .mt-xs--175 { margin-top: -175px!important; }
	.mt-xs--180 { margin-top: -180px!important; }    .mt-xs--185 { margin-top: -185px!important; }    .mt-xs--190 { margin-top: -190px!important; }
	.mt-xs--195 { margin-top: -195px!important; }    .mt-xs--200 { margin-top: -200px!important; }    

	.mb-xs-0   { margin-bottom: 0px!important; }      .mb-xs-5   { margin-bottom: 5px!important; }      .mb-xs-10  { margin-bottom: 10px!important; }
	.mb-xs-15  { margin-bottom: 15px!important; }     .mb-xs-20  { margin-bottom: 20px!important; }     .mb-xs-25  { margin-bottom: 25px!important; }
	.mb-xs-30  { margin-bottom: 30px!important; }     .mb-xs-35  { margin-bottom: 35px!important; }     .mb-xs-40  { margin-bottom: 40px!important; }
	.mb-xs-45  { margin-bottom: 45px!important; }     .mb-xs-50  { margin-bottom: 50px!important; }     .mb-xs-55  { margin-bottom: 55px!important; }
	.mb-xs-60  { margin-bottom: 60px!important; }     .mb-xs-65  { margin-bottom: 65px!important; }     .mb-xs-70  { margin-bottom: 70px!important; }
	.mb-xs-75  { margin-bottom: 75px!important; }     .mb-xs-80  { margin-bottom: 80px!important; }     .mb-xs-85  { margin-bottom: 85px!important; }
	.mb-xs-90  { margin-bottom: 90px!important; }     .mb-xs-95  { margin-bottom: 95px!important; }     .mb-xs-100 { margin-bottom: 100px!important; }
	.mb-xs-105 { margin-bottom: 105px!important; }    .mb-xs-110 { margin-bottom: 110px!important; }    .mb-xs-115 { margin-bottom: 115px!important; }
	.mb-xs-120 { margin-bottom: 120px!important; }    .mb-xs-125 { margin-bottom: 125px!important; }    .mb-xs-130 { margin-bottom: 130px!important; }
	.mb-xs-135 { margin-bottom: 135px!important; }    .mb-xs-140 { margin-bottom: 140px!important; }    .mb-xs-145 { margin-bottom: 145px!important; }
	.mb-xs-150 { margin-bottom: 150px!important; }    .mb-xs-155 { margin-bottom: 155px!important; }    .mb-xs-160 { margin-bottom: 160px!important; }
	.mb-xs-165 { margin-bottom: 165px!important; }    .mb-xs-170 { margin-bottom: 170px!important; }    .mb-xs-175 { margin-bottom: 175px!important; }
	.mb-xs-180 { margin-bottom: 180px!important; }    .mb-xs-185 { margin-bottom: 185px!important; }    .mb-xs-190 { margin-bottom: 190px!important; }
	.mb-xs-195 { margin-bottom: 195px!important; }    .mb-xs-200 { margin-bottom: 200px!important; }    

	.mb-xs--0   { margin-bottom: -0px!important; }      .mb-xs--5   { margin-bottom: -5px!important; }      .mb-xs--10  { margin-bottom: -10px!important; }
	.mb-xs--15  { margin-bottom: -15px!important; }     .mb-xs--20  { margin-bottom: -20px!important; }     .mb-xs--25  { margin-bottom: -25px!important; }
	.mb-xs--30  { margin-bottom: -30px!important; }     .mb-xs--35  { margin-bottom: -35px!important; }     .mb-xs--40  { margin-bottom: -40px!important; }
	.mb-xs--45  { margin-bottom: -45px!important; }     .mb-xs--50  { margin-bottom: -50px!important; }     .mb-xs--55  { margin-bottom: -55px!important; }
	.mb-xs--60  { margin-bottom: -60px!important; }     .mb-xs--65  { margin-bottom: -65px!important; }     .mb-xs--70  { margin-bottom: -70px!important; }
	.mb-xs--75  { margin-bottom: -75px!important; }     .mb-xs--80  { margin-bottom: -80px!important; }     .mb-xs--85  { margin-bottom: -85px!important; }
	.mb-xs--90  { margin-bottom: -90px!important; }     .mb-xs--95  { margin-bottom: -95px!important; }     .mb-xs--100 { margin-bottom: -100px!important; }
	.mb-xs--105 { margin-bottom: -105px!important; }    .mb-xs--110 { margin-bottom: -110px!important; }    .mb-xs--115 { margin-bottom: -115px!important; }
	.mb-xs--120 { margin-bottom: -120px!important; }    .mb-xs--125 { margin-bottom: -125px!important; }    .mb-xs--130 { margin-bottom: -130px!important; }
	.mb-xs--135 { margin-bottom: -135px!important; }    .mb-xs--140 { margin-bottom: -140px!important; }    .mb-xs--145 { margin-bottom: -145px!important; }
	.mb-xs--150 { margin-bottom: -150px!important; }    .mb-xs--155 { margin-bottom: -155px!important; }    .mb-xs--160 { margin-bottom: -160px!important; }
	.mb-xs--165 { margin-bottom: -165px!important; }    .mb-xs--170 { margin-bottom: -170px!important; }    .mb-xs--175 { margin-bottom: -175px!important; }
	.mb-xs--180 { margin-bottom: -180px!important; }    .mb-xs--185 { margin-bottom: -185px!important; }    .mb-xs--190 { margin-bottom: -190px!important; }
	.mb-xs--195 { margin-bottom: -195px!important; }    .mb-xs--200 { margin-bottom: -200px!important; }    

	.ml-xs-0   { margin-left: 0px!important; }      .ml-xs-5   { margin-left: 5px!important; }      .ml-xs-10  { margin-left: 10px!important; }
	.ml-xs-15  { margin-left: 15px!important; }     .ml-xs-20  { margin-left: 20px!important; }     .ml-xs-25  { margin-left: 25px!important; }
	.ml-xs-30  { margin-left: 30px!important; }     .ml-xs-35  { margin-left: 35px!important; }     .ml-xs-40  { margin-left: 40px!important; }
	.ml-xs-45  { margin-left: 45px!important; }     .ml-xs-50  { margin-left: 50px!important; }     .ml-xs-55  { margin-left: 55px!important; }
	.ml-xs-60  { margin-left: 60px!important; }     .ml-xs-65  { margin-left: 65px!important; }     .ml-xs-70  { margin-left: 70px!important; }
	.ml-xs-75  { margin-left: 75px!important; }     .ml-xs-80  { margin-left: 80px!important; }     .ml-xs-85  { margin-left: 85px!important; }
	.ml-xs-90  { margin-left: 90px!important; }     .ml-xs-95  { margin-left: 95px!important; }     .ml-xs-100 { margin-left: 100px!important; }
	.ml-xs-105 { margin-left: 105px!important; }    .ml-xs-110 { margin-left: 110px!important; }    .ml-xs-115 { margin-left: 115px!important; }
	.ml-xs-120 { margin-left: 120px!important; }    .ml-xs-125 { margin-left: 125px!important; }    .ml-xs-130 { margin-left: 130px!important; }
	.ml-xs-135 { margin-left: 135px!important; }    .ml-xs-140 { margin-left: 140px!important; }    .ml-xs-145 { margin-left: 145px!important; }
	.ml-xs-150 { margin-left: 150px!important; }    .ml-xs-155 { margin-left: 155px!important; }    .ml-xs-160 { margin-left: 160px!important; }
	.ml-xs-165 { margin-left: 165px!important; }    .ml-xs-170 { margin-left: 170px!important; }    .ml-xs-175 { margin-left: 175px!important; }
	.ml-xs-180 { margin-left: 180px!important; }    .ml-xs-185 { margin-left: 185px!important; }    .ml-xs-190 { margin-left: 190px!important; }
	.ml-xs-195 { margin-left: 195px!important; }    .ml-xs-200 { margin-left: 200px!important; }    

	.ml-xs--0   { margin-left: -0px!important; }      .ml-xs--5   { margin-left: -5px!important; }      .ml-xs--10  { margin-left: -10px!important; }
	.ml-xs--15  { margin-left: -15px!important; }     .ml-xs--20  { margin-left: -20px!important; }     .ml-xs--25  { margin-left: -25px!important; }
	.ml-xs--30  { margin-left: -30px!important; }     .ml-xs--35  { margin-left: -35px!important; }     .ml-xs--40  { margin-left: -40px!important; }
	.ml-xs--45  { margin-left: -45px!important; }     .ml-xs--50  { margin-left: -50px!important; }     .ml-xs--55  { margin-left: -55px!important; }
	.ml-xs--60  { margin-left: -60px!important; }     .ml-xs--65  { margin-left: -65px!important; }     .ml-xs--70  { margin-left: -70px!important; }
	.ml-xs--75  { margin-left: -75px!important; }     .ml-xs--80  { margin-left: -80px!important; }     .ml-xs--85  { margin-left: -85px!important; }
	.ml-xs--90  { margin-left: -90px!important; }     .ml-xs--95  { margin-left: -95px!important; }     .ml-xs--100 { margin-left: -100px!important; }
	.ml-xs--105 { margin-left: -105px!important; }    .ml-xs--110 { margin-left: -110px!important; }    .ml-xs--115 { margin-left: -115px!important; }
	.ml-xs--120 { margin-left: -120px!important; }    .ml-xs--125 { margin-left: -125px!important; }    .ml-xs--130 { margin-left: -130px!important; }
	.ml-xs--135 { margin-left: -135px!important; }    .ml-xs--140 { margin-left: -140px!important; }    .ml-xs--145 { margin-left: -145px!important; }
	.ml-xs--150 { margin-left: -150px!important; }    .ml-xs--155 { margin-left: -155px!important; }    .ml-xs--160 { margin-left: -160px!important; }
	.ml-xs--165 { margin-left: -165px!important; }    .ml-xs--170 { margin-left: -170px!important; }    .ml-xs--175 { margin-left: -175px!important; }
	.ml-xs--180 { margin-left: -180px!important; }    .ml-xs--185 { margin-left: -185px!important; }    .ml-xs--190 { margin-left: -190px!important; }
	.ml-xs--195 { margin-left: -195px!important; }    .ml-xs--200 { margin-left: -200px!important; }    

	.mr-xs-0   { margin-right: 0px!important; }      .mr-xs-5   { margin-right: 5px!important; }      .mr-xs-10  { margin-right: 10px!important; }
	.mr-xs-15  { margin-right: 15px!important; }     .mr-xs-20  { margin-right: 20px!important; }     .mr-xs-25  { margin-right: 25px!important; }
	.mr-xs-30  { margin-right: 30px!important; }     .mr-xs-35  { margin-right: 35px!important; }     .mr-xs-40  { margin-right: 40px!important; }
	.mr-xs-45  { margin-right: 45px!important; }     .mr-xs-50  { margin-right: 50px!important; }     .mr-xs-55  { margin-right: 55px!important; }
	.mr-xs-60  { margin-right: 60px!important; }     .mr-xs-65  { margin-right: 65px!important; }     .mr-xs-70  { margin-right: 70px!important; }
	.mr-xs-75  { margin-right: 75px!important; }     .mr-xs-80  { margin-right: 80px!important; }     .mr-xs-85  { margin-right: 85px!important; }
	.mr-xs-90  { margin-right: 90px!important; }     .mr-xs-95  { margin-right: 95px!important; }     .mr-xs-100 { margin-right: 100px!important; }
	.mr-xs-105 { margin-right: 105px!important; }    .mr-xs-110 { margin-right: 110px!important; }    .mr-xs-115 { margin-right: 115px!important; }
	.mr-xs-120 { margin-right: 120px!important; }    .mr-xs-125 { margin-right: 125px!important; }    .mr-xs-130 { margin-right: 130px!important; }
	.mr-xs-135 { margin-right: 135px!important; }    .mr-xs-140 { margin-right: 140px!important; }    .mr-xs-145 { margin-right: 145px!important; }
	.mr-xs-150 { margin-right: 150px!important; }    .mr-xs-155 { margin-right: 155px!important; }    .mr-xs-160 { margin-right: 160px!important; }
	.mr-xs-165 { margin-right: 165px!important; }    .mr-xs-170 { margin-right: 170px!important; }    .mr-xs-175 { margin-right: 175px!important; }
	.mr-xs-180 { margin-right: 180px!important; }    .mr-xs-185 { margin-right: 185px!important; }    .mr-xs-190 { margin-right: 190px!important; }
	.mr-xs-195 { margin-right: 195px!important; }    .mr-xs-200 { margin-right: 200px!important; }    

	.mr-xs--0   { margin-right: -0px!important; }      .mr-xs--5   { margin-right: -5px!important; }      .mr-xs--10  { margin-right: -10px!important; }
	.mr-xs--15  { margin-right: -15px!important; }     .mr-xs--20  { margin-right: -20px!important; }     .mr-xs--25  { margin-right: -25px!important; }
	.mr-xs--30  { margin-right: -30px!important; }     .mr-xs--35  { margin-right: -35px!important; }     .mr-xs--40  { margin-right: -40px!important; }
	.mr-xs--45  { margin-right: -45px!important; }     .mr-xs--50  { margin-right: -50px!important; }     .mr-xs--55  { margin-right: -55px!important; }
	.mr-xs--60  { margin-right: -60px!important; }     .mr-xs--65  { margin-right: -65px!important; }     .mr-xs--70  { margin-right: -70px!important; }
	.mr-xs--75  { margin-right: -75px!important; }     .mr-xs--80  { margin-right: -80px!important; }     .mr-xs--85  { margin-right: -85px!important; }
	.mr-xs--90  { margin-right: -90px!important; }     .mr-xs--95  { margin-right: -95px!important; }     .mr-xs--100 { margin-right: -100px!important; }
	.mr-xs--105 { margin-right: -105px!important; }    .mr-xs--110 { margin-right: -110px!important; }    .mr-xs--115 { margin-right: -115px!important; }
	.mr-xs--120 { margin-right: -120px!important; }    .mr-xs--125 { margin-right: -125px!important; }    .mr-xs--130 { margin-right: -130px!important; }
	.mr-xs--135 { margin-right: -135px!important; }    .mr-xs--140 { margin-right: -140px!important; }    .mr-xs--145 { margin-right: -145px!important; }
	.mr-xs--150 { margin-right: -150px!important; }    .mr-xs--155 { margin-right: -155px!important; }    .mr-xs--160 { margin-right: -160px!important; }
	.mr-xs--165 { margin-right: -165px!important; }    .mr-xs--170 { margin-right: -170px!important; }    .mr-xs--175 { margin-right: -175px!important; }
	.mr-xs--180 { margin-right: -180px!important; }    .mr-xs--185 { margin-right: -185px!important; }    .mr-xs--190 { margin-right: -190px!important; }
	.mr-xs--195 { margin-right: -195px!important; }    .mr-xs--200 { margin-right: -200px!important; }    

	@media (min-width: 768px)
	{
		.mt-sm-0   { margin-top: 0px!important; }      .mt-sm-5   { margin-top: 5px!important; }      .mt-sm-10  { margin-top: 10px!important; }
		.mt-sm-15  { margin-top: 15px!important; }     .mt-sm-20  { margin-top: 20px!important; }     .mt-sm-25  { margin-top: 25px!important; }
		.mt-sm-30  { margin-top: 30px!important; }     .mt-sm-35  { margin-top: 35px!important; }     .mt-sm-40  { margin-top: 40px!important; }
		.mt-sm-45  { margin-top: 45px!important; }     .mt-sm-50  { margin-top: 50px!important; }     .mt-sm-55  { margin-top: 55px!important; }
		.mt-sm-60  { margin-top: 60px!important; }     .mt-sm-65  { margin-top: 65px!important; }     .mt-sm-70  { margin-top: 70px!important; }
		.mt-sm-75  { margin-top: 75px!important; }     .mt-sm-80  { margin-top: 80px!important; }     .mt-sm-85  { margin-top: 85px!important; }
		.mt-sm-90  { margin-top: 90px!important; }     .mt-sm-95  { margin-top: 95px!important; }     .mt-sm-100 { margin-top: 100px!important; }
		.mt-sm-105 { margin-top: 105px!important; }    .mt-sm-110 { margin-top: 110px!important; }    .mt-sm-115 { margin-top: 115px!important; }
		.mt-sm-120 { margin-top: 120px!important; }    .mt-sm-125 { margin-top: 125px!important; }    .mt-sm-130 { margin-top: 130px!important; }
		.mt-sm-135 { margin-top: 135px!important; }    .mt-sm-140 { margin-top: 140px!important; }    .mt-sm-145 { margin-top: 145px!important; }
		.mt-sm-150 { margin-top: 150px!important; }    .mt-sm-155 { margin-top: 155px!important; }    .mt-sm-160 { margin-top: 160px!important; }
		.mt-sm-165 { margin-top: 165px!important; }    .mt-sm-170 { margin-top: 170px!important; }    .mt-sm-175 { margin-top: 175px!important; }
		.mt-sm-180 { margin-top: 180px!important; }    .mt-sm-185 { margin-top: 185px!important; }    .mt-sm-190 { margin-top: 190px!important; }
		.mt-sm-195 { margin-top: 195px!important; }    .mt-sm-200 { margin-top: 200px!important; }    
	}

	@media (min-width: 768px)
	{
		.mt-sm--0   { margin-top: -0px!important; }      .mt-sm--5   { margin-top: -5px!important; }      .mt-sm--10  { margin-top: -10px!important; }
		.mt-sm--15  { margin-top: -15px!important; }     .mt-sm--20  { margin-top: -20px!important; }     .mt-sm--25  { margin-top: -25px!important; }
		.mt-sm--30  { margin-top: -30px!important; }     .mt-sm--35  { margin-top: -35px!important; }     .mt-sm--40  { margin-top: -40px!important; }
		.mt-sm--45  { margin-top: -45px!important; }     .mt-sm--50  { margin-top: -50px!important; }     .mt-sm--55  { margin-top: -55px!important; }
		.mt-sm--60  { margin-top: -60px!important; }     .mt-sm--65  { margin-top: -65px!important; }     .mt-sm--70  { margin-top: -70px!important; }
		.mt-sm--75  { margin-top: -75px!important; }     .mt-sm--80  { margin-top: -80px!important; }     .mt-sm--85  { margin-top: -85px!important; }
		.mt-sm--90  { margin-top: -90px!important; }     .mt-sm--95  { margin-top: -95px!important; }     .mt-sm--100 { margin-top: -100px!important; }
		.mt-sm--105 { margin-top: -105px!important; }    .mt-sm--110 { margin-top: -110px!important; }    .mt-sm--115 { margin-top: -115px!important; }
		.mt-sm--120 { margin-top: -120px!important; }    .mt-sm--125 { margin-top: -125px!important; }    .mt-sm--130 { margin-top: -130px!important; }
		.mt-sm--135 { margin-top: -135px!important; }    .mt-sm--140 { margin-top: -140px!important; }    .mt-sm--145 { margin-top: -145px!important; }
		.mt-sm--150 { margin-top: -150px!important; }    .mt-sm--155 { margin-top: -155px!important; }    .mt-sm--160 { margin-top: -160px!important; }
		.mt-sm--165 { margin-top: -165px!important; }    .mt-sm--170 { margin-top: -170px!important; }    .mt-sm--175 { margin-top: -175px!important; }
		.mt-sm--180 { margin-top: -180px!important; }    .mt-sm--185 { margin-top: -185px!important; }    .mt-sm--190 { margin-top: -190px!important; }
		.mt-sm--195 { margin-top: -195px!important; }    .mt-sm--200 { margin-top: -200px!important; }    
	}

	@media (min-width: 768px)
	{
		.mb-sm-0   { margin-bottom: 0px!important; }      .mb-sm-5   { margin-bottom: 5px!important; }      .mb-sm-10  { margin-bottom: 10px!important; }
		.mb-sm-15  { margin-bottom: 15px!important; }     .mb-sm-20  { margin-bottom: 20px!important; }     .mb-sm-25  { margin-bottom: 25px!important; }
		.mb-sm-30  { margin-bottom: 30px!important; }     .mb-sm-35  { margin-bottom: 35px!important; }     .mb-sm-40  { margin-bottom: 40px!important; }
		.mb-sm-45  { margin-bottom: 45px!important; }     .mb-sm-50  { margin-bottom: 50px!important; }     .mb-sm-55  { margin-bottom: 55px!important; }
		.mb-sm-60  { margin-bottom: 60px!important; }     .mb-sm-65  { margin-bottom: 65px!important; }     .mb-sm-70  { margin-bottom: 70px!important; }
		.mb-sm-75  { margin-bottom: 75px!important; }     .mb-sm-80  { margin-bottom: 80px!important; }     .mb-sm-85  { margin-bottom: 85px!important; }
		.mb-sm-90  { margin-bottom: 90px!important; }     .mb-sm-95  { margin-bottom: 95px!important; }     .mb-sm-100 { margin-bottom: 100px!important; }
		.mb-sm-105 { margin-bottom: 105px!important; }    .mb-sm-110 { margin-bottom: 110px!important; }    .mb-sm-115 { margin-bottom: 115px!important; }
		.mb-sm-120 { margin-bottom: 120px!important; }    .mb-sm-125 { margin-bottom: 125px!important; }    .mb-sm-130 { margin-bottom: 130px!important; }
		.mb-sm-135 { margin-bottom: 135px!important; }    .mb-sm-140 { margin-bottom: 140px!important; }    .mb-sm-145 { margin-bottom: 145px!important; }
		.mb-sm-150 { margin-bottom: 150px!important; }    .mb-sm-155 { margin-bottom: 155px!important; }    .mb-sm-160 { margin-bottom: 160px!important; }
		.mb-sm-165 { margin-bottom: 165px!important; }    .mb-sm-170 { margin-bottom: 170px!important; }    .mb-sm-175 { margin-bottom: 175px!important; }
		.mb-sm-180 { margin-bottom: 180px!important; }    .mb-sm-185 { margin-bottom: 185px!important; }    .mb-sm-190 { margin-bottom: 190px!important; }
		.mb-sm-195 { margin-bottom: 195px!important; }    .mb-sm-200 { margin-bottom: 200px!important; }    
	}

	@media (min-width: 768px)
	{
		.mb-sm--0   { margin-bottom: -0px!important; }      .mb-sm--5   { margin-bottom: -5px!important; }      .mb-sm--10  { margin-bottom: -10px!important; }
		.mb-sm--15  { margin-bottom: -15px!important; }     .mb-sm--20  { margin-bottom: -20px!important; }     .mb-sm--25  { margin-bottom: -25px!important; }
		.mb-sm--30  { margin-bottom: -30px!important; }     .mb-sm--35  { margin-bottom: -35px!important; }     .mb-sm--40  { margin-bottom: -40px!important; }
		.mb-sm--45  { margin-bottom: -45px!important; }     .mb-sm--50  { margin-bottom: -50px!important; }     .mb-sm--55  { margin-bottom: -55px!important; }
		.mb-sm--60  { margin-bottom: -60px!important; }     .mb-sm--65  { margin-bottom: -65px!important; }     .mb-sm--70  { margin-bottom: -70px!important; }
		.mb-sm--75  { margin-bottom: -75px!important; }     .mb-sm--80  { margin-bottom: -80px!important; }     .mb-sm--85  { margin-bottom: -85px!important; }
		.mb-sm--90  { margin-bottom: -90px!important; }     .mb-sm--95  { margin-bottom: -95px!important; }     .mb-sm--100 { margin-bottom: -100px!important; }
		.mb-sm--105 { margin-bottom: -105px!important; }    .mb-sm--110 { margin-bottom: -110px!important; }    .mb-sm--115 { margin-bottom: -115px!important; }
		.mb-sm--120 { margin-bottom: -120px!important; }    .mb-sm--125 { margin-bottom: -125px!important; }    .mb-sm--130 { margin-bottom: -130px!important; }
		.mb-sm--135 { margin-bottom: -135px!important; }    .mb-sm--140 { margin-bottom: -140px!important; }    .mb-sm--145 { margin-bottom: -145px!important; }
		.mb-sm--150 { margin-bottom: -150px!important; }    .mb-sm--155 { margin-bottom: -155px!important; }    .mb-sm--160 { margin-bottom: -160px!important; }
		.mb-sm--165 { margin-bottom: -165px!important; }    .mb-sm--170 { margin-bottom: -170px!important; }    .mb-sm--175 { margin-bottom: -175px!important; }
		.mb-sm--180 { margin-bottom: -180px!important; }    .mb-sm--185 { margin-bottom: -185px!important; }    .mb-sm--190 { margin-bottom: -190px!important; }
		.mb-sm--195 { margin-bottom: -195px!important; }    .mb-sm--200 { margin-bottom: -200px!important; }    
	}

	@media (min-width: 768px)
	{
		.ml-sm-0   { margin-left: 0px!important; }      .ml-sm-5   { margin-left: 5px!important; }      .ml-sm-10  { margin-left: 10px!important; }
		.ml-sm-15  { margin-left: 15px!important; }     .ml-sm-20  { margin-left: 20px!important; }     .ml-sm-25  { margin-left: 25px!important; }
		.ml-sm-30  { margin-left: 30px!important; }     .ml-sm-35  { margin-left: 35px!important; }     .ml-sm-40  { margin-left: 40px!important; }
		.ml-sm-45  { margin-left: 45px!important; }     .ml-sm-50  { margin-left: 50px!important; }     .ml-sm-55  { margin-left: 55px!important; }
		.ml-sm-60  { margin-left: 60px!important; }     .ml-sm-65  { margin-left: 65px!important; }     .ml-sm-70  { margin-left: 70px!important; }
		.ml-sm-75  { margin-left: 75px!important; }     .ml-sm-80  { margin-left: 80px!important; }     .ml-sm-85  { margin-left: 85px!important; }
		.ml-sm-90  { margin-left: 90px!important; }     .ml-sm-95  { margin-left: 95px!important; }     .ml-sm-100 { margin-left: 100px!important; }
		.ml-sm-105 { margin-left: 105px!important; }    .ml-sm-110 { margin-left: 110px!important; }    .ml-sm-115 { margin-left: 115px!important; }
		.ml-sm-120 { margin-left: 120px!important; }    .ml-sm-125 { margin-left: 125px!important; }    .ml-sm-130 { margin-left: 130px!important; }
		.ml-sm-135 { margin-left: 135px!important; }    .ml-sm-140 { margin-left: 140px!important; }    .ml-sm-145 { margin-left: 145px!important; }
		.ml-sm-150 { margin-left: 150px!important; }    .ml-sm-155 { margin-left: 155px!important; }    .ml-sm-160 { margin-left: 160px!important; }
		.ml-sm-165 { margin-left: 165px!important; }    .ml-sm-170 { margin-left: 170px!important; }    .ml-sm-175 { margin-left: 175px!important; }
		.ml-sm-180 { margin-left: 180px!important; }    .ml-sm-185 { margin-left: 185px!important; }    .ml-sm-190 { margin-left: 190px!important; }
		.ml-sm-195 { margin-left: 195px!important; }    .ml-sm-200 { margin-left: 200px!important; }    
	}

	@media (min-width: 768px)
	{
		.ml-sm--0   { margin-left: -0px!important; }      .ml-sm--5   { margin-left: -5px!important; }      .ml-sm--10  { margin-left: -10px!important; }
		.ml-sm--15  { margin-left: -15px!important; }     .ml-sm--20  { margin-left: -20px!important; }     .ml-sm--25  { margin-left: -25px!important; }
		.ml-sm--30  { margin-left: -30px!important; }     .ml-sm--35  { margin-left: -35px!important; }     .ml-sm--40  { margin-left: -40px!important; }
		.ml-sm--45  { margin-left: -45px!important; }     .ml-sm--50  { margin-left: -50px!important; }     .ml-sm--55  { margin-left: -55px!important; }
		.ml-sm--60  { margin-left: -60px!important; }     .ml-sm--65  { margin-left: -65px!important; }     .ml-sm--70  { margin-left: -70px!important; }
		.ml-sm--75  { margin-left: -75px!important; }     .ml-sm--80  { margin-left: -80px!important; }     .ml-sm--85  { margin-left: -85px!important; }
		.ml-sm--90  { margin-left: -90px!important; }     .ml-sm--95  { margin-left: -95px!important; }     .ml-sm--100 { margin-left: -100px!important; }
		.ml-sm--105 { margin-left: -105px!important; }    .ml-sm--110 { margin-left: -110px!important; }    .ml-sm--115 { margin-left: -115px!important; }
		.ml-sm--120 { margin-left: -120px!important; }    .ml-sm--125 { margin-left: -125px!important; }    .ml-sm--130 { margin-left: -130px!important; }
		.ml-sm--135 { margin-left: -135px!important; }    .ml-sm--140 { margin-left: -140px!important; }    .ml-sm--145 { margin-left: -145px!important; }
		.ml-sm--150 { margin-left: -150px!important; }    .ml-sm--155 { margin-left: -155px!important; }    .ml-sm--160 { margin-left: -160px!important; }
		.ml-sm--165 { margin-left: -165px!important; }    .ml-sm--170 { margin-left: -170px!important; }    .ml-sm--175 { margin-left: -175px!important; }
		.ml-sm--180 { margin-left: -180px!important; }    .ml-sm--185 { margin-left: -185px!important; }    .ml-sm--190 { margin-left: -190px!important; }
		.ml-sm--195 { margin-left: -195px!important; }    .ml-sm--200 { margin-left: -200px!important; }    
	}

	@media (min-width: 768px)
	{
		.mr-sm-0   { margin-right: 0px!important; }      .mr-sm-5   { margin-right: 5px!important; }      .mr-sm-10  { margin-right: 10px!important; }
		.mr-sm-15  { margin-right: 15px!important; }     .mr-sm-20  { margin-right: 20px!important; }     .mr-sm-25  { margin-right: 25px!important; }
		.mr-sm-30  { margin-right: 30px!important; }     .mr-sm-35  { margin-right: 35px!important; }     .mr-sm-40  { margin-right: 40px!important; }
		.mr-sm-45  { margin-right: 45px!important; }     .mr-sm-50  { margin-right: 50px!important; }     .mr-sm-55  { margin-right: 55px!important; }
		.mr-sm-60  { margin-right: 60px!important; }     .mr-sm-65  { margin-right: 65px!important; }     .mr-sm-70  { margin-right: 70px!important; }
		.mr-sm-75  { margin-right: 75px!important; }     .mr-sm-80  { margin-right: 80px!important; }     .mr-sm-85  { margin-right: 85px!important; }
		.mr-sm-90  { margin-right: 90px!important; }     .mr-sm-95  { margin-right: 95px!important; }     .mr-sm-100 { margin-right: 100px!important; }
		.mr-sm-105 { margin-right: 105px!important; }    .mr-sm-110 { margin-right: 110px!important; }    .mr-sm-115 { margin-right: 115px!important; }
		.mr-sm-120 { margin-right: 120px!important; }    .mr-sm-125 { margin-right: 125px!important; }    .mr-sm-130 { margin-right: 130px!important; }
		.mr-sm-135 { margin-right: 135px!important; }    .mr-sm-140 { margin-right: 140px!important; }    .mr-sm-145 { margin-right: 145px!important; }
		.mr-sm-150 { margin-right: 150px!important; }    .mr-sm-155 { margin-right: 155px!important; }    .mr-sm-160 { margin-right: 160px!important; }
		.mr-sm-165 { margin-right: 165px!important; }    .mr-sm-170 { margin-right: 170px!important; }    .mr-sm-175 { margin-right: 175px!important; }
		.mr-sm-180 { margin-right: 180px!important; }    .mr-sm-185 { margin-right: 185px!important; }    .mr-sm-190 { margin-right: 190px!important; }
		.mr-sm-195 { margin-right: 195px!important; }    .mr-sm-200 { margin-right: 200px!important; }    
	}

	@media (min-width: 768px)
	{
		.mr-sm--0   { margin-right: -0px!important; }      .mr-sm--5   { margin-right: -5px!important; }      .mr-sm--10  { margin-right: -10px!important; }
		.mr-sm--15  { margin-right: -15px!important; }     .mr-sm--20  { margin-right: -20px!important; }     .mr-sm--25  { margin-right: -25px!important; }
		.mr-sm--30  { margin-right: -30px!important; }     .mr-sm--35  { margin-right: -35px!important; }     .mr-sm--40  { margin-right: -40px!important; }
		.mr-sm--45  { margin-right: -45px!important; }     .mr-sm--50  { margin-right: -50px!important; }     .mr-sm--55  { margin-right: -55px!important; }
		.mr-sm--60  { margin-right: -60px!important; }     .mr-sm--65  { margin-right: -65px!important; }     .mr-sm--70  { margin-right: -70px!important; }
		.mr-sm--75  { margin-right: -75px!important; }     .mr-sm--80  { margin-right: -80px!important; }     .mr-sm--85  { margin-right: -85px!important; }
		.mr-sm--90  { margin-right: -90px!important; }     .mr-sm--95  { margin-right: -95px!important; }     .mr-sm--100 { margin-right: -100px!important; }
		.mr-sm--105 { margin-right: -105px!important; }    .mr-sm--110 { margin-right: -110px!important; }    .mr-sm--115 { margin-right: -115px!important; }
		.mr-sm--120 { margin-right: -120px!important; }    .mr-sm--125 { margin-right: -125px!important; }    .mr-sm--130 { margin-right: -130px!important; }
		.mr-sm--135 { margin-right: -135px!important; }    .mr-sm--140 { margin-right: -140px!important; }    .mr-sm--145 { margin-right: -145px!important; }
		.mr-sm--150 { margin-right: -150px!important; }    .mr-sm--155 { margin-right: -155px!important; }    .mr-sm--160 { margin-right: -160px!important; }
		.mr-sm--165 { margin-right: -165px!important; }    .mr-sm--170 { margin-right: -170px!important; }    .mr-sm--175 { margin-right: -175px!important; }
		.mr-sm--180 { margin-right: -180px!important; }    .mr-sm--185 { margin-right: -185px!important; }    .mr-sm--190 { margin-right: -190px!important; }
		.mr-sm--195 { margin-right: -195px!important; }    .mr-sm--200 { margin-right: -200px!important; }    
	}

	@media (min-width: 992px)
	{
		.mt-md-0   { margin-top: 0px!important; }      .mt-md-5   { margin-top: 5px!important; }      .mt-md-10  { margin-top: 10px!important; }
		.mt-md-15  { margin-top: 15px!important; }     .mt-md-20  { margin-top: 20px!important; }     .mt-md-25  { margin-top: 25px!important; }
		.mt-md-30  { margin-top: 30px!important; }     .mt-md-35  { margin-top: 35px!important; }     .mt-md-40  { margin-top: 40px!important; }
		.mt-md-45  { margin-top: 45px!important; }     .mt-md-50  { margin-top: 50px!important; }     .mt-md-55  { margin-top: 55px!important; }
		.mt-md-60  { margin-top: 60px!important; }     .mt-md-65  { margin-top: 65px!important; }     .mt-md-70  { margin-top: 70px!important; }
		.mt-md-75  { margin-top: 75px!important; }     .mt-md-80  { margin-top: 80px!important; }     .mt-md-85  { margin-top: 85px!important; }
		.mt-md-90  { margin-top: 90px!important; }     .mt-md-95  { margin-top: 95px!important; }     .mt-md-100 { margin-top: 100px!important; }
		.mt-md-105 { margin-top: 105px!important; }    .mt-md-110 { margin-top: 110px!important; }    .mt-md-115 { margin-top: 115px!important; }
		.mt-md-120 { margin-top: 120px!important; }    .mt-md-125 { margin-top: 125px!important; }    .mt-md-130 { margin-top: 130px!important; }
		.mt-md-135 { margin-top: 135px!important; }    .mt-md-140 { margin-top: 140px!important; }    .mt-md-145 { margin-top: 145px!important; }
		.mt-md-150 { margin-top: 150px!important; }    .mt-md-155 { margin-top: 155px!important; }    .mt-md-160 { margin-top: 160px!important; }
		.mt-md-165 { margin-top: 165px!important; }    .mt-md-170 { margin-top: 170px!important; }    .mt-md-175 { margin-top: 175px!important; }
		.mt-md-180 { margin-top: 180px!important; }    .mt-md-185 { margin-top: 185px!important; }    .mt-md-190 { margin-top: 190px!important; }
		.mt-md-195 { margin-top: 195px!important; }    .mt-md-200 { margin-top: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.mt-md--0   { margin-top: -0px!important; }      .mt-md--5   { margin-top: -5px!important; }      .mt-md--10  { margin-top: -10px!important; }
		.mt-md--15  { margin-top: -15px!important; }     .mt-md--20  { margin-top: -20px!important; }     .mt-md--25  { margin-top: -25px!important; }
		.mt-md--30  { margin-top: -30px!important; }     .mt-md--35  { margin-top: -35px!important; }     .mt-md--40  { margin-top: -40px!important; }
		.mt-md--45  { margin-top: -45px!important; }     .mt-md--50  { margin-top: -50px!important; }     .mt-md--55  { margin-top: -55px!important; }
		.mt-md--60  { margin-top: -60px!important; }     .mt-md--65  { margin-top: -65px!important; }     .mt-md--70  { margin-top: -70px!important; }
		.mt-md--75  { margin-top: -75px!important; }     .mt-md--80  { margin-top: -80px!important; }     .mt-md--85  { margin-top: -85px!important; }
		.mt-md--90  { margin-top: -90px!important; }     .mt-md--95  { margin-top: -95px!important; }     .mt-md--100 { margin-top: -100px!important; }
		.mt-md--105 { margin-top: -105px!important; }    .mt-md--110 { margin-top: -110px!important; }    .mt-md--115 { margin-top: -115px!important; }
		.mt-md--120 { margin-top: -120px!important; }    .mt-md--125 { margin-top: -125px!important; }    .mt-md--130 { margin-top: -130px!important; }
		.mt-md--135 { margin-top: -135px!important; }    .mt-md--140 { margin-top: -140px!important; }    .mt-md--145 { margin-top: -145px!important; }
		.mt-md--150 { margin-top: -150px!important; }    .mt-md--155 { margin-top: -155px!important; }    .mt-md--160 { margin-top: -160px!important; }
		.mt-md--165 { margin-top: -165px!important; }    .mt-md--170 { margin-top: -170px!important; }    .mt-md--175 { margin-top: -175px!important; }
		.mt-md--180 { margin-top: -180px!important; }    .mt-md--185 { margin-top: -185px!important; }    .mt-md--190 { margin-top: -190px!important; }
		.mt-md--195 { margin-top: -195px!important; }    .mt-md--200 { margin-top: -200px!important; }    
	}

	@media (min-width: 992px)
	{
		.mb-md-0   { margin-bottom: 0px!important; }      .mb-md-5   { margin-bottom: 5px!important; }      .mb-md-10  { margin-bottom: 10px!important; }
		.mb-md-15  { margin-bottom: 15px!important; }     .mb-md-20  { margin-bottom: 20px!important; }     .mb-md-25  { margin-bottom: 25px!important; }
		.mb-md-30  { margin-bottom: 30px!important; }     .mb-md-35  { margin-bottom: 35px!important; }     .mb-md-40  { margin-bottom: 40px!important; }
		.mb-md-45  { margin-bottom: 45px!important; }     .mb-md-50  { margin-bottom: 50px!important; }     .mb-md-55  { margin-bottom: 55px!important; }
		.mb-md-60  { margin-bottom: 60px!important; }     .mb-md-65  { margin-bottom: 65px!important; }     .mb-md-70  { margin-bottom: 70px!important; }
		.mb-md-75  { margin-bottom: 75px!important; }     .mb-md-80  { margin-bottom: 80px!important; }     .mb-md-85  { margin-bottom: 85px!important; }
		.mb-md-90  { margin-bottom: 90px!important; }     .mb-md-95  { margin-bottom: 95px!important; }     .mb-md-100 { margin-bottom: 100px!important; }
		.mb-md-105 { margin-bottom: 105px!important; }    .mb-md-110 { margin-bottom: 110px!important; }    .mb-md-115 { margin-bottom: 115px!important; }
		.mb-md-120 { margin-bottom: 120px!important; }    .mb-md-125 { margin-bottom: 125px!important; }    .mb-md-130 { margin-bottom: 130px!important; }
		.mb-md-135 { margin-bottom: 135px!important; }    .mb-md-140 { margin-bottom: 140px!important; }    .mb-md-145 { margin-bottom: 145px!important; }
		.mb-md-150 { margin-bottom: 150px!important; }    .mb-md-155 { margin-bottom: 155px!important; }    .mb-md-160 { margin-bottom: 160px!important; }
		.mb-md-165 { margin-bottom: 165px!important; }    .mb-md-170 { margin-bottom: 170px!important; }    .mb-md-175 { margin-bottom: 175px!important; }
		.mb-md-180 { margin-bottom: 180px!important; }    .mb-md-185 { margin-bottom: 185px!important; }    .mb-md-190 { margin-bottom: 190px!important; }
		.mb-md-195 { margin-bottom: 195px!important; }    .mb-md-200 { margin-bottom: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.mb-md--0   { margin-bottom: -0px!important; }      .mb-md--5   { margin-bottom: -5px!important; }      .mb-md--10  { margin-bottom: -10px!important; }
		.mb-md--15  { margin-bottom: -15px!important; }     .mb-md--20  { margin-bottom: -20px!important; }     .mb-md--25  { margin-bottom: -25px!important; }
		.mb-md--30  { margin-bottom: -30px!important; }     .mb-md--35  { margin-bottom: -35px!important; }     .mb-md--40  { margin-bottom: -40px!important; }
		.mb-md--45  { margin-bottom: -45px!important; }     .mb-md--50  { margin-bottom: -50px!important; }     .mb-md--55  { margin-bottom: -55px!important; }
		.mb-md--60  { margin-bottom: -60px!important; }     .mb-md--65  { margin-bottom: -65px!important; }     .mb-md--70  { margin-bottom: -70px!important; }
		.mb-md--75  { margin-bottom: -75px!important; }     .mb-md--80  { margin-bottom: -80px!important; }     .mb-md--85  { margin-bottom: -85px!important; }
		.mb-md--90  { margin-bottom: -90px!important; }     .mb-md--95  { margin-bottom: -95px!important; }     .mb-md--100 { margin-bottom: -100px!important; }
		.mb-md--105 { margin-bottom: -105px!important; }    .mb-md--110 { margin-bottom: -110px!important; }    .mb-md--115 { margin-bottom: -115px!important; }
		.mb-md--120 { margin-bottom: -120px!important; }    .mb-md--125 { margin-bottom: -125px!important; }    .mb-md--130 { margin-bottom: -130px!important; }
		.mb-md--135 { margin-bottom: -135px!important; }    .mb-md--140 { margin-bottom: -140px!important; }    .mb-md--145 { margin-bottom: -145px!important; }
		.mb-md--150 { margin-bottom: -150px!important; }    .mb-md--155 { margin-bottom: -155px!important; }    .mb-md--160 { margin-bottom: -160px!important; }
		.mb-md--165 { margin-bottom: -165px!important; }    .mb-md--170 { margin-bottom: -170px!important; }    .mb-md--175 { margin-bottom: -175px!important; }
		.mb-md--180 { margin-bottom: -180px!important; }    .mb-md--185 { margin-bottom: -185px!important; }    .mb-md--190 { margin-bottom: -190px!important; }
		.mb-md--195 { margin-bottom: -195px!important; }    .mb-md--200 { margin-bottom: -200px!important; }    
	}

	@media (min-width: 992px)
	{
		.ml-md-0   { margin-left: 0px!important; }      .ml-md-5   { margin-left: 5px!important; }      .ml-md-10  { margin-left: 10px!important; }
		.ml-md-15  { margin-left: 15px!important; }     .ml-md-20  { margin-left: 20px!important; }     .ml-md-25  { margin-left: 25px!important; }
		.ml-md-30  { margin-left: 30px!important; }     .ml-md-35  { margin-left: 35px!important; }     .ml-md-40  { margin-left: 40px!important; }
		.ml-md-45  { margin-left: 45px!important; }     .ml-md-50  { margin-left: 50px!important; }     .ml-md-55  { margin-left: 55px!important; }
		.ml-md-60  { margin-left: 60px!important; }     .ml-md-65  { margin-left: 65px!important; }     .ml-md-70  { margin-left: 70px!important; }
		.ml-md-75  { margin-left: 75px!important; }     .ml-md-80  { margin-left: 80px!important; }     .ml-md-85  { margin-left: 85px!important; }
		.ml-md-90  { margin-left: 90px!important; }     .ml-md-95  { margin-left: 95px!important; }     .ml-md-100 { margin-left: 100px!important; }
		.ml-md-105 { margin-left: 105px!important; }    .ml-md-110 { margin-left: 110px!important; }    .ml-md-115 { margin-left: 115px!important; }
		.ml-md-120 { margin-left: 120px!important; }    .ml-md-125 { margin-left: 125px!important; }    .ml-md-130 { margin-left: 130px!important; }
		.ml-md-135 { margin-left: 135px!important; }    .ml-md-140 { margin-left: 140px!important; }    .ml-md-145 { margin-left: 145px!important; }
		.ml-md-150 { margin-left: 150px!important; }    .ml-md-155 { margin-left: 155px!important; }    .ml-md-160 { margin-left: 160px!important; }
		.ml-md-165 { margin-left: 165px!important; }    .ml-md-170 { margin-left: 170px!important; }    .ml-md-175 { margin-left: 175px!important; }
		.ml-md-180 { margin-left: 180px!important; }    .ml-md-185 { margin-left: 185px!important; }    .ml-md-190 { margin-left: 190px!important; }
		.ml-md-195 { margin-left: 195px!important; }    .ml-md-200 { margin-left: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.ml-md--0   { margin-left: -0px!important; }      .ml-md--5   { margin-left: -5px!important; }      .ml-md--10  { margin-left: -10px!important; }
		.ml-md--15  { margin-left: -15px!important; }     .ml-md--20  { margin-left: -20px!important; }     .ml-md--25  { margin-left: -25px!important; }
		.ml-md--30  { margin-left: -30px!important; }     .ml-md--35  { margin-left: -35px!important; }     .ml-md--40  { margin-left: -40px!important; }
		.ml-md--45  { margin-left: -45px!important; }     .ml-md--50  { margin-left: -50px!important; }     .ml-md--55  { margin-left: -55px!important; }
		.ml-md--60  { margin-left: -60px!important; }     .ml-md--65  { margin-left: -65px!important; }     .ml-md--70  { margin-left: -70px!important; }
		.ml-md--75  { margin-left: -75px!important; }     .ml-md--80  { margin-left: -80px!important; }     .ml-md--85  { margin-left: -85px!important; }
		.ml-md--90  { margin-left: -90px!important; }     .ml-md--95  { margin-left: -95px!important; }     .ml-md--100 { margin-left: -100px!important; }
		.ml-md--105 { margin-left: -105px!important; }    .ml-md--110 { margin-left: -110px!important; }    .ml-md--115 { margin-left: -115px!important; }
		.ml-md--120 { margin-left: -120px!important; }    .ml-md--125 { margin-left: -125px!important; }    .ml-md--130 { margin-left: -130px!important; }
		.ml-md--135 { margin-left: -135px!important; }    .ml-md--140 { margin-left: -140px!important; }    .ml-md--145 { margin-left: -145px!important; }
		.ml-md--150 { margin-left: -150px!important; }    .ml-md--155 { margin-left: -155px!important; }    .ml-md--160 { margin-left: -160px!important; }
		.ml-md--165 { margin-left: -165px!important; }    .ml-md--170 { margin-left: -170px!important; }    .ml-md--175 { margin-left: -175px!important; }
		.ml-md--180 { margin-left: -180px!important; }    .ml-md--185 { margin-left: -185px!important; }    .ml-md--190 { margin-left: -190px!important; }
		.ml-md--195 { margin-left: -195px!important; }    .ml-md--200 { margin-left: -200px!important; }    
	}

	@media (min-width: 992px)
	{
		.mr-md-0   { margin-right: 0px!important; }      .mr-md-5   { margin-right: 5px!important; }      .mr-md-10  { margin-right: 10px!important; }
		.mr-md-15  { margin-right: 15px!important; }     .mr-md-20  { margin-right: 20px!important; }     .mr-md-25  { margin-right: 25px!important; }
		.mr-md-30  { margin-right: 30px!important; }     .mr-md-35  { margin-right: 35px!important; }     .mr-md-40  { margin-right: 40px!important; }
		.mr-md-45  { margin-right: 45px!important; }     .mr-md-50  { margin-right: 50px!important; }     .mr-md-55  { margin-right: 55px!important; }
		.mr-md-60  { margin-right: 60px!important; }     .mr-md-65  { margin-right: 65px!important; }     .mr-md-70  { margin-right: 70px!important; }
		.mr-md-75  { margin-right: 75px!important; }     .mr-md-80  { margin-right: 80px!important; }     .mr-md-85  { margin-right: 85px!important; }
		.mr-md-90  { margin-right: 90px!important; }     .mr-md-95  { margin-right: 95px!important; }     .mr-md-100 { margin-right: 100px!important; }
		.mr-md-105 { margin-right: 105px!important; }    .mr-md-110 { margin-right: 110px!important; }    .mr-md-115 { margin-right: 115px!important; }
		.mr-md-120 { margin-right: 120px!important; }    .mr-md-125 { margin-right: 125px!important; }    .mr-md-130 { margin-right: 130px!important; }
		.mr-md-135 { margin-right: 135px!important; }    .mr-md-140 { margin-right: 140px!important; }    .mr-md-145 { margin-right: 145px!important; }
		.mr-md-150 { margin-right: 150px!important; }    .mr-md-155 { margin-right: 155px!important; }    .mr-md-160 { margin-right: 160px!important; }
		.mr-md-165 { margin-right: 165px!important; }    .mr-md-170 { margin-right: 170px!important; }    .mr-md-175 { margin-right: 175px!important; }
		.mr-md-180 { margin-right: 180px!important; }    .mr-md-185 { margin-right: 185px!important; }    .mr-md-190 { margin-right: 190px!important; }
		.mr-md-195 { margin-right: 195px!important; }    .mr-md-200 { margin-right: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.mr-md--0   { margin-right: -0px!important; }      .mr-md--5   { margin-right: -5px!important; }      .mr-md--10  { margin-right: -10px!important; }
		.mr-md--15  { margin-right: -15px!important; }     .mr-md--20  { margin-right: -20px!important; }     .mr-md--25  { margin-right: -25px!important; }
		.mr-md--30  { margin-right: -30px!important; }     .mr-md--35  { margin-right: -35px!important; }     .mr-md--40  { margin-right: -40px!important; }
		.mr-md--45  { margin-right: -45px!important; }     .mr-md--50  { margin-right: -50px!important; }     .mr-md--55  { margin-right: -55px!important; }
		.mr-md--60  { margin-right: -60px!important; }     .mr-md--65  { margin-right: -65px!important; }     .mr-md--70  { margin-right: -70px!important; }
		.mr-md--75  { margin-right: -75px!important; }     .mr-md--80  { margin-right: -80px!important; }     .mr-md--85  { margin-right: -85px!important; }
		.mr-md--90  { margin-right: -90px!important; }     .mr-md--95  { margin-right: -95px!important; }     .mr-md--100 { margin-right: -100px!important; }
		.mr-md--105 { margin-right: -105px!important; }    .mr-md--110 { margin-right: -110px!important; }    .mr-md--115 { margin-right: -115px!important; }
		.mr-md--120 { margin-right: -120px!important; }    .mr-md--125 { margin-right: -125px!important; }    .mr-md--130 { margin-right: -130px!important; }
		.mr-md--135 { margin-right: -135px!important; }    .mr-md--140 { margin-right: -140px!important; }    .mr-md--145 { margin-right: -145px!important; }
		.mr-md--150 { margin-right: -150px!important; }    .mr-md--155 { margin-right: -155px!important; }    .mr-md--160 { margin-right: -160px!important; }
		.mr-md--165 { margin-right: -165px!important; }    .mr-md--170 { margin-right: -170px!important; }    .mr-md--175 { margin-right: -175px!important; }
		.mr-md--180 { margin-right: -180px!important; }    .mr-md--185 { margin-right: -185px!important; }    .mr-md--190 { margin-right: -190px!important; }
		.mr-md--195 { margin-right: -195px!important; }    .mr-md--200 { margin-right: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mt-lg-0   { margin-top: 0px!important; }      .mt-lg-5   { margin-top: 5px!important; }      .mt-lg-10  { margin-top: 10px!important; }
		.mt-lg-15  { margin-top: 15px!important; }     .mt-lg-20  { margin-top: 20px!important; }     .mt-lg-25  { margin-top: 25px!important; }
		.mt-lg-30  { margin-top: 30px!important; }     .mt-lg-35  { margin-top: 35px!important; }     .mt-lg-40  { margin-top: 40px!important; }
		.mt-lg-45  { margin-top: 45px!important; }     .mt-lg-50  { margin-top: 50px!important; }     .mt-lg-55  { margin-top: 55px!important; }
		.mt-lg-60  { margin-top: 60px!important; }     .mt-lg-65  { margin-top: 65px!important; }     .mt-lg-70  { margin-top: 70px!important; }
		.mt-lg-75  { margin-top: 75px!important; }     .mt-lg-80  { margin-top: 80px!important; }     .mt-lg-85  { margin-top: 85px!important; }
		.mt-lg-90  { margin-top: 90px!important; }     .mt-lg-95  { margin-top: 95px!important; }     .mt-lg-100 { margin-top: 100px!important; }
		.mt-lg-105 { margin-top: 105px!important; }    .mt-lg-110 { margin-top: 110px!important; }    .mt-lg-115 { margin-top: 115px!important; }
		.mt-lg-120 { margin-top: 120px!important; }    .mt-lg-125 { margin-top: 125px!important; }    .mt-lg-130 { margin-top: 130px!important; }
		.mt-lg-135 { margin-top: 135px!important; }    .mt-lg-140 { margin-top: 140px!important; }    .mt-lg-145 { margin-top: 145px!important; }
		.mt-lg-150 { margin-top: 150px!important; }    .mt-lg-155 { margin-top: 155px!important; }    .mt-lg-160 { margin-top: 160px!important; }
		.mt-lg-165 { margin-top: 165px!important; }    .mt-lg-170 { margin-top: 170px!important; }    .mt-lg-175 { margin-top: 175px!important; }
		.mt-lg-180 { margin-top: 180px!important; }    .mt-lg-185 { margin-top: 185px!important; }    .mt-lg-190 { margin-top: 190px!important; }
		.mt-lg-195 { margin-top: 195px!important; }    .mt-lg-200 { margin-top: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mt-lg--0   { margin-top: -0px!important; }      .mt-lg--5   { margin-top: -5px!important; }      .mt-lg--10  { margin-top: -10px!important; }
		.mt-lg--15  { margin-top: -15px!important; }     .mt-lg--20  { margin-top: -20px!important; }     .mt-lg--25  { margin-top: -25px!important; }
		.mt-lg--30  { margin-top: -30px!important; }     .mt-lg--35  { margin-top: -35px!important; }     .mt-lg--40  { margin-top: -40px!important; }
		.mt-lg--45  { margin-top: -45px!important; }     .mt-lg--50  { margin-top: -50px!important; }     .mt-lg--55  { margin-top: -55px!important; }
		.mt-lg--60  { margin-top: -60px!important; }     .mt-lg--65  { margin-top: -65px!important; }     .mt-lg--70  { margin-top: -70px!important; }
		.mt-lg--75  { margin-top: -75px!important; }     .mt-lg--80  { margin-top: -80px!important; }     .mt-lg--85  { margin-top: -85px!important; }
		.mt-lg--90  { margin-top: -90px!important; }     .mt-lg--95  { margin-top: -95px!important; }     .mt-lg--100 { margin-top: -100px!important; }
		.mt-lg--105 { margin-top: -105px!important; }    .mt-lg--110 { margin-top: -110px!important; }    .mt-lg--115 { margin-top: -115px!important; }
		.mt-lg--120 { margin-top: -120px!important; }    .mt-lg--125 { margin-top: -125px!important; }    .mt-lg--130 { margin-top: -130px!important; }
		.mt-lg--135 { margin-top: -135px!important; }    .mt-lg--140 { margin-top: -140px!important; }    .mt-lg--145 { margin-top: -145px!important; }
		.mt-lg--150 { margin-top: -150px!important; }    .mt-lg--155 { margin-top: -155px!important; }    .mt-lg--160 { margin-top: -160px!important; }
		.mt-lg--165 { margin-top: -165px!important; }    .mt-lg--170 { margin-top: -170px!important; }    .mt-lg--175 { margin-top: -175px!important; }
		.mt-lg--180 { margin-top: -180px!important; }    .mt-lg--185 { margin-top: -185px!important; }    .mt-lg--190 { margin-top: -190px!important; }
		.mt-lg--195 { margin-top: -195px!important; }    .mt-lg--200 { margin-top: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mb-lg-0   { margin-bottom: 0px!important; }      .mb-lg-5   { margin-bottom: 5px!important; }      .mb-lg-10  { margin-bottom: 10px!important; }
		.mb-lg-15  { margin-bottom: 15px!important; }     .mb-lg-20  { margin-bottom: 20px!important; }     .mb-lg-25  { margin-bottom: 25px!important; }
		.mb-lg-30  { margin-bottom: 30px!important; }     .mb-lg-35  { margin-bottom: 35px!important; }     .mb-lg-40  { margin-bottom: 40px!important; }
		.mb-lg-45  { margin-bottom: 45px!important; }     .mb-lg-50  { margin-bottom: 50px!important; }     .mb-lg-55  { margin-bottom: 55px!important; }
		.mb-lg-60  { margin-bottom: 60px!important; }     .mb-lg-65  { margin-bottom: 65px!important; }     .mb-lg-70  { margin-bottom: 70px!important; }
		.mb-lg-75  { margin-bottom: 75px!important; }     .mb-lg-80  { margin-bottom: 80px!important; }     .mb-lg-85  { margin-bottom: 85px!important; }
		.mb-lg-90  { margin-bottom: 90px!important; }     .mb-lg-95  { margin-bottom: 95px!important; }     .mb-lg-100 { margin-bottom: 100px!important; }
		.mb-lg-105 { margin-bottom: 105px!important; }    .mb-lg-110 { margin-bottom: 110px!important; }    .mb-lg-115 { margin-bottom: 115px!important; }
		.mb-lg-120 { margin-bottom: 120px!important; }    .mb-lg-125 { margin-bottom: 125px!important; }    .mb-lg-130 { margin-bottom: 130px!important; }
		.mb-lg-135 { margin-bottom: 135px!important; }    .mb-lg-140 { margin-bottom: 140px!important; }    .mb-lg-145 { margin-bottom: 145px!important; }
		.mb-lg-150 { margin-bottom: 150px!important; }    .mb-lg-155 { margin-bottom: 155px!important; }    .mb-lg-160 { margin-bottom: 160px!important; }
		.mb-lg-165 { margin-bottom: 165px!important; }    .mb-lg-170 { margin-bottom: 170px!important; }    .mb-lg-175 { margin-bottom: 175px!important; }
		.mb-lg-180 { margin-bottom: 180px!important; }    .mb-lg-185 { margin-bottom: 185px!important; }    .mb-lg-190 { margin-bottom: 190px!important; }
		.mb-lg-195 { margin-bottom: 195px!important; }    .mb-lg-200 { margin-bottom: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mb-lg--0   { margin-bottom: -0px!important; }      .mb-lg--5   { margin-bottom: -5px!important; }      .mb-lg--10  { margin-bottom: -10px!important; }
		.mb-lg--15  { margin-bottom: -15px!important; }     .mb-lg--20  { margin-bottom: -20px!important; }     .mb-lg--25  { margin-bottom: -25px!important; }
		.mb-lg--30  { margin-bottom: -30px!important; }     .mb-lg--35  { margin-bottom: -35px!important; }     .mb-lg--40  { margin-bottom: -40px!important; }
		.mb-lg--45  { margin-bottom: -45px!important; }     .mb-lg--50  { margin-bottom: -50px!important; }     .mb-lg--55  { margin-bottom: -55px!important; }
		.mb-lg--60  { margin-bottom: -60px!important; }     .mb-lg--65  { margin-bottom: -65px!important; }     .mb-lg--70  { margin-bottom: -70px!important; }
		.mb-lg--75  { margin-bottom: -75px!important; }     .mb-lg--80  { margin-bottom: -80px!important; }     .mb-lg--85  { margin-bottom: -85px!important; }
		.mb-lg--90  { margin-bottom: -90px!important; }     .mb-lg--95  { margin-bottom: -95px!important; }     .mb-lg--100 { margin-bottom: -100px!important; }
		.mb-lg--105 { margin-bottom: -105px!important; }    .mb-lg--110 { margin-bottom: -110px!important; }    .mb-lg--115 { margin-bottom: -115px!important; }
		.mb-lg--120 { margin-bottom: -120px!important; }    .mb-lg--125 { margin-bottom: -125px!important; }    .mb-lg--130 { margin-bottom: -130px!important; }
		.mb-lg--135 { margin-bottom: -135px!important; }    .mb-lg--140 { margin-bottom: -140px!important; }    .mb-lg--145 { margin-bottom: -145px!important; }
		.mb-lg--150 { margin-bottom: -150px!important; }    .mb-lg--155 { margin-bottom: -155px!important; }    .mb-lg--160 { margin-bottom: -160px!important; }
		.mb-lg--165 { margin-bottom: -165px!important; }    .mb-lg--170 { margin-bottom: -170px!important; }    .mb-lg--175 { margin-bottom: -175px!important; }
		.mb-lg--180 { margin-bottom: -180px!important; }    .mb-lg--185 { margin-bottom: -185px!important; }    .mb-lg--190 { margin-bottom: -190px!important; }
		.mb-lg--195 { margin-bottom: -195px!important; }    .mb-lg--200 { margin-bottom: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.ml-lg-0   { margin-left: 0px!important; }      .ml-lg-5   { margin-left: 5px!important; }      .ml-lg-10  { margin-left: 10px!important; }
		.ml-lg-15  { margin-left: 15px!important; }     .ml-lg-20  { margin-left: 20px!important; }     .ml-lg-25  { margin-left: 25px!important; }
		.ml-lg-30  { margin-left: 30px!important; }     .ml-lg-35  { margin-left: 35px!important; }     .ml-lg-40  { margin-left: 40px!important; }
		.ml-lg-45  { margin-left: 45px!important; }     .ml-lg-50  { margin-left: 50px!important; }     .ml-lg-55  { margin-left: 55px!important; }
		.ml-lg-60  { margin-left: 60px!important; }     .ml-lg-65  { margin-left: 65px!important; }     .ml-lg-70  { margin-left: 70px!important; }
		.ml-lg-75  { margin-left: 75px!important; }     .ml-lg-80  { margin-left: 80px!important; }     .ml-lg-85  { margin-left: 85px!important; }
		.ml-lg-90  { margin-left: 90px!important; }     .ml-lg-95  { margin-left: 95px!important; }     .ml-lg-100 { margin-left: 100px!important; }
		.ml-lg-105 { margin-left: 105px!important; }    .ml-lg-110 { margin-left: 110px!important; }    .ml-lg-115 { margin-left: 115px!important; }
		.ml-lg-120 { margin-left: 120px!important; }    .ml-lg-125 { margin-left: 125px!important; }    .ml-lg-130 { margin-left: 130px!important; }
		.ml-lg-135 { margin-left: 135px!important; }    .ml-lg-140 { margin-left: 140px!important; }    .ml-lg-145 { margin-left: 145px!important; }
		.ml-lg-150 { margin-left: 150px!important; }    .ml-lg-155 { margin-left: 155px!important; }    .ml-lg-160 { margin-left: 160px!important; }
		.ml-lg-165 { margin-left: 165px!important; }    .ml-lg-170 { margin-left: 170px!important; }    .ml-lg-175 { margin-left: 175px!important; }
		.ml-lg-180 { margin-left: 180px!important; }    .ml-lg-185 { margin-left: 185px!important; }    .ml-lg-190 { margin-left: 190px!important; }
		.ml-lg-195 { margin-left: 195px!important; }    .ml-lg-200 { margin-left: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.ml-lg--0   { margin-left: -0px!important; }      .ml-lg--5   { margin-left: -5px!important; }      .ml-lg--10  { margin-left: -10px!important; }
		.ml-lg--15  { margin-left: -15px!important; }     .ml-lg--20  { margin-left: -20px!important; }     .ml-lg--25  { margin-left: -25px!important; }
		.ml-lg--30  { margin-left: -30px!important; }     .ml-lg--35  { margin-left: -35px!important; }     .ml-lg--40  { margin-left: -40px!important; }
		.ml-lg--45  { margin-left: -45px!important; }     .ml-lg--50  { margin-left: -50px!important; }     .ml-lg--55  { margin-left: -55px!important; }
		.ml-lg--60  { margin-left: -60px!important; }     .ml-lg--65  { margin-left: -65px!important; }     .ml-lg--70  { margin-left: -70px!important; }
		.ml-lg--75  { margin-left: -75px!important; }     .ml-lg--80  { margin-left: -80px!important; }     .ml-lg--85  { margin-left: -85px!important; }
		.ml-lg--90  { margin-left: -90px!important; }     .ml-lg--95  { margin-left: -95px!important; }     .ml-lg--100 { margin-left: -100px!important; }
		.ml-lg--105 { margin-left: -105px!important; }    .ml-lg--110 { margin-left: -110px!important; }    .ml-lg--115 { margin-left: -115px!important; }
		.ml-lg--120 { margin-left: -120px!important; }    .ml-lg--125 { margin-left: -125px!important; }    .ml-lg--130 { margin-left: -130px!important; }
		.ml-lg--135 { margin-left: -135px!important; }    .ml-lg--140 { margin-left: -140px!important; }    .ml-lg--145 { margin-left: -145px!important; }
		.ml-lg--150 { margin-left: -150px!important; }    .ml-lg--155 { margin-left: -155px!important; }    .ml-lg--160 { margin-left: -160px!important; }
		.ml-lg--165 { margin-left: -165px!important; }    .ml-lg--170 { margin-left: -170px!important; }    .ml-lg--175 { margin-left: -175px!important; }
		.ml-lg--180 { margin-left: -180px!important; }    .ml-lg--185 { margin-left: -185px!important; }    .ml-lg--190 { margin-left: -190px!important; }
		.ml-lg--195 { margin-left: -195px!important; }    .ml-lg--200 { margin-left: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mr-lg-0   { margin-right: 0px!important; }      .mr-lg-5   { margin-right: 5px!important; }      .mr-lg-10  { margin-right: 10px!important; }
		.mr-lg-15  { margin-right: 15px!important; }     .mr-lg-20  { margin-right: 20px!important; }     .mr-lg-25  { margin-right: 25px!important; }
		.mr-lg-30  { margin-right: 30px!important; }     .mr-lg-35  { margin-right: 35px!important; }     .mr-lg-40  { margin-right: 40px!important; }
		.mr-lg-45  { margin-right: 45px!important; }     .mr-lg-50  { margin-right: 50px!important; }     .mr-lg-55  { margin-right: 55px!important; }
		.mr-lg-60  { margin-right: 60px!important; }     .mr-lg-65  { margin-right: 65px!important; }     .mr-lg-70  { margin-right: 70px!important; }
		.mr-lg-75  { margin-right: 75px!important; }     .mr-lg-80  { margin-right: 80px!important; }     .mr-lg-85  { margin-right: 85px!important; }
		.mr-lg-90  { margin-right: 90px!important; }     .mr-lg-95  { margin-right: 95px!important; }     .mr-lg-100 { margin-right: 100px!important; }
		.mr-lg-105 { margin-right: 105px!important; }    .mr-lg-110 { margin-right: 110px!important; }    .mr-lg-115 { margin-right: 115px!important; }
		.mr-lg-120 { margin-right: 120px!important; }    .mr-lg-125 { margin-right: 125px!important; }    .mr-lg-130 { margin-right: 130px!important; }
		.mr-lg-135 { margin-right: 135px!important; }    .mr-lg-140 { margin-right: 140px!important; }    .mr-lg-145 { margin-right: 145px!important; }
		.mr-lg-150 { margin-right: 150px!important; }    .mr-lg-155 { margin-right: 155px!important; }    .mr-lg-160 { margin-right: 160px!important; }
		.mr-lg-165 { margin-right: 165px!important; }    .mr-lg-170 { margin-right: 170px!important; }    .mr-lg-175 { margin-right: 175px!important; }
		.mr-lg-180 { margin-right: 180px!important; }    .mr-lg-185 { margin-right: 185px!important; }    .mr-lg-190 { margin-right: 190px!important; }
		.mr-lg-195 { margin-right: 195px!important; }    .mr-lg-200 { margin-right: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mr-lg--0   { margin-right: -0px!important; }      .mr-lg--5   { margin-right: -5px!important; }      .mr-lg--10  { margin-right: -10px!important; }
		.mr-lg--15  { margin-right: -15px!important; }     .mr-lg--20  { margin-right: -20px!important; }     .mr-lg--25  { margin-right: -25px!important; }
		.mr-lg--30  { margin-right: -30px!important; }     .mr-lg--35  { margin-right: -35px!important; }     .mr-lg--40  { margin-right: -40px!important; }
		.mr-lg--45  { margin-right: -45px!important; }     .mr-lg--50  { margin-right: -50px!important; }     .mr-lg--55  { margin-right: -55px!important; }
		.mr-lg--60  { margin-right: -60px!important; }     .mr-lg--65  { margin-right: -65px!important; }     .mr-lg--70  { margin-right: -70px!important; }
		.mr-lg--75  { margin-right: -75px!important; }     .mr-lg--80  { margin-right: -80px!important; }     .mr-lg--85  { margin-right: -85px!important; }
		.mr-lg--90  { margin-right: -90px!important; }     .mr-lg--95  { margin-right: -95px!important; }     .mr-lg--100 { margin-right: -100px!important; }
		.mr-lg--105 { margin-right: -105px!important; }    .mr-lg--110 { margin-right: -110px!important; }    .mr-lg--115 { margin-right: -115px!important; }
		.mr-lg--120 { margin-right: -120px!important; }    .mr-lg--125 { margin-right: -125px!important; }    .mr-lg--130 { margin-right: -130px!important; }
		.mr-lg--135 { margin-right: -135px!important; }    .mr-lg--140 { margin-right: -140px!important; }    .mr-lg--145 { margin-right: -145px!important; }
		.mr-lg--150 { margin-right: -150px!important; }    .mr-lg--155 { margin-right: -155px!important; }    .mr-lg--160 { margin-right: -160px!important; }
		.mr-lg--165 { margin-right: -165px!important; }    .mr-lg--170 { margin-right: -170px!important; }    .mr-lg--175 { margin-right: -175px!important; }
		.mr-lg--180 { margin-right: -180px!important; }    .mr-lg--185 { margin-right: -185px!important; }    .mr-lg--190 { margin-right: -190px!important; }
		.mr-lg--195 { margin-right: -195px!important; }    .mr-lg--200 { margin-right: -200px!important; }    
	}

	.pt-xs-0   { padding-top: 0px!important; }      .pt-xs-5   { padding-top: 5px!important; }      .pt-xs-10  { padding-top: 10px!important; }
	.pt-xs-15  { padding-top: 15px!important; }     .pt-xs-20  { padding-top: 20px!important; }     .pt-xs-25  { padding-top: 25px!important; }
	.pt-xs-30  { padding-top: 30px!important; }     .pt-xs-35  { padding-top: 35px!important; }     .pt-xs-40  { padding-top: 40px!important; }
	.pt-xs-45  { padding-top: 45px!important; }     .pt-xs-50  { padding-top: 50px!important; }     .pt-xs-55  { padding-top: 55px!important; }
	.pt-xs-60  { padding-top: 60px!important; }     .pt-xs-65  { padding-top: 65px!important; }     .pt-xs-70  { padding-top: 70px!important; }
	.pt-xs-75  { padding-top: 75px!important; }     .pt-xs-80  { padding-top: 80px!important; }     .pt-xs-85  { padding-top: 85px!important; }
	.pt-xs-90  { padding-top: 90px!important; }     .pt-xs-95  { padding-top: 95px!important; }     .pt-xs-100 { padding-top: 100px!important; }
	.pt-xs-105 { padding-top: 105px!important; }    .pt-xs-110 { padding-top: 110px!important; }    .pt-xs-115 { padding-top: 115px!important; }
	.pt-xs-120 { padding-top: 120px!important; }    .pt-xs-125 { padding-top: 125px!important; }    .pt-xs-130 { padding-top: 130px!important; }
	.pt-xs-135 { padding-top: 135px!important; }    .pt-xs-140 { padding-top: 140px!important; }    .pt-xs-145 { padding-top: 145px!important; }
	.pt-xs-150 { padding-top: 150px!important; }    .pt-xs-155 { padding-top: 155px!important; }    .pt-xs-160 { padding-top: 160px!important; }
	.pt-xs-165 { padding-top: 165px!important; }    .pt-xs-170 { padding-top: 170px!important; }    .pt-xs-175 { padding-top: 175px!important; }
	.pt-xs-180 { padding-top: 180px!important; }    .pt-xs-185 { padding-top: 185px!important; }    .pt-xs-190 { padding-top: 190px!important; }
	.pt-xs-195 { padding-top: 195px!important; }    .pt-xs-200 { padding-top: 200px!important; }    

	.pb-xs-0   { padding-bottom: 0px!important; }      .pb-xs-5   { padding-bottom: 5px!important; }      .pb-xs-10  { padding-bottom: 10px!important; }
	.pb-xs-15  { padding-bottom: 15px!important; }     .pb-xs-20  { padding-bottom: 20px!important; }     .pb-xs-25  { padding-bottom: 25px!important; }
	.pb-xs-30  { padding-bottom: 30px!important; }     .pb-xs-35  { padding-bottom: 35px!important; }     .pb-xs-40  { padding-bottom: 40px!important; }
	.pb-xs-45  { padding-bottom: 45px!important; }     .pb-xs-50  { padding-bottom: 50px!important; }     .pb-xs-55  { padding-bottom: 55px!important; }
	.pb-xs-60  { padding-bottom: 60px!important; }     .pb-xs-65  { padding-bottom: 65px!important; }     .pb-xs-70  { padding-bottom: 70px!important; }
	.pb-xs-75  { padding-bottom: 75px!important; }     .pb-xs-80  { padding-bottom: 80px!important; }     .pb-xs-85  { padding-bottom: 85px!important; }
	.pb-xs-90  { padding-bottom: 90px!important; }     .pb-xs-95  { padding-bottom: 95px!important; }     .pb-xs-100 { padding-bottom: 100px!important; }
	.pb-xs-105 { padding-bottom: 105px!important; }    .pb-xs-110 { padding-bottom: 110px!important; }    .pb-xs-115 { padding-bottom: 115px!important; }
	.pb-xs-120 { padding-bottom: 120px!important; }    .pb-xs-125 { padding-bottom: 125px!important; }    .pb-xs-130 { padding-bottom: 130px!important; }
	.pb-xs-135 { padding-bottom: 135px!important; }    .pb-xs-140 { padding-bottom: 140px!important; }    .pb-xs-145 { padding-bottom: 145px!important; }
	.pb-xs-150 { padding-bottom: 150px!important; }    .pb-xs-155 { padding-bottom: 155px!important; }    .pb-xs-160 { padding-bottom: 160px!important; }
	.pb-xs-165 { padding-bottom: 165px!important; }    .pb-xs-170 { padding-bottom: 170px!important; }    .pb-xs-175 { padding-bottom: 175px!important; }
	.pb-xs-180 { padding-bottom: 180px!important; }    .pb-xs-185 { padding-bottom: 185px!important; }    .pb-xs-190 { padding-bottom: 190px!important; }
	.pb-xs-195 { padding-bottom: 195px!important; }    .pb-xs-200 { padding-bottom: 200px!important; }    

	.pl-xs-0   { padding-left: 0px!important; }      .pl-xs-5   { padding-left: 5px!important; }      .pl-xs-10  { padding-left: 10px!important; }
	.pl-xs-15  { padding-left: 15px!important; }     .pl-xs-20  { padding-left: 20px!important; }     .pl-xs-25  { padding-left: 25px!important; }
	.pl-xs-30  { padding-left: 30px!important; }     .pl-xs-35  { padding-left: 35px!important; }     .pl-xs-40  { padding-left: 40px!important; }
	.pl-xs-45  { padding-left: 45px!important; }     .pl-xs-50  { padding-left: 50px!important; }     .pl-xs-55  { padding-left: 55px!important; }
	.pl-xs-60  { padding-left: 60px!important; }     .pl-xs-65  { padding-left: 65px!important; }     .pl-xs-70  { padding-left: 70px!important; }
	.pl-xs-75  { padding-left: 75px!important; }     .pl-xs-80  { padding-left: 80px!important; }     .pl-xs-85  { padding-left: 85px!important; }
	.pl-xs-90  { padding-left: 90px!important; }     .pl-xs-95  { padding-left: 95px!important; }     .pl-xs-100 { padding-left: 100px!important; }
	.pl-xs-105 { padding-left: 105px!important; }    .pl-xs-110 { padding-left: 110px!important; }    .pl-xs-115 { padding-left: 115px!important; }
	.pl-xs-120 { padding-left: 120px!important; }    .pl-xs-125 { padding-left: 125px!important; }    .pl-xs-130 { padding-left: 130px!important; }
	.pl-xs-135 { padding-left: 135px!important; }    .pl-xs-140 { padding-left: 140px!important; }    .pl-xs-145 { padding-left: 145px!important; }
	.pl-xs-150 { padding-left: 150px!important; }    .pl-xs-155 { padding-left: 155px!important; }    .pl-xs-160 { padding-left: 160px!important; }
	.pl-xs-165 { padding-left: 165px!important; }    .pl-xs-170 { padding-left: 170px!important; }    .pl-xs-175 { padding-left: 175px!important; }
	.pl-xs-180 { padding-left: 180px!important; }    .pl-xs-185 { padding-left: 185px!important; }    .pl-xs-190 { padding-left: 190px!important; }
	.pl-xs-195 { padding-left: 195px!important; }    .pl-xs-200 { padding-left: 200px!important; }    

	.pr-xs-0   { padding-right: 0px!important; }      .pr-xs-5   { padding-right: 5px!important; }      .pr-xs-10  { padding-right: 10px!important; }
	.pr-xs-15  { padding-right: 15px!important; }     .pr-xs-20  { padding-right: 20px!important; }     .pr-xs-25  { padding-right: 25px!important; }
	.pr-xs-30  { padding-right: 30px!important; }     .pr-xs-35  { padding-right: 35px!important; }     .pr-xs-40  { padding-right: 40px!important; }
	.pr-xs-45  { padding-right: 45px!important; }     .pr-xs-50  { padding-right: 50px!important; }     .pr-xs-55  { padding-right: 55px!important; }
	.pr-xs-60  { padding-right: 60px!important; }     .pr-xs-65  { padding-right: 65px!important; }     .pr-xs-70  { padding-right: 70px!important; }
	.pr-xs-75  { padding-right: 75px!important; }     .pr-xs-80  { padding-right: 80px!important; }     .pr-xs-85  { padding-right: 85px!important; }
	.pr-xs-90  { padding-right: 90px!important; }     .pr-xs-95  { padding-right: 95px!important; }     .pr-xs-100 { padding-right: 100px!important; }
	.pr-xs-105 { padding-right: 105px!important; }    .pr-xs-110 { padding-right: 110px!important; }    .pr-xs-115 { padding-right: 115px!important; }
	.pr-xs-120 { padding-right: 120px!important; }    .pr-xs-125 { padding-right: 125px!important; }    .pr-xs-130 { padding-right: 130px!important; }
	.pr-xs-135 { padding-right: 135px!important; }    .pr-xs-140 { padding-right: 140px!important; }    .pr-xs-145 { padding-right: 145px!important; }
	.pr-xs-150 { padding-right: 150px!important; }    .pr-xs-155 { padding-right: 155px!important; }    .pr-xs-160 { padding-right: 160px!important; }
	.pr-xs-165 { padding-right: 165px!important; }    .pr-xs-170 { padding-right: 170px!important; }    .pr-xs-175 { padding-right: 175px!important; }
	.pr-xs-180 { padding-right: 180px!important; }    .pr-xs-185 { padding-right: 185px!important; }    .pr-xs-190 { padding-right: 190px!important; }
	.pr-xs-195 { padding-right: 195px!important; }    .pr-xs-200 { padding-right: 200px!important; }    

	@media (min-width:768px)
	{
		.pt-sm-0   { padding-top: 0px!important; }      .pt-sm-5   { padding-top: 5px!important; }      .pt-sm-10  { padding-top: 10px!important; }
		.pt-sm-15  { padding-top: 15px!important; }     .pt-sm-20  { padding-top: 20px!important; }     .pt-sm-25  { padding-top: 25px!important; }
		.pt-sm-30  { padding-top: 30px!important; }     .pt-sm-35  { padding-top: 35px!important; }     .pt-sm-40  { padding-top: 40px!important; }
		.pt-sm-45  { padding-top: 45px!important; }     .pt-sm-50  { padding-top: 50px!important; }     .pt-sm-55  { padding-top: 55px!important; }
		.pt-sm-60  { padding-top: 60px!important; }     .pt-sm-65  { padding-top: 65px!important; }     .pt-sm-70  { padding-top: 70px!important; }
		.pt-sm-75  { padding-top: 75px!important; }     .pt-sm-80  { padding-top: 80px!important; }     .pt-sm-85  { padding-top: 85px!important; }
		.pt-sm-90  { padding-top: 90px!important; }     .pt-sm-95  { padding-top: 95px!important; }     .pt-sm-100 { padding-top: 100px!important; }
		.pt-sm-105 { padding-top: 105px!important; }    .pt-sm-110 { padding-top: 110px!important; }    .pt-sm-115 { padding-top: 115px!important; }
		.pt-sm-120 { padding-top: 120px!important; }    .pt-sm-125 { padding-top: 125px!important; }    .pt-sm-130 { padding-top: 130px!important; }
		.pt-sm-135 { padding-top: 135px!important; }    .pt-sm-140 { padding-top: 140px!important; }    .pt-sm-145 { padding-top: 145px!important; }
		.pt-sm-150 { padding-top: 150px!important; }    .pt-sm-155 { padding-top: 155px!important; }    .pt-sm-160 { padding-top: 160px!important; }
		.pt-sm-165 { padding-top: 165px!important; }    .pt-sm-170 { padding-top: 170px!important; }    .pt-sm-175 { padding-top: 175px!important; }
		.pt-sm-180 { padding-top: 180px!important; }    .pt-sm-185 { padding-top: 185px!important; }    .pt-sm-190 { padding-top: 190px!important; }
		.pt-sm-195 { padding-top: 195px!important; }    .pt-sm-200 { padding-top: 200px!important; }    
	}

	@media (min-width:768px)
	{
		.pb-sm-0   { padding-bottom: 0px!important; }      .pb-sm-5   { padding-bottom: 5px!important; }      .pb-sm-10  { padding-bottom: 10px!important; }
		.pb-sm-15  { padding-bottom: 15px!important; }     .pb-sm-20  { padding-bottom: 20px!important; }     .pb-sm-25  { padding-bottom: 25px!important; }
		.pb-sm-30  { padding-bottom: 30px!important; }     .pb-sm-35  { padding-bottom: 35px!important; }     .pb-sm-40  { padding-bottom: 40px!important; }
		.pb-sm-45  { padding-bottom: 45px!important; }     .pb-sm-50  { padding-bottom: 50px!important; }     .pb-sm-55  { padding-bottom: 55px!important; }
		.pb-sm-60  { padding-bottom: 60px!important; }     .pb-sm-65  { padding-bottom: 65px!important; }     .pb-sm-70  { padding-bottom: 70px!important; }
		.pb-sm-75  { padding-bottom: 75px!important; }     .pb-sm-80  { padding-bottom: 80px!important; }     .pb-sm-85  { padding-bottom: 85px!important; }
		.pb-sm-90  { padding-bottom: 90px!important; }     .pb-sm-95  { padding-bottom: 95px!important; }     .pb-sm-100 { padding-bottom: 100px!important; }
		.pb-sm-105 { padding-bottom: 105px!important; }    .pb-sm-110 { padding-bottom: 110px!important; }    .pb-sm-115 { padding-bottom: 115px!important; }
		.pb-sm-120 { padding-bottom: 120px!important; }    .pb-sm-125 { padding-bottom: 125px!important; }    .pb-sm-130 { padding-bottom: 130px!important; }
		.pb-sm-135 { padding-bottom: 135px!important; }    .pb-sm-140 { padding-bottom: 140px!important; }    .pb-sm-145 { padding-bottom: 145px!important; }
		.pb-sm-150 { padding-bottom: 150px!important; }    .pb-sm-155 { padding-bottom: 155px!important; }    .pb-sm-160 { padding-bottom: 160px!important; }
		.pb-sm-165 { padding-bottom: 165px!important; }    .pb-sm-170 { padding-bottom: 170px!important; }    .pb-sm-175 { padding-bottom: 175px!important; }
		.pb-sm-180 { padding-bottom: 180px!important; }    .pb-sm-185 { padding-bottom: 185px!important; }    .pb-sm-190 { padding-bottom: 190px!important; }
		.pb-sm-195 { padding-bottom: 195px!important; }    .pb-sm-200 { padding-bottom: 200px!important; }    
	}

	@media (min-width:768px)
	{
		.pl-sm-0   { padding-left: 0px!important; }      .pl-sm-5   { padding-left: 5px!important; }      .pl-sm-10  { padding-left: 10px!important; }
		.pl-sm-15  { padding-left: 15px!important; }     .pl-sm-20  { padding-left: 20px!important; }     .pl-sm-25  { padding-left: 25px!important; }
		.pl-sm-30  { padding-left: 30px!important; }     .pl-sm-35  { padding-left: 35px!important; }     .pl-sm-40  { padding-left: 40px!important; }
		.pl-sm-45  { padding-left: 45px!important; }     .pl-sm-50  { padding-left: 50px!important; }     .pl-sm-55  { padding-left: 55px!important; }
		.pl-sm-60  { padding-left: 60px!important; }     .pl-sm-65  { padding-left: 65px!important; }     .pl-sm-70  { padding-left: 70px!important; }
		.pl-sm-75  { padding-left: 75px!important; }     .pl-sm-80  { padding-left: 80px!important; }     .pl-sm-85  { padding-left: 85px!important; }
		.pl-sm-90  { padding-left: 90px!important; }     .pl-sm-95  { padding-left: 95px!important; }     .pl-sm-100 { padding-left: 100px!important; }
		.pl-sm-105 { padding-left: 105px!important; }    .pl-sm-110 { padding-left: 110px!important; }    .pl-sm-115 { padding-left: 115px!important; }
		.pl-sm-120 { padding-left: 120px!important; }    .pl-sm-125 { padding-left: 125px!important; }    .pl-sm-130 { padding-left: 130px!important; }
		.pl-sm-135 { padding-left: 135px!important; }    .pl-sm-140 { padding-left: 140px!important; }    .pl-sm-145 { padding-left: 145px!important; }
		.pl-sm-150 { padding-left: 150px!important; }    .pl-sm-155 { padding-left: 155px!important; }    .pl-sm-160 { padding-left: 160px!important; }
		.pl-sm-165 { padding-left: 165px!important; }    .pl-sm-170 { padding-left: 170px!important; }    .pl-sm-175 { padding-left: 175px!important; }
		.pl-sm-180 { padding-left: 180px!important; }    .pl-sm-185 { padding-left: 185px!important; }    .pl-sm-190 { padding-left: 190px!important; }
		.pl-sm-195 { padding-left: 195px!important; }    .pl-sm-200 { padding-left: 200px!important; }    
	}

	@media (min-width:768px)
	{
		.pr-sm-0   { padding-right: 0px!important; }      .pr-sm-5   { padding-right: 5px!important; }      .pr-sm-10  { padding-right: 10px!important; }
		.pr-sm-15  { padding-right: 15px!important; }     .pr-sm-20  { padding-right: 20px!important; }     .pr-sm-25  { padding-right: 25px!important; }
		.pr-sm-30  { padding-right: 30px!important; }     .pr-sm-35  { padding-right: 35px!important; }     .pr-sm-40  { padding-right: 40px!important; }
		.pr-sm-45  { padding-right: 45px!important; }     .pr-sm-50  { padding-right: 50px!important; }     .pr-sm-55  { padding-right: 55px!important; }
		.pr-sm-60  { padding-right: 60px!important; }     .pr-sm-65  { padding-right: 65px!important; }     .pr-sm-70  { padding-right: 70px!important; }
		.pr-sm-75  { padding-right: 75px!important; }     .pr-sm-80  { padding-right: 80px!important; }     .pr-sm-85  { padding-right: 85px!important; }
		.pr-sm-90  { padding-right: 90px!important; }     .pr-sm-95  { padding-right: 95px!important; }     .pr-sm-100 { padding-right: 100px!important; }
		.pr-sm-105 { padding-right: 105px!important; }    .pr-sm-110 { padding-right: 110px!important; }    .pr-sm-115 { padding-right: 115px!important; }
		.pr-sm-120 { padding-right: 120px!important; }    .pr-sm-125 { padding-right: 125px!important; }    .pr-sm-130 { padding-right: 130px!important; }
		.pr-sm-135 { padding-right: 135px!important; }    .pr-sm-140 { padding-right: 140px!important; }    .pr-sm-145 { padding-right: 145px!important; }
		.pr-sm-150 { padding-right: 150px!important; }    .pr-sm-155 { padding-right: 155px!important; }    .pr-sm-160 { padding-right: 160px!important; }
		.pr-sm-165 { padding-right: 165px!important; }    .pr-sm-170 { padding-right: 170px!important; }    .pr-sm-175 { padding-right: 175px!important; }
		.pr-sm-180 { padding-right: 180px!important; }    .pr-sm-185 { padding-right: 185px!important; }    .pr-sm-190 { padding-right: 190px!important; }
		.pr-sm-195 { padding-right: 195px!important; }    .pr-sm-200 { padding-right: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.pt-md-0   { padding-top: 0px!important; }      .pt-md-5   { padding-top: 5px!important; }      .pt-md-10  { padding-top: 10px!important; }
		.pt-md-15  { padding-top: 15px!important; }     .pt-md-20  { padding-top: 20px!important; }     .pt-md-25  { padding-top: 25px!important; }
		.pt-md-30  { padding-top: 30px!important; }     .pt-md-35  { padding-top: 35px!important; }     .pt-md-40  { padding-top: 40px!important; }
		.pt-md-45  { padding-top: 45px!important; }     .pt-md-50  { padding-top: 50px!important; }     .pt-md-55  { padding-top: 55px!important; }
		.pt-md-60  { padding-top: 60px!important; }     .pt-md-65  { padding-top: 65px!important; }     .pt-md-70  { padding-top: 70px!important; }
		.pt-md-75  { padding-top: 75px!important; }     .pt-md-80  { padding-top: 80px!important; }     .pt-md-85  { padding-top: 85px!important; }
		.pt-md-90  { padding-top: 90px!important; }     .pt-md-95  { padding-top: 95px!important; }     .pt-md-100 { padding-top: 100px!important; }
		.pt-md-105 { padding-top: 105px!important; }    .pt-md-110 { padding-top: 110px!important; }    .pt-md-115 { padding-top: 115px!important; }
		.pt-md-120 { padding-top: 120px!important; }    .pt-md-125 { padding-top: 125px!important; }    .pt-md-130 { padding-top: 130px!important; }
		.pt-md-135 { padding-top: 135px!important; }    .pt-md-140 { padding-top: 140px!important; }    .pt-md-145 { padding-top: 145px!important; }
		.pt-md-150 { padding-top: 150px!important; }    .pt-md-155 { padding-top: 155px!important; }    .pt-md-160 { padding-top: 160px!important; }
		.pt-md-165 { padding-top: 165px!important; }    .pt-md-170 { padding-top: 170px!important; }    .pt-md-175 { padding-top: 175px!important; }
		.pt-md-180 { padding-top: 180px!important; }    .pt-md-185 { padding-top: 185px!important; }    .pt-md-190 { padding-top: 190px!important; }
		.pt-md-195 { padding-top: 195px!important; }    .pt-md-200 { padding-top: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.pb-md-0   { padding-bottom: 0px!important; }      .pb-md-5   { padding-bottom: 5px!important; }      .pb-md-10  { padding-bottom: 10px!important; }
		.pb-md-15  { padding-bottom: 15px!important; }     .pb-md-20  { padding-bottom: 20px!important; }     .pb-md-25  { padding-bottom: 25px!important; }
		.pb-md-30  { padding-bottom: 30px!important; }     .pb-md-35  { padding-bottom: 35px!important; }     .pb-md-40  { padding-bottom: 40px!important; }
		.pb-md-45  { padding-bottom: 45px!important; }     .pb-md-50  { padding-bottom: 50px!important; }     .pb-md-55  { padding-bottom: 55px!important; }
		.pb-md-60  { padding-bottom: 60px!important; }     .pb-md-65  { padding-bottom: 65px!important; }     .pb-md-70  { padding-bottom: 70px!important; }
		.pb-md-75  { padding-bottom: 75px!important; }     .pb-md-80  { padding-bottom: 80px!important; }     .pb-md-85  { padding-bottom: 85px!important; }
		.pb-md-90  { padding-bottom: 90px!important; }     .pb-md-95  { padding-bottom: 95px!important; }     .pb-md-100 { padding-bottom: 100px!important; }
		.pb-md-105 { padding-bottom: 105px!important; }    .pb-md-110 { padding-bottom: 110px!important; }    .pb-md-115 { padding-bottom: 115px!important; }
		.pb-md-120 { padding-bottom: 120px!important; }    .pb-md-125 { padding-bottom: 125px!important; }    .pb-md-130 { padding-bottom: 130px!important; }
		.pb-md-135 { padding-bottom: 135px!important; }    .pb-md-140 { padding-bottom: 140px!important; }    .pb-md-145 { padding-bottom: 145px!important; }
		.pb-md-150 { padding-bottom: 150px!important; }    .pb-md-155 { padding-bottom: 155px!important; }    .pb-md-160 { padding-bottom: 160px!important; }
		.pb-md-165 { padding-bottom: 165px!important; }    .pb-md-170 { padding-bottom: 170px!important; }    .pb-md-175 { padding-bottom: 175px!important; }
		.pb-md-180 { padding-bottom: 180px!important; }    .pb-md-185 { padding-bottom: 185px!important; }    .pb-md-190 { padding-bottom: 190px!important; }
		.pb-md-195 { padding-bottom: 195px!important; }    .pb-md-200 { padding-bottom: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.pl-md-0   { padding-left: 0px!important; }      .pl-md-5   { padding-left: 5px!important; }      .pl-md-10  { padding-left: 10px!important; }
		.pl-md-15  { padding-left: 15px!important; }     .pl-md-20  { padding-left: 20px!important; }     .pl-md-25  { padding-left: 25px!important; }
		.pl-md-30  { padding-left: 30px!important; }     .pl-md-35  { padding-left: 35px!important; }     .pl-md-40  { padding-left: 40px!important; }
		.pl-md-45  { padding-left: 45px!important; }     .pl-md-50  { padding-left: 50px!important; }     .pl-md-55  { padding-left: 55px!important; }
		.pl-md-60  { padding-left: 60px!important; }     .pl-md-65  { padding-left: 65px!important; }     .pl-md-70  { padding-left: 70px!important; }
		.pl-md-75  { padding-left: 75px!important; }     .pl-md-80  { padding-left: 80px!important; }     .pl-md-85  { padding-left: 85px!important; }
		.pl-md-90  { padding-left: 90px!important; }     .pl-md-95  { padding-left: 95px!important; }     .pl-md-100 { padding-left: 100px!important; }
		.pl-md-105 { padding-left: 105px!important; }    .pl-md-110 { padding-left: 110px!important; }    .pl-md-115 { padding-left: 115px!important; }
		.pl-md-120 { padding-left: 120px!important; }    .pl-md-125 { padding-left: 125px!important; }    .pl-md-130 { padding-left: 130px!important; }
		.pl-md-135 { padding-left: 135px!important; }    .pl-md-140 { padding-left: 140px!important; }    .pl-md-145 { padding-left: 145px!important; }
		.pl-md-150 { padding-left: 150px!important; }    .pl-md-155 { padding-left: 155px!important; }    .pl-md-160 { padding-left: 160px!important; }
		.pl-md-165 { padding-left: 165px!important; }    .pl-md-170 { padding-left: 170px!important; }    .pl-md-175 { padding-left: 175px!important; }
		.pl-md-180 { padding-left: 180px!important; }    .pl-md-185 { padding-left: 185px!important; }    .pl-md-190 { padding-left: 190px!important; }
		.pl-md-195 { padding-left: 195px!important; }    .pl-md-200 { padding-left: 200px!important; }    
	}

	@media (min-width: 992px)
	{
		.pr-md-0   { padding-right: 0px!important; }      .pr-md-5   { padding-right: 5px!important; }      .pr-md-10  { padding-right: 10px!important; }
		.pr-md-15  { padding-right: 15px!important; }     .pr-md-20  { padding-right: 20px!important; }     .pr-md-25  { padding-right: 25px!important; }
		.pr-md-30  { padding-right: 30px!important; }     .pr-md-35  { padding-right: 35px!important; }     .pr-md-40  { padding-right: 40px!important; }
		.pr-md-45  { padding-right: 45px!important; }     .pr-md-50  { padding-right: 50px!important; }     .pr-md-55  { padding-right: 55px!important; }
		.pr-md-60  { padding-right: 60px!important; }     .pr-md-65  { padding-right: 65px!important; }     .pr-md-70  { padding-right: 70px!important; }
		.pr-md-75  { padding-right: 75px!important; }     .pr-md-80  { padding-right: 80px!important; }     .pr-md-85  { padding-right: 85px!important; }
		.pr-md-90  { padding-right: 90px!important; }     .pr-md-95  { padding-right: 95px!important; }     .pr-md-100 { padding-right: 100px!important; }
		.pr-md-105 { padding-right: 105px!important; }    .pr-md-110 { padding-right: 110px!important; }    .pr-md-115 { padding-right: 115px!important; }
		.pr-md-120 { padding-right: 120px!important; }    .pr-md-125 { padding-right: 125px!important; }    .pr-md-130 { padding-right: 130px!important; }
		.pr-md-135 { padding-right: 135px!important; }    .pr-md-140 { padding-right: 140px!important; }    .pr-md-145 { padding-right: 145px!important; }
		.pr-md-150 { padding-right: 150px!important; }    .pr-md-155 { padding-right: 155px!important; }    .pr-md-160 { padding-right: 160px!important; }
		.pr-md-165 { padding-right: 165px!important; }    .pr-md-170 { padding-right: 170px!important; }    .pr-md-175 { padding-right: 175px!important; }
		.pr-md-180 { padding-right: 180px!important; }    .pr-md-185 { padding-right: 185px!important; }    .pr-md-190 { padding-right: 190px!important; }
		.pr-md-195 { padding-right: 195px!important; }    .pr-md-200 { padding-right: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pt-lg-0   { padding-top: 0px!important; }      .pt-lg-5   { padding-top: 5px!important; }      .pt-lg-10  { padding-top: 10px!important; }
		.pt-lg-15  { padding-top: 15px!important; }     .pt-lg-20  { padding-top: 20px!important; }     .pt-lg-25  { padding-top: 25px!important; }
		.pt-lg-30  { padding-top: 30px!important; }     .pt-lg-35  { padding-top: 35px!important; }     .pt-lg-40  { padding-top: 40px!important; }
		.pt-lg-45  { padding-top: 45px!important; }     .pt-lg-50  { padding-top: 50px!important; }     .pt-lg-55  { padding-top: 55px!important; }
		.pt-lg-60  { padding-top: 60px!important; }     .pt-lg-65  { padding-top: 65px!important; }     .pt-lg-70  { padding-top: 70px!important; }
		.pt-lg-75  { padding-top: 75px!important; }     .pt-lg-80  { padding-top: 80px!important; }     .pt-lg-85  { padding-top: 85px!important; }
		.pt-lg-90  { padding-top: 90px!important; }     .pt-lg-95  { padding-top: 95px!important; }     .pt-lg-100 { padding-top: 100px!important; }
		.pt-lg-105 { padding-top: 105px!important; }    .pt-lg-110 { padding-top: 110px!important; }    .pt-lg-115 { padding-top: 115px!important; }
		.pt-lg-120 { padding-top: 120px!important; }    .pt-lg-125 { padding-top: 125px!important; }    .pt-lg-130 { padding-top: 130px!important; }
		.pt-lg-135 { padding-top: 135px!important; }    .pt-lg-140 { padding-top: 140px!important; }    .pt-lg-145 { padding-top: 145px!important; }
		.pt-lg-150 { padding-top: 150px!important; }    .pt-lg-155 { padding-top: 155px!important; }    .pt-lg-160 { padding-top: 160px!important; }
		.pt-lg-165 { padding-top: 165px!important; }    .pt-lg-170 { padding-top: 170px!important; }    .pt-lg-175 { padding-top: 175px!important; }
		.pt-lg-180 { padding-top: 180px!important; }    .pt-lg-185 { padding-top: 185px!important; }    .pt-lg-190 { padding-top: 190px!important; }
		.pt-lg-195 { padding-top: 195px!important; }    .pt-lg-200 { padding-top: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pb-lg-0   { padding-bottom: 0px!important; }      .pb-lg-5   { padding-bottom: 5px!important; }      .pb-lg-10  { padding-bottom: 10px!important; }
		.pb-lg-15  { padding-bottom: 15px!important; }     .pb-lg-20  { padding-bottom: 20px!important; }     .pb-lg-25  { padding-bottom: 25px!important; }
		.pb-lg-30  { padding-bottom: 30px!important; }     .pb-lg-35  { padding-bottom: 35px!important; }     .pb-lg-40  { padding-bottom: 40px!important; }
		.pb-lg-45  { padding-bottom: 45px!important; }     .pb-lg-50  { padding-bottom: 50px!important; }     .pb-lg-55  { padding-bottom: 55px!important; }
		.pb-lg-60  { padding-bottom: 60px!important; }     .pb-lg-65  { padding-bottom: 65px!important; }     .pb-lg-70  { padding-bottom: 70px!important; }
		.pb-lg-75  { padding-bottom: 75px!important; }     .pb-lg-80  { padding-bottom: 80px!important; }     .pb-lg-85  { padding-bottom: 85px!important; }
		.pb-lg-90  { padding-bottom: 90px!important; }     .pb-lg-95  { padding-bottom: 95px!important; }     .pb-lg-100 { padding-bottom: 100px!important; }
		.pb-lg-105 { padding-bottom: 105px!important; }    .pb-lg-110 { padding-bottom: 110px!important; }    .pb-lg-115 { padding-bottom: 115px!important; }
		.pb-lg-120 { padding-bottom: 120px!important; }    .pb-lg-125 { padding-bottom: 125px!important; }    .pb-lg-130 { padding-bottom: 130px!important; }
		.pb-lg-135 { padding-bottom: 135px!important; }    .pb-lg-140 { padding-bottom: 140px!important; }    .pb-lg-145 { padding-bottom: 145px!important; }
		.pb-lg-150 { padding-bottom: 150px!important; }    .pb-lg-155 { padding-bottom: 155px!important; }    .pb-lg-160 { padding-bottom: 160px!important; }
		.pb-lg-165 { padding-bottom: 165px!important; }    .pb-lg-170 { padding-bottom: 170px!important; }    .pb-lg-175 { padding-bottom: 175px!important; }
		.pb-lg-180 { padding-bottom: 180px!important; }    .pb-lg-185 { padding-bottom: 185px!important; }    .pb-lg-190 { padding-bottom: 190px!important; }
		.pb-lg-195 { padding-bottom: 195px!important; }    .pb-lg-200 { padding-bottom: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pl-lg-0   { padding-left: 0px!important; }      .pl-lg-5   { padding-left: 5px!important; }      .pl-lg-10  { padding-left: 10px!important; }
		.pl-lg-15  { padding-left: 15px!important; }     .pl-lg-20  { padding-left: 20px!important; }     .pl-lg-25  { padding-left: 25px!important; }
		.pl-lg-30  { padding-left: 30px!important; }     .pl-lg-35  { padding-left: 35px!important; }     .pl-lg-40  { padding-left: 40px!important; }
		.pl-lg-45  { padding-left: 45px!important; }     .pl-lg-50  { padding-left: 50px!important; }     .pl-lg-55  { padding-left: 55px!important; }
		.pl-lg-60  { padding-left: 60px!important; }     .pl-lg-65  { padding-left: 65px!important; }     .pl-lg-70  { padding-left: 70px!important; }
		.pl-lg-75  { padding-left: 75px!important; }     .pl-lg-80  { padding-left: 80px!important; }     .pl-lg-85  { padding-left: 85px!important; }
		.pl-lg-90  { padding-left: 90px!important; }     .pl-lg-95  { padding-left: 95px!important; }     .pl-lg-100 { padding-left: 100px!important; }
		.pl-lg-105 { padding-left: 105px!important; }    .pl-lg-110 { padding-left: 110px!important; }    .pl-lg-115 { padding-left: 115px!important; }
		.pl-lg-120 { padding-left: 120px!important; }    .pl-lg-125 { padding-left: 125px!important; }    .pl-lg-130 { padding-left: 130px!important; }
		.pl-lg-135 { padding-left: 135px!important; }    .pl-lg-140 { padding-left: 140px!important; }    .pl-lg-145 { padding-left: 145px!important; }
		.pl-lg-150 { padding-left: 150px!important; }    .pl-lg-155 { padding-left: 155px!important; }    .pl-lg-160 { padding-left: 160px!important; }
		.pl-lg-165 { padding-left: 165px!important; }    .pl-lg-170 { padding-left: 170px!important; }    .pl-lg-175 { padding-left: 175px!important; }
		.pl-lg-180 { padding-left: 180px!important; }    .pl-lg-185 { padding-left: 185px!important; }    .pl-lg-190 { padding-left: 190px!important; }
		.pl-lg-195 { padding-left: 195px!important; }    .pl-lg-200 { padding-left: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pr-lg-0   { padding-right: 0px!important; }      .pr-lg-5   { padding-right: 5px!important; }      .pr-lg-10  { padding-right: 10px!important; }
		.pr-lg-15  { padding-right: 15px!important; }     .pr-lg-20  { padding-right: 20px!important; }     .pr-lg-25  { padding-right: 25px!important; }
		.pr-lg-30  { padding-right: 30px!important; }     .pr-lg-35  { padding-right: 35px!important; }     .pr-lg-40  { padding-right: 40px!important; }
		.pr-lg-45  { padding-right: 45px!important; }     .pr-lg-50  { padding-right: 50px!important; }     .pr-lg-55  { padding-right: 55px!important; }
		.pr-lg-60  { padding-right: 60px!important; }     .pr-lg-65  { padding-right: 65px!important; }     .pr-lg-70  { padding-right: 70px!important; }
		.pr-lg-75  { padding-right: 75px!important; }     .pr-lg-80  { padding-right: 80px!important; }     .pr-lg-85  { padding-right: 85px!important; }
		.pr-lg-90  { padding-right: 90px!important; }     .pr-lg-95  { padding-right: 95px!important; }     .pr-lg-100 { padding-right: 100px!important; }
		.pr-lg-105 { padding-right: 105px!important; }    .pr-lg-110 { padding-right: 110px!important; }    .pr-lg-115 { padding-right: 115px!important; }
		.pr-lg-120 { padding-right: 120px!important; }    .pr-lg-125 { padding-right: 125px!important; }    .pr-lg-130 { padding-right: 130px!important; }
		.pr-lg-135 { padding-right: 135px!important; }    .pr-lg-140 { padding-right: 140px!important; }    .pr-lg-145 { padding-right: 145px!important; }
		.pr-lg-150 { padding-right: 150px!important; }    .pr-lg-155 { padding-right: 155px!important; }    .pr-lg-160 { padding-right: 160px!important; }
		.pr-lg-165 { padding-right: 165px!important; }    .pr-lg-170 { padding-right: 170px!important; }    .pr-lg-175 { padding-right: 175px!important; }
		.pr-lg-180 { padding-right: 180px!important; }    .pr-lg-185 { padding-right: 185px!important; }    .pr-lg-190 { padding-right: 190px!important; }
		.pr-lg-195 { padding-right: 195px!important; }    .pr-lg-200 { padding-right: 200px!important; }    
	}