body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container {
    width: 100%!important;
    padding-left: 8%!important;
    padding-right: 5%!important;
}
/*.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.marked-text {
    /*display: inline-block;
    background-color: rgba(0, 114, 206, 0.85);
    padding: 0.07em 0.21em;
    margin-top: 0.09em;
    color: #fff;*/

    display: inline-block;
    background-color: rgba(0, 114, 206, 0.85);
    padding: 0.07em 0.21em;
    margin-top: 0.09em;
    margin-bottom: 3em;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px;
}

.tooltip {
min-width: 160px;
margin-left: -10px !important;
padding: 0 !important;
}
.tooltip .tooltip-arrow {
    display: none;
}
.tooltip .tooltip-inner {

    /*background: #FFF;*/
    background-color: rgba(0, 114, 206, 0.85);
    /*color: #afb2bf;*/
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
}
.input-holder .tooltip-activator {
    background-image: url('./images/tooltip-square.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 62px;
    padding: 10px;
    z-index: 1071;
    text-indent: -9999px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

            .ul {
    position: relative;
    padding-left: 0;
    list-style-type: square;
    list-style-image: url('./images/blue-square.png');
    left: -10px;
}
.ul .li {
    line-height: 30px;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 1.7em;
}
            @keyframes move {
                0% {
                    width:0;
                }
                100% {
                    width:140px;
                }
            }

.page-loader {
            position:fixed;
            display:none;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background: rgba(0, 114, 206, 0.9);
            z-index:2002;
        }
        .page-loader .content {
            position:absolute;
            top:50%;
            left:50%;
            height:auto;
            -webkit-transform:translate(-50%,-50%);
            -moz-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
        }
        .page-loader .fancy-loader {
            display:block;
            width:0;
            height:3px;
            background:#FFF;
            margin:40px auto 0;

            -webkit-animation: move .8s infinite alternate;
            -moz-animation: move .8s infinite alternate;
            animation: move .8s infinite alternate;
            -webkit-transition: width .3s ease-in;
            -moz-transition: width .3s ease-in;
            transition: width .3s ease-in;
        }
 


/* Cards... */

.card-default
{
    position: relative;
    
    /*background-color: #fff;*/
    border-radius: 7px;
    
    max-width: 400px;
    
    box-shadow: 0px 0px 6px rgba(150, 150, 150, 0.3);
}

.card-default,
.card-default > *
{
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.card-default .info-container
{
    position: absolute;
    bottom: 0;
    left: 0;
    
    padding: 25px;
    
    width: 100%;
}

.card-default .info-container .inner-container
{
    border-top: 1px solid #dcdcdc;
    padding-top: 25px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 1.2px;
    line-height: 1.6em;
    
    text-transform: uppercase;
    color: #afb2bf;
    
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.card-default img.icon-default,
.card-default img.icon-hover
{
    position: absolute;
    top: 25px;
    right: 25px;
    
    width: 25%;
    opacity: 1;
}

.card-default img.icon-hover
{
    opacity: 0;
}

.card-default:hover
{
    background-color: #0072ce;
}

.card-default:hover img.icon-hover
{
    opacity: 1;
}

.card-default:hover .info-container .inner-container
{
    border-color: #0063b2;
    color: #fff!important;
}


/* Dashboard */

.account-details .modal-header {
    padding: 0;
}
.account-details .totals .amount {
    font-size: 40px;
    line-height: 36px;
    padding: 0;
    letter-spacing: 2px;
}
.account-details .modal-body {
    padding: 40px 60px 60px;
}
.account-details .totals .total-title {
    padding: 50px 0 40px;
}
.account-details .totals .total-title h3 {
    color: #000000;
    font-size: 2.2em;
}
.account-details .extras .order-amount-holder {
    padding: 50px 15px 0px;
    box-shadow: none;
}
.account-details .extras .order-amount-holder:last-child {
    padding-bottom: 20px;
}
.account-details .extras .order-amount-holder .amount {
    font-size: 30px;
    line-height: 26px;
}
.account-details .order-amount-holder .amount sup {
    top: -0.9em;
    letter-spacing: 0;
    font-size: 20px;
}
.account-details .extras .order-amount-holder .amount sup {
    font-size: 14px;
    top: -0.9em;
    letter-spacing: 0;
}
.account-details .extras .order-amount-holder p {
    font-size: 1.2em;
}
.account-details .extras .order-amount-holder p:empty {
    display: none;
}
.account-details .extras .total-cover {
    font-size: 12px;
    top: -5px;
}
.account-details .totals .order-amount-holder {
    padding: 40px 50px;
}

.box-widget {
    border: none;
    position: relative;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bg-black {
    background-color: #111 !important;
}

.widget-user .widget-user-username {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.widget-user .widget-user-desc {
    margin-top: 0;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}

.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}

.img-circle {
    border-radius: 50%;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 2.8em;
    }
    h4, .modal h4 {
        font-size: 2em;
    }
    h5 {
        font-size: 1.7em;
    }
    p, p.regular, ul li, .panel-group .panel .panel-body p {
        font-size: 1.35em;
        margin: 15px 0 0;
        line-height: 1.7em;
    }
    p.lead {
        font-size: 1.5em;
        line-height: 1.4em;
    }
    .ul {
        left: 20px;
        width: 95%;
        list-style-image: url('./images/blue-square-mobile.png');
    }
    .ul .li {
        padding-left: 20px;
        line-height: 1.7em;
    }  
    .card-default
    {
        margin-left: auto;
        margin-right: auto;
    }
}


.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    z-index: 2002;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border: none;
    padding: 18px 20px 5px 0;
}

.modal-body {
    padding: 40px;
}
.modal-body {
    position: relative;
    padding: 15px;
}

#sign-in-up-modal form {
    float: left;
    width: 80%;
    margin: 0 10%;
    padding: 10px 0 0;
}




















/*

Project      : Assan admin - Clean and simple admin template
Version      : v1.0
Author       : Design_mylife (Rakesh Sharma)
Support email: mylifedesign143@gmail.com
*/
/**************************************


/***** Google fonts import ************/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic,700,600italic,600,400italic,300italic,900);
/*
Base csss
*/
.hoeapp-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgba(255, 255, 255, 0.7);
  background-color: #1b1a26;
}

a {
  color: #36c6d3;
}

a, button {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a, a:hover, a:focus, button:hover, button:focus {
  outline: 0 !important;
  text-decoration: none;
}

a:hover, a:focus {
  color: #eee;
}

blockquote {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.blockquote {
  margin: 2rem 0;
  padding: 10px 15px;
  border-left: solid 4px #36c6d3;
  background: #43424f;
}
.blockquote .blockquote-footer {
  font-size: 12px;
  display: block;
  line-height: 16px;
  color: #d8dada;
}

label {
  color: #fff;
  font-weight: 300;
}

button:focus {
  outline: 0 !important;
}

/********color styles****/
.label {
  font-weight: 400;
}

.label-warning {
  background-color: #FFCA28;
}

.label-primary {
  background-color: #36c6d3;
}

.label-danger {
  background-color: #F44336;
}

.label-success {
  background-color: #8BC34A;
}

.label-info {
  background-color: #00BCD4;
}

.color-primary {
  color: #36c6d3;
}

.color-success {
  color: #8BC34A;
}

.color-warning {
  color: #FFCA28;
}

.color-danger {
  color: #F44336;
}

.color-info {
  color: #00BCD4;
}

.bg-primary {
  background-color: #36c6d3;
  color: #fff;
}

.bg-success {
  background-color: #8BC34A;
  color: #fff;
}

.bg-warning {
  background-color: #FFCA28;
  color: #fff;
}

.bg-danger {
  background-color: #F44336;
  color: #fff;
}

.bg-info {
  background-color: #00BCD4;
  color: #fff;
}

.label-circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.badge-defualt {
  background-color: #f5f5f5;
  color: #333;
}

.badge-info {
  background-color: #00BCD4;
}

.badge-primary {
  background-color: #36c6d3;
}

.popover-title {
  color: #333;
}



/*
Button style
*/
.btn {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.btn.btn-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 0px;
  display: inline-block;
}

.btn-icon {
  padding: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}
.btn-icon.btn-lg {
  padding: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.btn-icon.btn-xl {
  padding: 0px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 34px;
}

.btn-sm {
  font-size: 12px;
}

.btn-xs {
  font-size: 12px;
}

.btn-link {
  color: #36c6d3;
}

.btn-default {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #5b5a6a;
}
.btn-default:hover {
  border: 1px solid rgba(197, 214, 222, 0.2);
  background-color: #353440;
  color: #fff;
}
.btn-default.btn-border {
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.btn-default.btn-border:hover {
  background-color: #464550;
  border-color: #464550;
  color: #fff;
}
.btn-default.btn.disabled {
  color: #fff;
  background-color: #5b5a6a;
}

.btn-primary {
  background-color: #36c6d3;
  border-color: #36c6d3;
  color: #fff;
}
.btn-primary.btn-border {
  background-color: transparent;
  color: #36c6d3;
  border: 1px solid #36c6d3;
}
.btn-primary.btn-border:hover {
  background-color: #36c6d3;
  color: #fff;
}

.btn-success {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #fff;
}
.btn-success.btn-border {
  background-color: transparent;
  color: #8BC34A;
  border: 1px solid #8BC34A;
}
.btn-success.btn-border:hover {
  background-color: #8BC34A;
  color: #fff;
}

.btn-warning {
  background-color: #FFCA28;
  border-color: #FFCA28;
  color: #fff;
}
.btn-warning.btn-border {
  background-color: transparent;
  color: #FFCA28;
  border: 1px solid #FFCA28;
}
.btn-warning.btn-border:hover {
  background-color: #FFCA28;
  color: #fff;
}

.btn-danger {
  background-color: #F44336;
  border-color: #F44336;
  color: #fff;
}
.btn-danger.btn-border {
  background-color: transparent;
  color: #F44336;
  border: 1px solid #F44336;
}
.btn-danger.btn-border:hover {
  background-color: #F44336;
  color: #fff;
}

.btn-info {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff;
}
.btn-info.btn-border {
  background-color: transparent;
  color: #00BCD4;
  border: 1px solid #00BCD4;
}
.btn-info.btn-border:hover {
  background-color: #00BCD4;
  color: #fff;
}

.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998 !important;
}

.btn-twitter {
  color: #ffffff !important;
  background-color: #55acee !important;
}

.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6 !important;
}

.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89 !important;
}

.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
}

.btn-instagram {
  color: #ffffff !important;
  background-color: #3f729b !important;
}

.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027 !important;
}

.btn-dropbox {
  color: #ffffff !important;
  background-color: #007ee5 !important;
}

.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084 !important;
}

.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d !important;
}

.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0 !important;
}

.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000 !important;
}

.btn-github {
  color: #ffffff !important;
  background-color: #171515 !important;
}

.ui-buttons .btn {
  margin: 2px;
}

/*
Top bar styles
*/
.hoe-right-header {
  background-color: #272632;
}

.hoe-sidebar-toggle a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hoe-sidebar-toggle a:hover:after {
  background-color: transparent;
  color: #fff;
}

.top-search form {
  position: relative;
  width: 180px;
  margin-left: 10px;
}
.top-search form .form-control {
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  background-color: #1c1b28;
}
.top-search form i {
  position: absolute;
  top: 5%;
  right: 10px;
}

.hoe-right-header ul > li {
  margin-right: 15px;
}
.hoe-right-header ul > li img {
  margin-right: 5px;
}
.hoe-right-header ul > li > a {
  color: #d8dada;
  line-height: 50px;
  display: block;
  padding: 0px 10px;
}
.hoe-right-header ul > li > a:hover, .hoe-right-header ul > li > a:focus {
  background: #222;
  text-decoration: none;
  color: #36c6d3;
}

.hoe-right-header .right-navbar {
  margin-right: 0px;
  padding-right: 0px !important;
}

.hoe-right-header .right-navbar > li {
  vertical-align: middle;
}

.hoe-right-header .right-navbar > li > a i {
  font-size: 25px;
  display: block;
}

.hoe-right-header .right-navbar > li > a .label {
  margin-top: 0px;
  position: absolute;
  right: 3px;
  top: 7px;
}


/*
Tabs style
*/
.tabs-bordered {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0;
}
.tabs-bordered li {
  margin: 0;
  padding: 0;
  margin-bottom: -2px;
}
.tabs-bordered li a {
  display: block;
  padding: 8px 14px;
  color: #d8dada;
  border-bottom: 2px solid transparent;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.tabs-bordered li a i {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: middle;
}
.tabs-bordered li.active a, .tabs-bordered li a:hover {
  border-bottom-color: #36c6d3;
  color: #36c6d3;
}
.tabs-bordered.icons-tab i {
  margin: 0px;
  font-size: 23px;
}

.tabs-left-align .tab-content, .tabs-right-align .tab-content {
  overflow: hidden;
}
.tabs-left-align ul li a, .tabs-right-align ul li a {
  display: block;
  padding: 7px 15px;
  background-color: #1b1a26;
  font-size: 14px;
  color: #d8dada;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.tabs-left-align ul li.active a, .tabs-right-align ul li.active a {
  background-color: #36c6d3;
  color: #fff;
}

.tabs-left-align ul {
  float: left;
  margin-right: 20px;
}

.tabs-right-align ul {
  float: right;
  margin-left: 20px;
}

/*
Side navigation styles
*/
.hoeapp-wrapper {
  font-family: "Source Sans Pro", sans-serif;
}

.hoe-left-panel .panel-list > li > a, .hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
  padding: 8px 10px;
}

/*body .hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu, body #hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul {
  box-shadow: none !important;
}*/

.hoe-sidebar-toggle a:after, .hoeapp-wrapper[hoe-device-type="phone"] .hoe-left-header .hoe-sidebar-toggle a::after {
  content: "\f130";
  font-family: 'Ionicons';
  font-size: 28px;
}

.hoeapp-container[hoe-color-type="lpanel-bg5"] .hoe-left-panel .panel-list li.active > a .selected {
  border-right: 7px solid #646277;
}

.hoe-left-panel .panel-list > li.hoe-has-menu > a:after {
  content: "\f3d0";
  font-family: 'Ionicons';
}

.hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
  content: "\f111";
  font-size: 6px;
}

.hoe-left-header {
  background-color: #36c6d3;
}

.hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
  text-transform: capitalize;
}

.hoe-left-panel .panel-list > li > a {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}


/*
Panel style
*/
.panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background-color: #2b2a37;
  border: 0;
}
.panel .panel-heading {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 0px;
  padding: 15px;
  position: relative;
}
.panel .panel-heading .panel-title {
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: capitalize;
  color: #fff;
}
.panel .panel-heading .panel-title .helping-text {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}
.panel .panel-heading .panel-actions {
  right: 10px;
  position: absolute;
  top: 12px;
}
.panel .panel-heading .panel-actions > a {
  font-size: 15px;
  display: block;
  float: left;
  color: #adb7be;
  margin: 0px 7px;
}
.panel .panel-heading .panel-actions > a i {
  display: block;
}
.panel .panel-heading .panel-actions > a:hover {
  color: #36c6d3;
}
.panel .panel-heading .panel-actions .dropdown > a {
  font-size: 15px;
  color: #adb7be;
  display: block;
  padding: 0px 7px;
}
.panel .panel-heading .panel-actions .dropdown > a:hover {
  color: #36c6d3;
}
.panel .panel-heading .panel-actions .dropdown-menu {
  right: 0;
  left: auto;
}
.panel .panel-heading .panel-actions .dropdown-menu > li > a {
  font-size: 13px;
}
.panel .panel-heading .panel-actions .dropdown-menu > li > a:hover {
  color: #36c6d3;
}
.panel .panel-heading .panel-subtitle {
  color: #999;
  font-size: 12px;
  line-height: 1.2em;
  margin: 7px 0 0;
  padding: 0;
}

.panel-action-toggle, .panel-action-dismiss {
  font-family: 'IonIcons';
}

.panel-collapsed .panel-action-toggle:before {
  content: "\f218";
}

.panel-action-toggle:before {
  content: "\f209";
}

.panel-action-dismiss:before {
  content: "\f12a";
}

.panel-search {
  float: right;
}
.panel-search .form-panel-search {
  position: relative;
  top: -8px;
}
.panel-search .form-panel-search i {
  position: absolute;
  right: 10px;
  top: 10px;
}


/*
Calendar style
*/
.fc-event {
  color: #d8dada;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background-color: #36c6d3;
  border: 0;
}

.fc-toolbar h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.fc-state-default.fc-corner-left, .fc-state-default.fc-corner-right {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.fc-state-default {
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  border: 0px;
  text-shadow: none;
  color: #d8dada;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.fc .fc-button-group > * {
  margin: 0px 7px 0 -1px;
}

.fc-state-down, .fc-state-active, .fc-state-default:hover {
  background-color: #36c6d3;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover {
  border-color: rgba(255, 255, 255, 0.1);
}

.fc-unthemed .fc-today {
  background-color: rgba(0, 0, 0, 0.2);
}

.profile-info {
  text-align: center;
}
.profile-info img {
  margin-bottom: 20px;
}
.profile-info h4 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 3px;
}
.profile-info .profile-menu {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  padding: 0px;
}
.profile-info .profile-menu li a {
  display: block;
  padding: 7px 20px;
  color: #d8dada;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.profile-info .profile-menu li a i {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}
.profile-info .profile-menu li.active a, .profile-info .profile-menu li a:hover {
  background-color: #1b1a26;
  color: #36c6d3;
}
.profile-info .profile-menu li:first-child a {
  border-top: 0px;
}

.profile-states {
  text-align: center;
}
.profile-states h1 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 0;
}
.profile-states h4 {
  font-size: 11px;
  margin-bottom: 0px;
  color: #d8dada;
}

.stream-list li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.stream-list li img {
  float: left;
  margin-right: 10px;
}
.stream-list li .stream-content {
  overflow: hidden;
}
.stream-list li .stream-content h5 {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 13px;
}
.stream-list li .stream-content .stream-time {
  float: right;
}

.task-list {
  margin: 0px;
  position: relative;
}
.task-list li {
  padding: 10px 15px;
}
.task-list li:nth-child(even) {
  background-color: #1b1a26;
}
.task-list li .task-label {
  float: right;
  margin-left: 20px;
}
.task-list li .task-text {
  overflow: hidden;
}
.task-list li .task-text a {
  display: block;
  color: #d8dada;
}
.task-list li .task-text a:hover {
  text-decoration: underline;
  color: #36c6d3;
}

.user-card {
  padding: 24px;
  background: #1b1a26;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.user-card img {
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.user-card .user-card-content {
  overflow: hidden;
}
.user-card .user-card-content h4 {
  margin-bottom: 0px;
  font-weight: 400;
}
.user-card .user-card-content span {
  font-size: 12px;
}



/*
Mail Pages
*/
.inbox-nav li {
  vertical-align: middle;
}
.inbox-nav li a {
  display: block;
  padding: 5px 15px;
  color: #D8DADA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: 3px;
  text-transform: capitalize;
}
.inbox-nav li a i {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
}
.inbox-nav li a .label-circle {
  margin-right: 10px;
}
.inbox-nav li a:hover {
  background-color: #464550;
}
.inbox-nav li.active a {
  background-color: #36c6d3;
  color: #fff;
}

.mail-header h3 {
  font-weight: 400;
  margin-bottom: 0px;
}

.mail-open-header {
  margin-bottom: 0px;
}

.mail-body {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
}

.file-box {
  float: left;
  width: 220px;
}

.file {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
  background-color: #302f40;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}
.file .file-name {
  padding: 10px;
  background-color: #3e3d50;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.file .icon {
  padding: 15px 10px;
  text-align: center;
  height: 90px;
}
.file .icon i {
  font-size: 70px;
  color: #dadada;
}









/*****===========================================

RESPONSIVE style

===========================================********************/
@media (max-width: 767px) {
  .mail-header {
    text-align: center;
  }
  .mail-header h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  .mail-header .pull-right {
    float: none !important;
  }

  .tooltip-show {
    margin-top: 15px;
  }

  .hoe-right-header ul.dropdown-menu {
    right: 0;
    left: auto;
  }

  .hoe-right-header ul.dropdown-menu.lg-dropdown {
    width: 285px;
    min-width: 285px;
    left: 0;
    right: auto;
  }

  .notifications.dropdown-menu p a {
    font-size: 9px;
    line-height: 18px;
  }

  .tabs-bordered li a {
    padding: 8px 8px;
    font-size: 11px;
  }

  .hoe-sidebar-toggle a:after, #hoeapp-wrapper[hoe-device-type="phone"] .hoe-left-header .hoe-sidebar-toggle a::after {
    color: #fff;
  }
}



