
<?= $this->doctype(); $this->headTitle()->setTranslatorEnabled(false); ?>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <?= $this->headTitle('Order history &middot;')->setSeparator(' | ')->setAutoEscape(false) ?>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <!-- Le styles -->
    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
        ->prependStylesheet($this->basePath('css/toolkit-inverse.css'))
        ->prependStylesheet($this->basePath('css/application.css'))
    ?>

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }

      #map { position:absolute; top:0; bottom:0; width:100%; }
      
    </style>
    <?= $this->headScript()
            ->appendFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>
  </head>


<body>
  <div class="container">
    <div class="row">

              <div class="col-sm-12 content">
                
                <?= $this->content ?>

                
              </div>
            </div>
          </div>

          

          <div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example modal</h4>
              </div>
              <div class="modal-body">
                <p>You're looking at an example modal in the dashboard theme.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
              </div>
            </div>
          </div>
        </div>

    <?= $this->inlineScript() ?>

    <!-- Scripts -->
    <?= $this->inlineScript()
        ->appendFile($this->basePath('theme/docs/assets/js/jquery.min.js'))
        ->appendFile($this->basePath('theme/docs/assets/js/chart.js'))
        ->appendFile($this->basePath('theme/docs/assets/js/tablesorter.min.js'))
        ->appendFile($this->basePath('theme/docs/assets/js/toolkit.js'))
        ->appendFile($this->basePath('theme/docs/assets/js/application.js'))
    ?>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>

  </body>
</html>

