<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta name='viewport' charset="utf-8" content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <?php echo $this->headTitle('Nigeria')->setSeparator(' - ')->setAutoEscape(false); ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
        ?>

        <?php echo $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'])
          ->prependStylesheet($this->basePath('assets/bootstrap-dashboard/css/application.css'))
          ->prependStylesheet($this->basePath('assets/bootstrap-dashboard/css/toolkit-inverse.css'))
          ->prependStylesheet($this->basePath('assets/css/style.css'))
          ->prependStylesheet($this->basePath('assets/css/margins.css'))
          ->prependStylesheet($this->basePath('assets/css/bootstrap.min.css'))
          // ->prependStylesheet($this->basePath('assets/extra/vendor/jquery-ui/jquery-ui.min.css'))
          // ->prependStylesheet($this->basePath('assets/extra/vendor/nanoScroller/css/nanoscroller.css'))
          // ->prependStylesheet($this->basePath('assets/extra/css/bootstrap-half-cols.css'))
          // ->prependStylesheet($this->basePath('assets/extra/css/margins.css'))
          // ->prependStylesheet($this->basePath('assets/extra/css/navigation.css'))
          // ->prependStylesheet($this->basePath('assets/extra/css/main-style.css'))
          ->prependStylesheet('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');
        ?>

    <!-- Scripts -->
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <!-- normal script imports etc  -->

    <script src="<?php echo $this->basePath('/'); ?>assets/js/jquery-3.1.0.min.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

    <?php echo $this->headScript()
        ->prependFile($this->basePath('assets/js/bootstrap.min.js'))
        ->prependFile($this->basePath('assets/extra/js/onload-er.js'))
        ->prependFile($this->basePath('assets/js/jquery-3.1.0.min.js'));
    ?>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }

      #map { position:relative; top:0; bottom:0; width:100%; }

      #info {
        display: block;
        position: relative;
        margin: 0px auto;
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }

    canvas {
        position:relative;
        /*width: auto;
        height: auto;*/
        margin-top: 15px;
      }

      #fit {
        display: block;
        position: relative;
        margin: 0px auto;
       /* width: 50%;*/
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
        /*border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;*/
        /*color: #fff;
        background: #ee8a65;*/
    }

    .mapboxgl-ctrl-bottom-left {display: none;}
    .mapboxgl-ctrl-bottom-right {display: none;}
    </style>

    <script type="text/javascript">
      var pl;
      var isAnimating = false;
      var loaderTimer;
      function pageLoader(toggle,text) {

        if (pl == undefined)
            pl = $('.page-loader');

        if(text != undefined) {
            pl.find('h4').text(text);
        } else {
            pl.find('h4').text('Loading');
        }

        if (toggle == true) {

            pl.stop(true, false).fadeIn(350);

        } else {

            clearTimeout(loaderTimer);
            loaderTimer = setTimeout(function(){
                pl.stop(true, false).fadeOut(450, function(){
                    jQuery(this).removeAttr('style');
                });    
            },800);
            

        }

    }
    
    onloader(function(){
        pageLoader(true,'Loading please wait...');  
    });

    </script>

    </head>
    
    <body>

    <div class="post-loader" style="display: none;">
    
      <div class="with-iconav">

        <nav class="iconav" style="">
          <a class="iconav-brand" href="../index.html">
            <span class="icon icon-leaf iconav-brand-icon"></span>
           <!--   <img class="img-responsive" style="height: auto;" src="<?= $this->basePath() . '/assets/images/logo.PNG' ?>"></img> -->
          </a>
          <div class="iconav-slider">
            <ul class="nav nav-pills iconav-nav ul">
              <li class="active li">
                <a href="<?= $this->basePath('/admin/index') ?>" title="Overview" data-toggle="tooltip" data-placement="right" data-container="body">
                  <span class="icon icon-home"></span>
                  <small class="iconav-nav-label visible-xs-block">Overview</small>
                </a>
              </li>
              <!-- <li class="li">
                <a href="<?= $this->basePath('/admin/data') ?>" title="View Data" data-toggle="tooltip" data-placement="right" data-container="body">
                  <span class="icon icon-text-document"></span>
                  <small class="iconav-nav-label visible-xs-block">View Data</small>
                </a>
              </li> -->
              <li class="li">
                <a href="<?= $this->basePath('/admin/import-export') ?>" title="Data Import" data-toggle="tooltip" data-placement="right" data-container="body">
                  <span class="icon icon-list"></span>
                  <small class="iconav-nav-label visible-xs-block">Data Import</small>
                </a>
              </li>
              <!-- <li class="li">
                <a href="<?= $this->basePath('/admin/export') ?>" title="Data Export" data-toggle="tooltip" data-placement="right" data-container="body">
                  <span class="icon icon-area-graph"></span>
                  <small class="iconav-nav-label visible-xs-block">Data Export</small>
                </a>
              </li> -->
      
              <!-- <li class="li">
                <a href="/admin/user" title="My Profile" data-toggle="tooltip" data-placement="right" data-container="body">
                  <span class="icon icon-user"></span>
                  <small class="iconav-nav-label visible-xs-block">My Profile</small>
                </a>
              </li> -->
            </ul>
          </div>
        </nav>
        
        <div class='container'>
          <?php echo $this->content; ?>
        </div>
        
      </div>
      
      <div class="page-loader" style="display:block!important">
        <div class="content text-center">
          <!-- <img src="{site_url}assets/img/logo-main-white.png" width="280" alt="Hammond PI"> -->
          <!-- <h3 class='marked-text'>Tifunde</h3> -->
          <div class="fancy-loader"></div>
          <h4 class="text-white mt-xs-20" style="color:#FFF;">Loading</h4>
        </div>
      </div>

    </div>
      
      <!-- not sure if these are necessary at the moment... -->
      <!-- <script src="<?php echo $this->basePath('/'); ?>assets/bootstrap-dashboard/js/chart.js"></script>
        <script src="<?php echo $this->basePath('/'); ?>assets/bootstrap-dashboard/js/tablesorter.min.js"></script>
        <script src="<?php echo $this->basePath('/'); ?>assets/bootstrap-dashboard/js/toolkit.js"></script>
        <script src="<?php echo $this->basePath('/'); ?>assets/bootstrap-dashboard/js/application.js"></script>
        <script src="<?php echo $this->basePath('/'); ?>assets/js/main.js"></script> -->

        <?= $this->inlineScript()
            ->appendFile($this->basePath('assets/bootstrap-dashboard/js/chart.js'))
            ->appendFile($this->basePath('assets/bootstrap-dashboard/js/tablesorter.min.js'))
            ->appendFile($this->basePath('assets/bootstrap-dashboard/js/toolkit.js'))
            ->appendFile($this->basePath('assets/bootstrap-dashboard/js/application.js'))
            ->appendFile('https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
            ->appendFile('https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
            ->appendFile('https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js')

            ->appendFile('https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js')
            ->appendFile('https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js')
            ->appendFile('https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
            ->appendFile($this->basePath('assets/js/application.js'))
            ->appendFile($this->basePath('assets/js/main.js'))
        ?>


      <!-- <script src="<?php echo $this->basePath('/'); ?>assets/extra/js/layout.js"></script> -->
      <script type="text/javascript">

            window.onload = function () {  pageLoader(false); jQuery('div.post-loader').fadeIn(350);}
      
        </script>

      
      <?php echo $this->inlineScript(); ?>
        
    </body>
</html>

<!-- setting dashboard colour and stuff -->

<!-- body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830;
} -->
<script type="text/javascript">
  $(function () {
    $('.navbar-toggle').click(function () {
        $('.navbar-nav').toggleClass('slide-in');
        $('.side-body').toggleClass('body-slide-in');
        $('#search').removeClass('in').addClass('collapse').slideUp(200);

        /// uncomment code for absolute positioning tweek see top comment in css
        //$('.absolute-wrapper').toggleClass('slide-in');
        
    });
   
   // Remove menu for searching
   $('#search-trigger').click(function () {
        $('.navbar-nav').removeClass('slide-in');
        $('.side-body').removeClass('body-slide-in');

        /// uncomment code for absolute positioning tweek see top comment in css
        //$('.absolute-wrapper').removeClass('slide-in');

    });
});
</script>



    
