<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />
    

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//resources/demos/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->basePath('assets/css/map.css'); ?>">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="<?php echo $this->basePath('assets/ionRanger/css/normalize.css'); ?>" />
    <link rel="stylesheet" href="<?php echo $this->basePath('assets/ionRanger/css/ion.rangeSlider.css'); ?>" />
    <link rel="stylesheet" href="<?php echo $this->basePath('assets/ionRanger/css/ion.rangeSlider.skinFlat.css'); ?>" /> 
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  crossorigin=""></script>

    <style>
    @import url('https://fonts.googleapis.com/css?family=Karla');
        body {
            font-family: 'Karla', sans-serif;
    }

  
    </style>

   <!--  <?php echo $this->headScript()
        ->prependFile($this->basePath('assets/js/bootstrap.min.js'))
        ->prependFile($this->basePath('assets/js/jquery-3.1.0.min.js'));
    ?> -->

</head>
<body>


<?php echo $this->content; ?>



<script>

var json;

mapboxgl.accessToken = 'pk.eyJ1IjoiYnJpYW5ueWF0c2luZSIsImEiOiJjajZpZ2k3aWIwcG9xMnhuaDY4aWpseW10In0.A-ojdBzulUfino9_H06PEg';
var map = new mapboxgl.Map({
    container: 'map',
    // style: 'mapbox://styles/mapbox/light-v9',
    // style: 'mapbox://styles/briannyatsine/cj7dzpzh817cm2rnk7r193yzm',
    style: 'mapbox://styles/briannyatsine/cj7dzpzh817cm2rnk7r193yzm',
    // zoom: 5.3,
    // // minZoom: 3,
    // center: [3.406448, 6.465422],

    zoom: 5.6,
    center: [5.236,7.558],

      maxBounds:[[-11.803922391123677, -8.38865711728937], [33.6859601013154, 26.99619131840801]]

});

map.on('load', function () {


        // add data to the map...

        //starting with states

        map.addLayer({
            "id": "all_states",
            "type": "fill",
            "source": "composite",
            "source-layer": "admin_level_4-9lwyxe",
            "filter": [
                "in",
                "$type",
                "LineString",
                "Point",
                "Polygon"
            ],
            "layout": {},
            "paint": {
                'fill-color': '#ABB2B9',
                'fill-opacity': 0.1
            }
        });


        var states_of_ng = [
            'Federal Capital Territory',       
            'Abia',
            'Adamawa',
            'Anambra',
            'Akwa Ibom',
            'Bauchi',
            'Bayelsa',
            'Benue',
            'Borno',
            'Cross River',
            'Delta',
            'Ebonyi',
            'Enugu',
            'Edo',
            'Ekiti',
            'Gombe',
            'Imo',
            'Jigawa',
            'Kaduna',
            'Kano',
            'Katsina',
            'Kebbi',
            'Kogi',
            'Kwara',
            'Lagos',
            'Nasarawa',
            'Niger',
            'Ogun',
            'Ondo',
            'Osun',
            'Oyo',
            'Plateau',
            'Rivers',
            'Sokoto',
            'Taraba',
            'Yobe',
            'Zamfara'
        ];

        states_of_ng.forEach(function(name) {

            map.addLayer({
                "id": name,
                "type": "line",
                "source": "composite",
                "source-layer": "admin_level_4-9lwyxe",
                "filter": [
                    "==",
                    "name",
                    name
                ],
                "layout": {
                    'visibility': 'none'
                },
                "paint": {
                    "line-color": "#2ecc71",
                    "line-opacity": 0.9,
                    "line-width": 2
                }
            });
        });

        // start with On Grid Infrastructure

        // transmission lines
        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/existing_transmission_lines.json", function(json) {
            map.addSource('existing_transmission_lines', {
                type: 'geojson',
                data: json,
            });

            map.addLayer({
                'id': 'existing_transmission_lines',
                'type': 'line',
                'source': 'existing_transmission_lines',
                "layout": {
                    "line-join": "round",
                    "line-cap": "round"
                },
                "paint": {
                    "line-color": '#ff8e8e',
                    "line-width": 0.1
                },
                "filter": ["==", "$type", "LineString"]
            });

            map.setLayoutProperty('existing_transmission_lines', 'visibility', 'none');
        });

        

        // power plants

        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/power_plant_locations.json", function(json) {
            map.addSource('power_plant_locations', {
                type: 'geojson',
                data: json,
            });

             map.addLayer({
                'id': 'power_plant_locations',
                'type': 'circle',
                'source': 'power_plant_locations',
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#27ae60',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 3], [8, 5]]
                    }
                },
                "filter": ["==", "$type", "Point"]
            });
        });


        //gas lines existing_gas_lines

        // $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/existing_gas_lines.json", function(json) {
        //     map.addSource('power_plant_locations', {
        //         type: 'geojson',
        //         data: json,
        //     });

             map.addLayer({
                'id': 'existing_gas_lines',
                'type': 'line',
                'source': 'composite',
                "source-layer": "existing_gas_lines-9ejdx3",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "line-color": '#71ba51',
                    "line-width": 1
                },
                "filter": ["==", "$type", "LineString"]
            });

             map.setLayoutProperty('existing_gas_lines', 'visibility', 'none');
        // });


        // disco Infrastructure

        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/distribution_infrastructure.json", function(json) {
            map.addSource('distribution_infrastructure', {
                type: 'geojson',
                data: json,
            });

             map.addLayer({
                'id': 'distribution_infrastructure',
                'type': 'line',
                'source': 'distribution_infrastructure',
                'layout': {
                'visibility': 'none'
                },
                "paint": {
                    "line-color": '#C11B17',
                    "line-width": 1
                }
                // "filter": ["==", "country", "Nigeria"]
            });
        });


        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/disco_eko.json", function(json) {
            map.addSource('eko_disco', {
                type: 'geojson',
                data: json,
            });

             map.addLayer({
                'id': 'disco_eko',
                'type': 'line',
                'source': 'eko_disco',
                'layout': {
                'visibility': 'none'
                },
                "paint": {
                    "line-color": "#2ecc71",
                    "line-opacity": 0.9,
                    "line-width": 2
                }
                // "filter": ["==", "country", "Nigeria"]
            });
        });

        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/disco_ikeja.json", function(json) {
            map.addSource('disco_ikeja', {
                type: 'geojson',
                data: json,
            });

             map.addLayer({
                'id': 'disco_ikeja',
                'type': 'line',
                'source': 'disco_ikeja',
                'layout': {
                'visibility': 'none'
                },
                "paint": {
                    "line-color": "#2ecc71",
                    "line-opacity": 0.9,
                    "line-width": 2
                }
                // "filter": ["==", "country", "Nigeria"]
            });
        });



        // $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/states_settlement_data.json", function(json) {
        //     map.addSource('states_settlement_data', {
        //         type: 'geojson',
        //         data: json,
        //     });

            // map.addLayer({
            //     'id': 'states_settlement_data',
            //     'type': 'circle',
            //     'source': 'states_settlement_data',
            //     'layout': {
            //     'visibility': 'visible'
            //     },
            //     "paint": {
            //         "circle-color": '#2ECC71',
            //         'circle-radius': {
            //             'base': 1.75,
            //             'stops': [[5.5, 1], [8, 5]]
            //         },
            //     },
            //     "filter": ["==", "$type", "Point"]
            // });

            // electrified communities

            map.addLayer({
                'id': 'electrified_10',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "10km-buffer-electrified-commu-2oumm0",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#9e906e',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 3], [8, 5]]
                    }
                }
                // "filter": ["==", "Status of electrification", "electrified"]
            });

            map.addLayer({
                'id': 'electrified_20',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "20km-buffer-electrified-commu-8ulw1e",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#9e906e',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 3], [8, 5]]
                    }
                }
                // "filter": ["==", "Status of electrification", "electrified"]
            });

            map.addLayer({
                'id': 'potential_grid_10',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "potential-grid-extension-comm-b5i8ep",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#422e39',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                }
                // "filter": ["==", "", ""]
            });

            map.setLayoutProperty('potential_grid_10', 'visibility', 'none');


            map.addLayer({
                'id': 'potential_grid_20',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "potential-grid-extension-comm-5r4mj4",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#422e39',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                }
                // "filter": ["==", "Status of electrification", "potential_grid"]
            });

            map.setLayoutProperty('potential_grid_20', 'visibility', 'none');

            map.addLayer({
                'id': 'potential_shs_10',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "potential-shs-communities-10k-a5zj3x",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#8f6f40',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                }
                // "filter": ["==", "", ""]
            });

            map.setLayoutProperty('potential_shs_10', 'visibility', 'none');


            map.addLayer({
                'id': 'potential_shs_20',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "potential-shs-communities-20k-76f5ml",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#8f6f40',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                }
                // "filter": ["==", "", ""]
            });

            map.setLayoutProperty('potential_shs_20', 'visibility', 'none');


            map.addLayer({
                'id': 'potential_minigrid_10',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "potential-minigrid-communitie-631zi5",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#523d1f',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                }

            });

            map.setLayoutProperty('potential_minigrid_10', 'visibility', 'none');

            map.addLayer({
                'id': 'potential_minigrid_20',
                'type': 'circle',
                'source': 'composite',
                "source-layer": "potential-minigrid-communitie-dklta6",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#523d1f',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                }
                // "filter": ["==", "Status of electrification", "potential_minigrid"]
            });

            map.setLayoutProperty('potential_minigrid_20', 'visibility', 'none');

        // });

        //Now we start adding the resourcess


        //Mines

        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/mines.json", function(json) {
            map.addSource('mines', {
                type: 'geojson',
                data: json,
            });

            map.addLayer({
                'id': 'mines',
                'type': 'circle',
                'source': 'mines',
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "circle-color": '#e74c3c',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 3], [8, 5]]
                    }
                },
                "filter": ["==", "$type", "Point"]
            });
        });


        //solar Radiance

        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/solar.json", function(json) {
            map.addSource('solar', {
                type: 'geojson',
                data: json,
            });

            map.addLayer({
                'id': 'solar',
                'type': 'fill',
                'source': 'solar',
                'layout': {
                'visibility': 'none'
                },
                "paint": {
                    'fill-color': {
                        'property': 'ghi_kwh_m2',
                        'stops': [
                            [1800, '#d5ebae'], 
                            [2100, '#ffe6a6'], 
                            [2400, '#ffb971'],
                            [2700, '#ee6f48'],
                            [3050, '#d92224']
                        ]
                    },
                    'fill-opacity': 0.9
                },
                "filter": ["==", "$type", "Polygon"]
            });
        });

        // Road road_networks

        // $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/roads.json", function(json) {
        //     map.addSource('road_networks', {
        //         type: 'geojson',
        //         data: json,
        //     });

            map.addLayer({
                'id': 'roads',
                'type': 'line',
                'source': 'composite',
                "source-layer": "road-network-all_1-3mue0z",
                'layout': {
                'visibility': 'visible'
                },
                "paint": {
                    "line-color": '#f3b5a9',
                    "line-width": 0.2
                }
                // "filter": ["==", "$type", "LineString", "Polygon", "MultiPolygon"]
            });

            map.setLayoutProperty('roads', 'visibility', 'none');

        // });


        // Amenties

        // school_locations
        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/school_locations.json", function(json) {
            map.addSource('school_locations', {
                type: 'geojson',
                data: json,
            });

            map.addLayer({
                'id': 'school_locations',
                'type': 'circle',
                'source': 'school_locations',
                // "source-layer": "school_locations-amkue8",
                'layout': {
                'visibility': 'none'
                },
                "paint": {
                    "circle-color": '#42729b',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                },
                "filter": ["==", "$type", "Point"]
            });

            // map.setLayoutProperty('school_locations', 'visibility', 'none');
        });


        // health_care_centers

        // $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/health_care_centers.json", function(json) {
        //     map.addSource('health_care_centers', {
        //         type: 'geojson',
        //         data: json,
        //     });

        //     map.addLayer({
        //         'id': 'health_care_centers',
        //         'type': 'circle',
        //         'source': 'health_care_centers',
        //         'layout': {
        //         'visibility': 'visible'
        //         },
        //         "paint": {
        //             "circle-color": '#1771bb',
        //             'circle-radius': {
        //                 'base': 1.75,
        //                 'stops': [[5.5, 1], [8, 5]]
        //             }
        //         },
        //         "filter": ["==", "$type", "Point"]
        //     });

        //     map.setLayoutProperty('health_care_centers', 'visibility', 'none');

        // });

        // water_access

        $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/water_access.json", function(json) {
            map.addSource('water_access', {
                type: 'geojson',
                data: json,
            });

            map.addLayer({
                'id': 'water_access',
                'type': 'circle',
                'source': 'water_access',
                // "source-layer": "water_access-2jyerc",
                // "minzoom": 0,
                'layout': {
                'visibility': 'none'
                },
                "paint": {
                    "circle-color": '#073154',
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [[5.5, 1], [8, 5]]
                    }
                },
                "filter": ["==", "$type", "Point"]
            });

            // map.setLayoutProperty('water_access', 'visibility', 'none');

        });


        // Mda's

        // $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/mda_locations.json", function(json) {
        //     map.addSource('mda_locations', {
        //         type: 'geojson',
        //         data: json,
        //     });

            // map.addLayer({
            //     'id': 'mda_locations',
            //     'type': 'circle',
            //     'source': 'mda_locations',
            //     'layout': {
            //     'visibility': 'visible'
            //     },
            //     "paint": {
            //         "circle-color": '#00587a',
            //         'circle-radius': {
            //             'base': 1.75,
            //             'stops': [[5.5, 1], [8, 5]]
            //         }
            //     },
            //     "filter": ["==", "$type", "Point"]
            // });

            // map.setLayoutProperty('mda_locations', 'visibility', 'none');

        // });










        // $.getJSON("<?php echo $this->basePath('/'); ?>assets/mapfiles/business_hubs.json", function(json) {
        //     map.addSource('business_hubs', {
        //         type: 'geojson',
        //         data: json,
        //     });

        //     map.addLayer({
        //         'id': 'business_hubs',
        //         'type': 'circle',
        //         'source': 'business_hubs',
        //         'layout': {
        //         'visibility': 'visible'
        //         },
        //         "paint": {
        //             "circle-color": '#A569BD',
        //             'circle-radius': {
        //                 'base': 1.75,
        //                 'stops': [[5.5, 1], [8, 5]]
        //             }
        //         },
        //         "filter": ["==", "$type", "Point"]
        //     });

        //     map.setLayoutProperty('business_hubs', 'visibility', 'none');
        // });

    // alert('hahaha');
    // console.log(__data.responseText);
    // $.getJSON( "http://localhost/geo/public/home/geojson", function( data ) {
    //       $.each( data.features, function( key, val ) {

    //         console.log(val.properties.HRname);
    //         map.addLayer({
    //             'id': val.properties.HRname,
    //             'type': 'fill',
    //             'source': 'states',
    //             'layout': {},
    //             'paint': {
    //                 'fill-color': '#088',
    //                 'fill-opacity': 0.2
    //             },
    //             "filter": ["==", "$type", "Polygon"]
    //         });
    //     });
    // });
    // map.fitBounds([[
    //     4.2771,
    //     2.6684
    // ], [
    //     14.6801,
    //     13.8920
    // ]]);

    var fields = [
        'State',
        'LGA',
        'Ward',
        'Latitude',
        'Longitude',
        'Population',
        'grid_buffer',
        'Status of electrification',
        'PV capacity high share [MW]',
        'VOLTAGE_KV',
        'PROJECT_NM',
        'operator',
        'name',
        'power',
        'community',
        'facility_name',
        'unique_lga',
        'water_point_type',
        'sector',
        'ghi_kwh_m2',
        'num_students_male',
        'num_students_female',
        'num_students_total',
        'status',
        'op_comp',
        'capacity',
        'location',
        'commodity',
        'Power station',
        'Community',
        'Coordinates',
        'Type',
        'buffer',
        'iso'

    ]; 

    var a = [
                'roads',
                'mines',
                'existing_gas_lines',
                'power_plant_locations',
                // 'health_care_centers',
                'school_locations',
                'water_access',
                'potential_shs_10',
                'potential_shs_20',
                'potential_minigrid_10',
                'potential_minigrid_20',
                'electrified_10',
                'electrified_20',
                'potential_grid_10',
                'potential_grid_20'
            ];


    a.forEach(function(element) {
        map.on('click', element, function (e) {
            console.log(e.features[0].properties);
            setSingleCsvData(element, JSON.stringify(e.features[0].properties));
            var html = '';
            var count = 1;
            
            $.each(e.features[0].properties, function(index, value) {

                var foundPresent = $.inArray(index, fields) > -1;

                if(foundPresent)
                {
                    if(count % 2 !== 0 )
                    { 
                        html += '<tr>';
                        html += '<td style="border: 0;"><h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: -.2px;font-weight: bold; text-transform: uppercase;">';
                        html += index+'</h6><span class="head" style="color: white;">'+value+'</span></td';
                        // $("#details-table> tbody:last-child").append( html );


                    }

                    if(count % 2 === 0 )
                    {
                        html += '>';
                        html += '<td style="border: 0;"><h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;text-transform: uppercase;">'+index+' </h6>';                
                        html += '<span class="value" style="color: white;">'+value+'</span>';
                        html += '</td></tr>'; 
                    }

                    count += 1;
                }
            });
            // set bbox as 5px reactangle area around clicked point
            if (html.substring(html.length-1) != ">")
            {
                html += '></tr>';
            }
            // $("#details-table> tr:last").append( html );
            // $("#details-table tbody").append(html);
            $('#details-table').empty();
            $(html).appendTo($("#details-table"));
            jQuery('#docsModal').fadeIn();
        });
        // Change the cursor to a pointer when the mouse is over the places layer.
        map.on('mouseenter', element, function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        // Change it back to a pointer when it leaves.
        map.on('mouseleave', element, function () {
            map.getCanvas().style.cursor = '';
        });
    });


});


map.addControl(new mapboxgl.NavigationControl());

</script>

</body>
</html>

<script type="text/javascript">
$(document).ready(function(){
    $("#collapse_hide_one").hide();
    $("#collapse_show_one").click(function(){
        $("#collapse_show_one").hide();
        $("#collapse_hide_one").show();
        $("#collapseOne").collapse('toggle');
    });
});

$("#collapse_hide_one").click(function(){
        
        $("#collapseOne").collapse('hide');
        $("#collapse_hide_one").hide();
        $("#collapse_show_one").show();
    });

    // start two

    $(document).ready(function(){
        $("#collapse_hide_2").hide();
        $("#collapse_show_2").click(function(){
            $("#collapse_show_2").hide();
            $("#collapse_hide_2").show();
            $("#collapseTwo").collapse('toggle');
        });
    });

    $("#collapse_hide_2").click(function(){
            
            $("#collapseTwo").collapse('hide');
            $("#collapse_hide_2").hide();
            $("#collapse_show_2").show();
        });


    // three

    $(document).ready(function(){
        $("#collapse_hide_3").hide();
        $("#collapse_show_3").click(function(){
            $("#collapse_show_3").hide();
            $("#collapse_hide_3").show();
            $("#collapseThree").collapse('toggle');
        });
    });

    $("#collapse_hide_3").click(function(){
            
            $("#collapseThree").collapse('hide');
            $("#collapse_hide_3").hide();
            $("#collapse_show_3").show();
        });


    // four

    $(document).ready(function(){
        $("#collapse_hide_4").hide();
        $("#collapse_show_4").click(function(){
            $("#collapse_show_4").hide();
            $("#collapse_hide_4").show();
            $("#collapseFour").collapse('toggle');
        });
    });

    $("#collapse_hide_4").click(function(){
            
            $("#collapseFour").collapse('hide');
            $("#collapse_hide_4").hide();
            $("#collapse_show_4").show();
        });


    // five
    $(document).ready(function(){
        $("#collapse_hide_5").hide();
        $("#collapse_show_5").click(function(){
            $("#collapse_show_5").hide();
            $("#collapse_hide_5").show();
            $("#collapseFive").collapse('toggle');
        });
    });

    $("#collapse_hide_5").click(function(){
            
            $("#collapseFive").collapse('hide');
            $("#collapse_hide_5").hide();
            $("#collapse_show_5").show();
        });


    //six

    $(document).ready(function(){
        $("#collapse_hide_6").hide();
        $("#collapse_show_6").click(function(){
            $("#collapse_show_6").hide();
            $("#collapse_hide_6").show();
            $("#collapseSix").collapse('toggle');
        });
    });

    $("#collapse_hide_6").click(function(){
            
            $("#collapseSix").collapse('hide');
            $("#collapse_hide_6").hide();
            $("#collapse_show_6").show();
        });



    var shs = false;
    var p_shs = false;
    var minigrid = false;
    var p_minigrid = false;


    $(document).ready(function(){

        // alert('hahaha');
        // jQuery('#docsModal2').fadeIn();

        roads = document.getElementById('roads'); 
        roads.addEventListener('change', function(e) {
            map.setLayoutProperty('roads', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });

        mines = document.getElementById('mines');
        mines.addEventListener('change', function(e) {
            map.setLayoutProperty('mines', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });

        existing_mini_grids = document.getElementById('electrified');
        electrified_10 = document.getElementById('electrified_10');
        electrified_20 = document.getElementById('electrified_20');
        existing_mini_grids.addEventListener('change', function(e) {

            if(e.target.checked)
            {
                map.setLayoutProperty('electrified_10', 'visibility',
                    electrified_10.checked ? 'visible' : 'none');

                map.setLayoutProperty('electrified_20', 'visibility',
                    electrified_20.checked ? 'visible' : 'none');  
            }

            else
            {
                map.setLayoutProperty('electrified_10', 'visibility','none');
                map.setLayoutProperty('electrified_20', 'visibility','none');  
            }
            // map.setLayoutProperty('electrified_10', 'visibility',
            //     e.target.checked ? 'visible' : 'none');

            // map.setLayoutProperty('electrified_20', 'visibility',
            //     e.target.checked ? 'visible' : 'none');
        });

        potential_mini_grids = document.getElementById('potential_minigrid');
        potential_minigrid_10 = document.getElementById('potential_minigrid_10');
        potential_minigrid_20 = document.getElementById('potential_minigrid_20');
        potential_mini_grids.addEventListener('change', function(e) {
            if(e.target.checked)
            {
                map.setLayoutProperty('potential_minigrid_10', 'visibility',
                    potential_minigrid_10.checked ? 'visible' : 'none');

                map.setLayoutProperty('potential_minigrid_20', 'visibility',
                    potential_minigrid_20.checked ? 'visible' : 'none');  
            }

            else
            {
                map.setLayoutProperty('potential_minigrid_10', 'visibility','none');
                map.setLayoutProperty('potential_minigrid_20', 'visibility','none');  
            }
        });

        potential_shs_locations = document.getElementById('potential_shs_locations');
        potential_shs_10 = document.getElementById('potential_shs_10');
        potential_shs_20 = document.getElementById('potential_shs_20');
        potential_shs_locations.addEventListener('change', function(e) {
            if(e.target.checked)
            {
                map.setLayoutProperty('potential_shs_10', 'visibility',
                    potential_shs_10.checked ? 'visible' : 'none');

                map.setLayoutProperty('potential_shs_20', 'visibility',
                    potential_shs_20.checked ? 'visible' : 'none');  
            }

            else
            {
                map.setLayoutProperty('potential_shs_10', 'visibility','none');
                map.setLayoutProperty('potential_shs_20', 'visibility','none');  
            }
        });
        
        existing_shs_locations = document.getElementById('potential_grid');
        potential_grid_10 = document.getElementById('potential_grid_10');
        potential_grid_20 = document.getElementById('potential_grid_20');
        existing_shs_locations.addEventListener('change', function(e) {
            if(e.target.checked)
            {
                map.setLayoutProperty('potential_grid_10', 'visibility',
                    potential_grid_10.checked ? 'visible' : 'none');

                map.setLayoutProperty('potential_grid_20', 'visibility',
                    potential_grid_20.checked ? 'visible' : 'none');  
            }

            else
            {
                map.setLayoutProperty('potential_grid_10', 'visibility','none');
                map.setLayoutProperty('potential_grid_20', 'visibility','none');  
            }
        });

        existing_transmission_lines = document.getElementById('existing_transmission_lines');
        existing_transmission_lines.addEventListener('change', function(e) {
            map.setLayoutProperty('existing_transmission_lines', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });

        existing_gas_lines = document.getElementById('existing_gas_lines');
        existing_gas_lines.addEventListener('change', function(e) {
            map.setLayoutProperty('existing_gas_lines', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });

        power_plant_locations = document.getElementById('power_plant_locations');
        power_plant_locations.addEventListener('change', function(e) {
            map.setLayoutProperty('power_plant_locations', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });
        
        // health_care_centers = document.getElementById('health_care_centers');
        // health_care_centers.addEventListener('change', function(e) {
        //     map.setLayoutProperty('health_care_centers', 'visibility',
        //         e.target.checked ? 'visible' : 'none');
        // });

        school_locations = document.getElementById('school_locations');
        school_locations.addEventListener('change', function(e) {
            map.setLayoutProperty('school_locations', 'visibility',
                e.target.checked ? 'visible' : 'none');

            // if(e.target.checked)
            // {
            //     var feature = map.querySourceFeatures("composite", { sourceLayer: ['admin_level_4-9lwyxe'], filter: ['==', 'name', 'Federal Capital Territory'] });
            //     console.log(feature);
            //     var coordinates = feature[0].geometry.coordinates;

            //     var fit = new L.Polygon(coordinates).getBounds();
            //     var southWest = new mapboxgl.LngLat(fit['_southWest']['lat'], fit['_southWest']['lng']);
            //     var northEast = new mapboxgl.LngLat(fit['_northEast']['lat'], fit['_northEast']['lng']);
            //     var center = new mapboxgl.LngLatBounds(southWest, northEast).getCenter();
            //     // map.flyTo({center: center, zoom: 10});
            //     map.fitBounds(new mapboxgl.LngLatBounds(southWest, northEast));
            // }

            // else
            // {
            //      map.fitBounds([[4.2771,2.6684], [14.6801,13.8920]]);
            // }
        });

        water_access = document.getElementById('water_access');
        water_access.addEventListener('change', function(e) {
            map.setLayoutProperty('water_access', 'visibility',
                e.target.checked ? 'visible' : 'none');

            // if(e.target.checked)
            // {
            //     var feature = map.querySourceFeatures("composite", { sourceLayer: ['admin_level_4-9lwyxe'], filter: ['==', 'name', 'Federal Capital Territory'] });
            //     console.log(feature);
            //     var coordinates = feature[0].geometry.coordinates;

            //     var fit = new L.Polygon(coordinates).getBounds();
            //     var southWest = new mapboxgl.LngLat(fit['_southWest']['lat'], fit['_southWest']['lng']);
            //     var northEast = new mapboxgl.LngLat(fit['_northEast']['lat'], fit['_northEast']['lng']);
            //     var center = new mapboxgl.LngLatBounds(southWest, northEast).getCenter();
            //     // map.flyTo({center: center, zoom: 10});
            //     map.fitBounds(new mapboxgl.LngLatBounds(southWest, northEast));
            // }

            // else
            // {
            //      map.fitBounds([[4.2771,2.6684], [14.6801,13.8920]]);
            // }
        });

        mda_locations = document.getElementById('solar');
        mda_locations.addEventListener('change', function(e) {
            map.setLayoutProperty('solar', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });

        business_hubs = document.getElementById('distribution_infrastructure');
        business_hubs.addEventListener('change', function(e) {
            map.setLayoutProperty('distribution_infrastructure', 'visibility',
                e.target.checked ? 'visible' : 'none');
        });


        // State filtering for all resources
        state_name = document.getElementById('tags');
        state_name.addEventListener('change', function(e) {
            name = state_name.value;

            var status = clearStateFilters();

            if(name == '' && status)
                clearSearchFilter();

        });



    });

    function clearStateFilters()
    {
        var states_of_ng = [
            'Federal Capital Territory', 
            'Abia',
            'Adamawa',
            'Anambra',
            'Akwa Ibom',
            'Bauchi',
            'Bayelsa',
            'Benue',
            'Borno',
            'Cross River',
            'Delta',
            'Ebonyi',
            'Enugu',
            'Edo',
            'Ekiti',
            'Gombe',
            'Imo',
            'Jigawa',
            'Kaduna',
            'Kano',
            'Katsina',
            'Kebbi',
            'Kogi',
            'Kwara',
            'Lagos',
            'Nasarawa',
            'Niger',
            'Ogun',
            'Ondo',
            'Osun',
            'Oyo',
            'Plateau',
            'Rivers',
            'Sokoto',
            'Taraba',
            'Yobe',
            'Zamfara',
            'disco_eko',
            'disco_ikeja'
        ];

        states_of_ng.forEach(function(layer) {
                map.setLayoutProperty(layer, 'visibility','none');
        });

        return true;
    }


    function clearFilters()
    {
         var a = [
                'roads',
                'mines',
                'existing_gas_lines',
                'power_plant_locations',
                // 'health_care_centers',
                'school_locations',
                'water_access',
                'potential_shs_10',
                'potential_shs_20',
                'potential_minigrid_10',
                'potential_minigrid_20',
                'electrified_10',
                'electrified_20',
                'potential_grid_10',
                'potential_grid_20'
            ];

            a.forEach(function(layer) {
                map.setFilter(layer, null);
            // include the zoom to polygon and add fill to polygon
            });
    }


    function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
        //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
        var formatted_json = '['+JSONData +']';
        var arrData = typeof JSONData != 'object' ? JSON.parse(formatted_json) : formatted_json;
        
        var CSV = '';    
        //Set Report title in first row or line
        
        CSV += ReportTitle + '\r\n\n';

        //This condition will generate the Label/Header
        if (ShowLabel) {
            var row = "";
            
            //This loop will extract the label from 1st index of on array
            for (var index in arrData[0]) {
                
                //Now convert each value to string and comma-seprated
                row += index + ',';
            }

            row = row.slice(0, -1);
            
            //append Label row with line break
            CSV += row + '\r\n';
        }
        
        //1st loop is to extract each row
        for (var i = 0; i < arrData.length; i++) {
            var row = "";
            
            //2nd loop will extract each column and convert it in string comma-seprated
            for (var index in arrData[i]) {
                row += '"' + arrData[i][index] + '",';
            }

            row.slice(0, row.length - 1);
            
            //add a line break after each row
            CSV += row + '\r\n';
        }

        if (CSV == '') {        
            alert("Invalid data");
            return;
        }   
        
        //Generate a file name
        var fileName = "Nigeria_";
        //this will remove the blank-spaces from the title and replace it with an underscore
        fileName += ReportTitle.replace(/ /g,"_");   
        
        //Initialize file format you want csv or xls
        var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);
        
        //this trick will generate a temp <a /> tag
        var link = document.createElement("a");    
        link.href = uri;
        
        //set the visibility hidden so it will not effect on your web-layout
        link.style = "visibility:hidden";
        link.download = fileName + ".csv";
        
        //this part will append the anchor tag and remove it after automatic click
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

</script>


<script src="<?php echo $this->basePath('/'); ?>assets/ionRanger/js/ion.rangeSlider.js"></script>



<script>



    var saveResult = function (data) {
        var from = data.from;
        var to = data.to;

        var a = [
                'roads',
                'mines',
                'existing_gas_lines',
                'power_plant_locations',
                // 'health_care_centers',
                'school_locations',
                'water_access',
                'potential_shs_10',
                'potential_shs_20',
                'potential_minigrid_10',
                'potential_minigrid_20',
                'electrified_10',
                'electrified_20',
                'potential_grid_10',
                'potential_grid_20'

            ];

        // alert(from);

        if(to == 15000) {
            

            
            // map.setFilter("states_settlement_data", ["==", 'State', name]);

            a.forEach(function(layer) {
                map.setFilter(layer, [">=", 'Population', from]);
            // include the zoom to polygon and add fill to polygon
            });
            
        }

        else {
            a.forEach(function(layer) {
                map.setFilter(layer, [">=", 'Population', from], ["<=", 'Population', to]);

            // include the zoom to polygon and add fill to polygon
            });
            
        }

    };

    var writeResult = function () {
        var result = "from: " + from + ", to: " + to;
        $result.html(result);
    };

    $(function () {


        //     var availableTags = [
        //       'Abia',
        //     'Adamawa',
        //     'Anambra',
        //     'Akwa Ibom',
        //     'Bauchi',
        //     'Bayelsa',
        //     'Benue',
        //     'Borno',
        //     'Cross River',
        //     'Delta',
        //     'Ebonyi',
        //     'Enugu',
        //     'Edo',
        //     'Ekiti',
        //     'Gombe',
        //     'Imo',
        //     'Jigawa',
        //     'Kaduna',
        //     'Kano',
        //     'Katsina',
        //     'Kebbi',
        //     'Kogi',
        //     'Kwara',
        //     'Lagos',
        //     'Nasarawa',
        //     'Niger',
        //     'Ogun',
        //     'Ondo',
        //     'Osun',
        //     'Oyo',
        //     'Plateau',
        //     'Rivers',
        //     'Sokoto',
        //     'Taraba',
        //     'Yobe',
        //     'Zamfara'
        //     ];
        // $( "#tags" ).autocomplete({
        //   source: availableTags
        // });

        $("#population").ionRangeSlider({
            type: "double",
            grid: true,
            min: 1,
            max: 15000,
            from: 1000,
            to: 3000,
            prefix: "",
            onFinish: function (data) {
                saveResult(data);
            }
        });

        $("#grid_buffer").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 1000,
            from: 200,
            to: 800,
            prefix: ""
            // onLoad: function (data) {
            //     saveResult(data, 'grid_buffer');
            //     writeResult();
            // },
            // onChange: saveResult,
            // onFinish: saveResult

        });

        

    });

    function filterByStates(input)
    {
        var a = [
            'potential_shs_10',
            'potential_shs_20',
            'potential_minigrid_10',
            'potential_minigrid_20',
            'electrified_10',
            'electrified_20',
            'potential_grid_10',
            'potential_grid_20'
        ];

        
        // map.setFilter("states_settlement_data", ["==", 'State', name]);
        state_name = document.getElementById(input);

        // a.forEach(function(layer) {
        //     name = state_name.value;
        //     if (name != "") {
        //         map.setFilter(layer, ["==", 'State', name]);
        //     }

        //     else
        //         map.setFilter(layer, null);
        // // include the zoom to polygon and add fill to polygon
        // });

        name = state_name.value;

        var status = clearStateFilters();

        if(status)
            map.setLayoutProperty(name, 'visibility','visible');

        var feature = map.querySourceFeatures("composite", { sourceLayer: ['admin_level_4-9lwyxe'], filter: ['==', 'name', name] });
        console.log(feature);
        var coordinates = feature[0].geometry.coordinates;

        var fit = new L.Polygon(coordinates).getBounds();
        var southWest = new mapboxgl.LngLat(fit['_southWest']['lat'], fit['_southWest']['lng']);
        var northEast = new mapboxgl.LngLat(fit['_northEast']['lat'], fit['_northEast']['lng']);
        var center = new mapboxgl.LngLatBounds(southWest, northEast).getCenter();
        // map.flyTo({center: center, zoom: 10});
        map.fitBounds(new mapboxgl.LngLatBounds(southWest, northEast));
    }


    function clearSearchFilter()
    {
        var a = [
            'potential_shs_10',
            'potential_shs_20',
            'potential_minigrid_10',
            'potential_minigrid_20',
            // 'electrified_10',
            // 'electrified_20',
            'potential_grid_10',
            'potential_grid_20'
        ];

        
        // map.setFilter("states_settlement_data", ["==", 'State', name]);
        var status = clearStateFilters();

        $('#tags').val('');
        $('#disco').prop('selectedIndex', 0);



        // a.forEach(function(layer) {

        //     map.setLayoutProperty(layer, 'visibility', 'none');
        // });

        map.fitBounds([[4.2771,2.6684], [14.6801,13.8920]]);
    }


    function filterByDisco(input)
    {

        var discos = {
            Abuja : [
                'Kogi',
                'Nasarawa',
                'Niger'
            ],

            Benin : [
                'Delta',
                'Edo',
                'Ekiti',
                'Ondo'
            ],

            Eko : [
                // 'Ogun',
                'disco_eko'
            ],

            Enugu : [
                'Abia',
                'Anambra',
                'Imo',
                'Ebonyi', 
                'Enugu'
            ],

            Ibadan : [
                'Ekiti',
                'Kwara',
                'Ogun',
                'Osun', 
                'Oyo'
            ],


            Ikeja : [
                'disco_ikeja'
            ],


            Jos : [
                'Bauchi',
                'Benue', 
                'Gombe' ,
                'Plateau' 
            ],


            Kaduna : [
                'Kebbi',
                'Kaduna',
                'Sokoto',
                'Zamfara',
            ],

            Kano : [
                'Jigawa',
                'Katsina',
                'Kano'
            ],

            Portharcourt : [
                'Akwa Ibom',
                'Bayelsa', 
                'Cross River', 
                'Rivers' 
            ],
            

            Yola : [
                'Adamawa', 
                'Borno', 
                'Taraba', 
                'Yobe' 
            ]
        };
        
        // map.setFilter("states_settlement_data", ["==", 'State', name]);
        var status = clearStateFilters();

        disco_name = document.getElementById(input);

        for (var layer in discos)  {
            name = disco_name.value;

            if(name == layer){
                disco_filters = discos[layer];
                
                disco_filters.forEach(function(disco_area) {
                        map.setLayoutProperty(disco_area, 'visibility','visible');
                });
            }
        // include the zoom to polygon and add fill to polygon
        };
        
    }

    function filterBuffer(checker, layer)
    {
        var grid_type = document.getElementById(checker);
        var e = document.getElementById(layer);

        if(grid_type.checked)
        {
            map.setLayoutProperty(layer, 'visibility',
                e.checked ? 'visible' : 'none');
        }
    }


</script>



<!-- $(document).ready(function(){
    $(".show-btn").click(function(){
        $("#myCollapsible").collapse('show');
    });
});

$(document).ready(function(){
    $(".hide-btn").click(function(){
        $("#myCollapsible").collapse('hide');
    });
}); -->


<!-- map.addLayer({
        "id": "state-borders",
        "type": "line",
        "source": "mines",
        "layout": {},
        "paint": {
            "line-color": "#627BC1",
            "line-width": 0.5
        },
        "filter": ["==", "$type", "LineString"]
    });

    map.addLayer({
        'id': 'states2',
        'type': 'fill',
        'source': 'states',
        'layout': {},
        'paint': {
            'fill-color': '#088',
            'fill-opacity': 0.2
        },
        "filter": ["==", "$type", "Polygon"]
    }); -->

<!--         //  map.addLayer({
    //     'id': 'contours',
    //     'type': 'line',
    //     'source': 'contours',
    //     'source-layer': 'contour',
    //     'layout': {
    //         'visibility': 'visible',
    //         'line-join': 'round',
    //         'line-cap': 'round'
    //     },
    //     'paint': {
    //         'line-color': '#877b59',
    //         'line-width': 1
    //     }
    // });

    //  map.addLayer({
    //     'id': 'museums',
    //     'type': 'circle',
    //     'source': 'museums',
    //     'layout': {
    //         'visibility': 'visible'
    //     },
    //     'paint': {
    //         'circle-radius': 8,
    //         'circle-color': 'rgba(55,148,179,1)'
    //     },
    //     'source-layer': 'museum-cusco'
    // });



    // map.on('click', 'population', function (e) {
    //     console.log(e);
    //     new mapboxgl.Popup()
    //         .setLngLat(e.lngLat)
    //         .setHTML(e.lngLat)
    //         .addTo(map);
    // });

    // map.setFilter('indoor', ['==', 'level', '2']); -->

<!-- 
    // alert('hahaha');
    // console.log(__data.responseText);
    // $.getJSON( "http://localhost/geo/public/home/geojson", function( data ) {
    //       $.each( data.features, function( key, val ) {

    //         console.log(val.properties.HRname);
    //         map.addLayer({
    //             'id': val.properties.HRname,
    //             'type': 'fill',
    //             'source': 'states',
    //             'layout': {},
    //             'paint': {
    //                 'fill-color': '#088',
    //                 'fill-opacity': 0.2
    //             },
    //             "filter": ["==", "$type", "Polygon"]
    //         });
    //     });
    // }); -->