
	.mt-0   { margin-top: 0px!important; }      .mt-5   { margin-top: 5px!important; }      .mt-10  { margin-top: 10px!important; }
	.mt-15  { margin-top: 15px!important; }     .mt-20  { margin-top: 20px!important; }     .mt-25  { margin-top: 25px!important; }
	.mt-30  { margin-top: 30px!important; }     .mt-35  { margin-top: 35px!important; }     .mt-40  { margin-top: 40px!important; }
	.mt-45  { margin-top: 45px!important; }     .mt-50  { margin-top: 50px!important; }     .mt-55  { margin-top: 55px!important; }
	.mt-60  { margin-top: 60px!important; }     .mt-65  { margin-top: 65px!important; }     .mt-70  { margin-top: 70px!important; }
	.mt-75  { margin-top: 75px!important; }     .mt-80  { margin-top: 80px!important; }     .mt-85  { margin-top: 85px!important; }
	.mt-90  { margin-top: 90px!important; }     .mt-95  { margin-top: 95px!important; }     .mt-100 { margin-top: 100px!important; }
	.mt-105 { margin-top: 105px!important; }    .mt-110 { margin-top: 110px!important; }    .mt-115 { margin-top: 115px!important; }
	.mt-120 { margin-top: 120px!important; }    .mt-125 { margin-top: 125px!important; }    .mt-130 { margin-top: 130px!important; }
	.mt-135 { margin-top: 135px!important; }    .mt-140 { margin-top: 140px!important; }    .mt-145 { margin-top: 145px!important; }
	.mt-150 { margin-top: 150px!important; }    .mt-155 { margin-top: 155px!important; }    .mt-160 { margin-top: 160px!important; }
	.mt-165 { margin-top: 165px!important; }    .mt-170 { margin-top: 170px!important; }    .mt-175 { margin-top: 175px!important; }
	.mt-180 { margin-top: 180px!important; }    .mt-185 { margin-top: 185px!important; }    .mt-190 { margin-top: 190px!important; }
	.mt-195 { margin-top: 195px!important; }    .mt-200 { margin-top: 200px!important; }    

	.mt--0   { margin-top: -0px!important; }      .mt--5   { margin-top: -5px!important; }      .mt--10  { margin-top: -10px!important; }
	.mt--15  { margin-top: -15px!important; }     .mt--20  { margin-top: -20px!important; }     .mt--25  { margin-top: -25px!important; }
	.mt--30  { margin-top: -30px!important; }     .mt--35  { margin-top: -35px!important; }     .mt--40  { margin-top: -40px!important; }
	.mt--45  { margin-top: -45px!important; }     .mt--50  { margin-top: -50px!important; }     .mt--55  { margin-top: -55px!important; }
	.mt--60  { margin-top: -60px!important; }     .mt--65  { margin-top: -65px!important; }     .mt--70  { margin-top: -70px!important; }
	.mt--75  { margin-top: -75px!important; }     .mt--80  { margin-top: -80px!important; }     .mt--85  { margin-top: -85px!important; }
	.mt--90  { margin-top: -90px!important; }     .mt--95  { margin-top: -95px!important; }     .mt--100 { margin-top: -100px!important; }
	.mt--105 { margin-top: -105px!important; }    .mt--110 { margin-top: -110px!important; }    .mt--115 { margin-top: -115px!important; }
	.mt--120 { margin-top: -120px!important; }    .mt--125 { margin-top: -125px!important; }    .mt--130 { margin-top: -130px!important; }
	.mt--135 { margin-top: -135px!important; }    .mt--140 { margin-top: -140px!important; }    .mt--145 { margin-top: -145px!important; }
	.mt--150 { margin-top: -150px!important; }    .mt--155 { margin-top: -155px!important; }    .mt--160 { margin-top: -160px!important; }
	.mt--165 { margin-top: -165px!important; }    .mt--170 { margin-top: -170px!important; }    .mt--175 { margin-top: -175px!important; }
	.mt--180 { margin-top: -180px!important; }    .mt--185 { margin-top: -185px!important; }    .mt--190 { margin-top: -190px!important; }
	.mt--195 { margin-top: -195px!important; }    .mt--200 { margin-top: -200px!important; }    

	.mb-0   { margin-bottom: 0px!important; }      .mb-5   { margin-bottom: 5px!important; }      .mb-10  { margin-bottom: 10px!important; }
	.mb-15  { margin-bottom: 15px!important; }     .mb-20  { margin-bottom: 20px!important; }     .mb-25  { margin-bottom: 25px!important; }
	.mb-30  { margin-bottom: 30px!important; }     .mb-35  { margin-bottom: 35px!important; }     .mb-40  { margin-bottom: 40px!important; }
	.mb-45  { margin-bottom: 45px!important; }     .mb-50  { margin-bottom: 50px!important; }     .mb-55  { margin-bottom: 55px!important; }
	.mb-60  { margin-bottom: 60px!important; }     .mb-65  { margin-bottom: 65px!important; }     .mb-70  { margin-bottom: 70px!important; }
	.mb-75  { margin-bottom: 75px!important; }     .mb-80  { margin-bottom: 80px!important; }     .mb-85  { margin-bottom: 85px!important; }
	.mb-90  { margin-bottom: 90px!important; }     .mb-95  { margin-bottom: 95px!important; }     .mb-100 { margin-bottom: 100px!important; }
	.mb-105 { margin-bottom: 105px!important; }    .mb-110 { margin-bottom: 110px!important; }    .mb-115 { margin-bottom: 115px!important; }
	.mb-120 { margin-bottom: 120px!important; }    .mb-125 { margin-bottom: 125px!important; }    .mb-130 { margin-bottom: 130px!important; }
	.mb-135 { margin-bottom: 135px!important; }    .mb-140 { margin-bottom: 140px!important; }    .mb-145 { margin-bottom: 145px!important; }
	.mb-150 { margin-bottom: 150px!important; }    .mb-155 { margin-bottom: 155px!important; }    .mb-160 { margin-bottom: 160px!important; }
	.mb-165 { margin-bottom: 165px!important; }    .mb-170 { margin-bottom: 170px!important; }    .mb-175 { margin-bottom: 175px!important; }
	.mb-180 { margin-bottom: 180px!important; }    .mb-185 { margin-bottom: 185px!important; }    .mb-190 { margin-bottom: 190px!important; }
	.mb-195 { margin-bottom: 195px!important; }    .mb-200 { margin-bottom: 200px!important; }    

	.mb--0   { margin-bottom: -0px!important; }      .mb--5   { margin-bottom: -5px!important; }      .mb--10  { margin-bottom: -10px!important; }
	.mb--15  { margin-bottom: -15px!important; }     .mb--20  { margin-bottom: -20px!important; }     .mb--25  { margin-bottom: -25px!important; }
	.mb--30  { margin-bottom: -30px!important; }     .mb--35  { margin-bottom: -35px!important; }     .mb--40  { margin-bottom: -40px!important; }
	.mb--45  { margin-bottom: -45px!important; }     .mb--50  { margin-bottom: -50px!important; }     .mb--55  { margin-bottom: -55px!important; }
	.mb--60  { margin-bottom: -60px!important; }     .mb--65  { margin-bottom: -65px!important; }     .mb--70  { margin-bottom: -70px!important; }
	.mb--75  { margin-bottom: -75px!important; }     .mb--80  { margin-bottom: -80px!important; }     .mb--85  { margin-bottom: -85px!important; }
	.mb--90  { margin-bottom: -90px!important; }     .mb--95  { margin-bottom: -95px!important; }     .mb--100 { margin-bottom: -100px!important; }
	.mb--105 { margin-bottom: -105px!important; }    .mb--110 { margin-bottom: -110px!important; }    .mb--115 { margin-bottom: -115px!important; }
	.mb--120 { margin-bottom: -120px!important; }    .mb--125 { margin-bottom: -125px!important; }    .mb--130 { margin-bottom: -130px!important; }
	.mb--135 { margin-bottom: -135px!important; }    .mb--140 { margin-bottom: -140px!important; }    .mb--145 { margin-bottom: -145px!important; }
	.mb--150 { margin-bottom: -150px!important; }    .mb--155 { margin-bottom: -155px!important; }    .mb--160 { margin-bottom: -160px!important; }
	.mb--165 { margin-bottom: -165px!important; }    .mb--170 { margin-bottom: -170px!important; }    .mb--175 { margin-bottom: -175px!important; }
	.mb--180 { margin-bottom: -180px!important; }    .mb--185 { margin-bottom: -185px!important; }    .mb--190 { margin-bottom: -190px!important; }
	.mb--195 { margin-bottom: -195px!important; }    .mb--200 { margin-bottom: -200px!important; }    

	.ml-0   { margin-left: 0px!important; }      .ml-5   { margin-left: 5px!important; }      .ml-10  { margin-left: 10px!important; }
	.ml-15  { margin-left: 15px!important; }     .ml-20  { margin-left: 20px!important; }     .ml-25  { margin-left: 25px!important; }
	.ml-30  { margin-left: 30px!important; }     .ml-35  { margin-left: 35px!important; }     .ml-40  { margin-left: 40px!important; }
	.ml-45  { margin-left: 45px!important; }     .ml-50  { margin-left: 50px!important; }     .ml-55  { margin-left: 55px!important; }
	.ml-60  { margin-left: 60px!important; }     .ml-65  { margin-left: 65px!important; }     .ml-70  { margin-left: 70px!important; }
	.ml-75  { margin-left: 75px!important; }     .ml-80  { margin-left: 80px!important; }     .ml-85  { margin-left: 85px!important; }
	.ml-90  { margin-left: 90px!important; }     .ml-95  { margin-left: 95px!important; }     .ml-100 { margin-left: 100px!important; }
	.ml-105 { margin-left: 105px!important; }    .ml-110 { margin-left: 110px!important; }    .ml-115 { margin-left: 115px!important; }
	.ml-120 { margin-left: 120px!important; }    .ml-125 { margin-left: 125px!important; }    .ml-130 { margin-left: 130px!important; }
	.ml-135 { margin-left: 135px!important; }    .ml-140 { margin-left: 140px!important; }    .ml-145 { margin-left: 145px!important; }
	.ml-150 { margin-left: 150px!important; }    .ml-155 { margin-left: 155px!important; }    .ml-160 { margin-left: 160px!important; }
	.ml-165 { margin-left: 165px!important; }    .ml-170 { margin-left: 170px!important; }    .ml-175 { margin-left: 175px!important; }
	.ml-180 { margin-left: 180px!important; }    .ml-185 { margin-left: 185px!important; }    .ml-190 { margin-left: 190px!important; }
	.ml-195 { margin-left: 195px!important; }    .ml-200 { margin-left: 200px!important; }    

	.ml--0   { margin-left: -0px!important; }      .ml--5   { margin-left: -5px!important; }      .ml--10  { margin-left: -10px!important; }
	.ml--15  { margin-left: -15px!important; }     .ml--20  { margin-left: -20px!important; }     .ml--25  { margin-left: -25px!important; }
	.ml--30  { margin-left: -30px!important; }     .ml--35  { margin-left: -35px!important; }     .ml--40  { margin-left: -40px!important; }
	.ml--45  { margin-left: -45px!important; }     .ml--50  { margin-left: -50px!important; }     .ml--55  { margin-left: -55px!important; }
	.ml--60  { margin-left: -60px!important; }     .ml--65  { margin-left: -65px!important; }     .ml--70  { margin-left: -70px!important; }
	.ml--75  { margin-left: -75px!important; }     .ml--80  { margin-left: -80px!important; }     .ml--85  { margin-left: -85px!important; }
	.ml--90  { margin-left: -90px!important; }     .ml--95  { margin-left: -95px!important; }     .ml--100 { margin-left: -100px!important; }
	.ml--105 { margin-left: -105px!important; }    .ml--110 { margin-left: -110px!important; }    .ml--115 { margin-left: -115px!important; }
	.ml--120 { margin-left: -120px!important; }    .ml--125 { margin-left: -125px!important; }    .ml--130 { margin-left: -130px!important; }
	.ml--135 { margin-left: -135px!important; }    .ml--140 { margin-left: -140px!important; }    .ml--145 { margin-left: -145px!important; }
	.ml--150 { margin-left: -150px!important; }    .ml--155 { margin-left: -155px!important; }    .ml--160 { margin-left: -160px!important; }
	.ml--165 { margin-left: -165px!important; }    .ml--170 { margin-left: -170px!important; }    .ml--175 { margin-left: -175px!important; }
	.ml--180 { margin-left: -180px!important; }    .ml--185 { margin-left: -185px!important; }    .ml--190 { margin-left: -190px!important; }
	.ml--195 { margin-left: -195px!important; }    .ml--200 { margin-left: -200px!important; }    

	.mr-0   { margin-right: 0px!important; }      .mr-5   { margin-right: 5px!important; }      .mr-10  { margin-right: 10px!important; }
	.mr-15  { margin-right: 15px!important; }     .mr-20  { margin-right: 20px!important; }     .mr-25  { margin-right: 25px!important; }
	.mr-30  { margin-right: 30px!important; }     .mr-35  { margin-right: 35px!important; }     .mr-40  { margin-right: 40px!important; }
	.mr-45  { margin-right: 45px!important; }     .mr-50  { margin-right: 50px!important; }     .mr-55  { margin-right: 55px!important; }
	.mr-60  { margin-right: 60px!important; }     .mr-65  { margin-right: 65px!important; }     .mr-70  { margin-right: 70px!important; }
	.mr-75  { margin-right: 75px!important; }     .mr-80  { margin-right: 80px!important; }     .mr-85  { margin-right: 85px!important; }
	.mr-90  { margin-right: 90px!important; }     .mr-95  { margin-right: 95px!important; }     .mr-100 { margin-right: 100px!important; }
	.mr-105 { margin-right: 105px!important; }    .mr-110 { margin-right: 110px!important; }    .mr-115 { margin-right: 115px!important; }
	.mr-120 { margin-right: 120px!important; }    .mr-125 { margin-right: 125px!important; }    .mr-130 { margin-right: 130px!important; }
	.mr-135 { margin-right: 135px!important; }    .mr-140 { margin-right: 140px!important; }    .mr-145 { margin-right: 145px!important; }
	.mr-150 { margin-right: 150px!important; }    .mr-155 { margin-right: 155px!important; }    .mr-160 { margin-right: 160px!important; }
	.mr-165 { margin-right: 165px!important; }    .mr-170 { margin-right: 170px!important; }    .mr-175 { margin-right: 175px!important; }
	.mr-180 { margin-right: 180px!important; }    .mr-185 { margin-right: 185px!important; }    .mr-190 { margin-right: 190px!important; }
	.mr-195 { margin-right: 195px!important; }    .mr-200 { margin-right: 200px!important; }    

	.mr--0   { margin-right: -0px!important; }      .mr--5   { margin-right: -5px!important; }      .mr--10  { margin-right: -10px!important; }
	.mr--15  { margin-right: -15px!important; }     .mr--20  { margin-right: -20px!important; }     .mr--25  { margin-right: -25px!important; }
	.mr--30  { margin-right: -30px!important; }     .mr--35  { margin-right: -35px!important; }     .mr--40  { margin-right: -40px!important; }
	.mr--45  { margin-right: -45px!important; }     .mr--50  { margin-right: -50px!important; }     .mr--55  { margin-right: -55px!important; }
	.mr--60  { margin-right: -60px!important; }     .mr--65  { margin-right: -65px!important; }     .mr--70  { margin-right: -70px!important; }
	.mr--75  { margin-right: -75px!important; }     .mr--80  { margin-right: -80px!important; }     .mr--85  { margin-right: -85px!important; }
	.mr--90  { margin-right: -90px!important; }     .mr--95  { margin-right: -95px!important; }     .mr--100 { margin-right: -100px!important; }
	.mr--105 { margin-right: -105px!important; }    .mr--110 { margin-right: -110px!important; }    .mr--115 { margin-right: -115px!important; }
	.mr--120 { margin-right: -120px!important; }    .mr--125 { margin-right: -125px!important; }    .mr--130 { margin-right: -130px!important; }
	.mr--135 { margin-right: -135px!important; }    .mr--140 { margin-right: -140px!important; }    .mr--145 { margin-right: -145px!important; }
	.mr--150 { margin-right: -150px!important; }    .mr--155 { margin-right: -155px!important; }    .mr--160 { margin-right: -160px!important; }
	.mr--165 { margin-right: -165px!important; }    .mr--170 { margin-right: -170px!important; }    .mr--175 { margin-right: -175px!important; }
	.mr--180 { margin-right: -180px!important; }    .mr--185 { margin-right: -185px!important; }    .mr--190 { margin-right: -190px!important; }
	.mr--195 { margin-right: -195px!important; }    .mr--200 { margin-right: -200px!important; }    

	@media (min-width:1200px)
	{
		.mt-lg-0   { margin-top: 0px!important; }      .mt-lg-5   { margin-top: 5px!important; }      .mt-lg-10  { margin-top: 10px!important; }
		.mt-lg-15  { margin-top: 15px!important; }     .mt-lg-20  { margin-top: 20px!important; }     .mt-lg-25  { margin-top: 25px!important; }
		.mt-lg-30  { margin-top: 30px!important; }     .mt-lg-35  { margin-top: 35px!important; }     .mt-lg-40  { margin-top: 40px!important; }
		.mt-lg-45  { margin-top: 45px!important; }     .mt-lg-50  { margin-top: 50px!important; }     .mt-lg-55  { margin-top: 55px!important; }
		.mt-lg-60  { margin-top: 60px!important; }     .mt-lg-65  { margin-top: 65px!important; }     .mt-lg-70  { margin-top: 70px!important; }
		.mt-lg-75  { margin-top: 75px!important; }     .mt-lg-80  { margin-top: 80px!important; }     .mt-lg-85  { margin-top: 85px!important; }
		.mt-lg-90  { margin-top: 90px!important; }     .mt-lg-95  { margin-top: 95px!important; }     .mt-lg-100 { margin-top: 100px!important; }
		.mt-lg-105 { margin-top: 105px!important; }    .mt-lg-110 { margin-top: 110px!important; }    .mt-lg-115 { margin-top: 115px!important; }
		.mt-lg-120 { margin-top: 120px!important; }    .mt-lg-125 { margin-top: 125px!important; }    .mt-lg-130 { margin-top: 130px!important; }
		.mt-lg-135 { margin-top: 135px!important; }    .mt-lg-140 { margin-top: 140px!important; }    .mt-lg-145 { margin-top: 145px!important; }
		.mt-lg-150 { margin-top: 150px!important; }    .mt-lg-155 { margin-top: 155px!important; }    .mt-lg-160 { margin-top: 160px!important; }
		.mt-lg-165 { margin-top: 165px!important; }    .mt-lg-170 { margin-top: 170px!important; }    .mt-lg-175 { margin-top: 175px!important; }
		.mt-lg-180 { margin-top: 180px!important; }    .mt-lg-185 { margin-top: 185px!important; }    .mt-lg-190 { margin-top: 190px!important; }
		.mt-lg-195 { margin-top: 195px!important; }    .mt-lg-200 { margin-top: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mt-lg--0   { margin-top: -0px!important; }      .mt-lg--5   { margin-top: -5px!important; }      .mt-lg--10  { margin-top: -10px!important; }
		.mt-lg--15  { margin-top: -15px!important; }     .mt-lg--20  { margin-top: -20px!important; }     .mt-lg--25  { margin-top: -25px!important; }
		.mt-lg--30  { margin-top: -30px!important; }     .mt-lg--35  { margin-top: -35px!important; }     .mt-lg--40  { margin-top: -40px!important; }
		.mt-lg--45  { margin-top: -45px!important; }     .mt-lg--50  { margin-top: -50px!important; }     .mt-lg--55  { margin-top: -55px!important; }
		.mt-lg--60  { margin-top: -60px!important; }     .mt-lg--65  { margin-top: -65px!important; }     .mt-lg--70  { margin-top: -70px!important; }
		.mt-lg--75  { margin-top: -75px!important; }     .mt-lg--80  { margin-top: -80px!important; }     .mt-lg--85  { margin-top: -85px!important; }
		.mt-lg--90  { margin-top: -90px!important; }     .mt-lg--95  { margin-top: -95px!important; }     .mt-lg--100 { margin-top: -100px!important; }
		.mt-lg--105 { margin-top: -105px!important; }    .mt-lg--110 { margin-top: -110px!important; }    .mt-lg--115 { margin-top: -115px!important; }
		.mt-lg--120 { margin-top: -120px!important; }    .mt-lg--125 { margin-top: -125px!important; }    .mt-lg--130 { margin-top: -130px!important; }
		.mt-lg--135 { margin-top: -135px!important; }    .mt-lg--140 { margin-top: -140px!important; }    .mt-lg--145 { margin-top: -145px!important; }
		.mt-lg--150 { margin-top: -150px!important; }    .mt-lg--155 { margin-top: -155px!important; }    .mt-lg--160 { margin-top: -160px!important; }
		.mt-lg--165 { margin-top: -165px!important; }    .mt-lg--170 { margin-top: -170px!important; }    .mt-lg--175 { margin-top: -175px!important; }
		.mt-lg--180 { margin-top: -180px!important; }    .mt-lg--185 { margin-top: -185px!important; }    .mt-lg--190 { margin-top: -190px!important; }
		.mt-lg--195 { margin-top: -195px!important; }    .mt-lg--200 { margin-top: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mb-lg-0   { margin-bottom: 0px!important; }      .mb-lg-5   { margin-bottom: 5px!important; }      .mb-lg-10  { margin-bottom: 10px!important; }
		.mb-lg-15  { margin-bottom: 15px!important; }     .mb-lg-20  { margin-bottom: 20px!important; }     .mb-lg-25  { margin-bottom: 25px!important; }
		.mb-lg-30  { margin-bottom: 30px!important; }     .mb-lg-35  { margin-bottom: 35px!important; }     .mb-lg-40  { margin-bottom: 40px!important; }
		.mb-lg-45  { margin-bottom: 45px!important; }     .mb-lg-50  { margin-bottom: 50px!important; }     .mb-lg-55  { margin-bottom: 55px!important; }
		.mb-lg-60  { margin-bottom: 60px!important; }     .mb-lg-65  { margin-bottom: 65px!important; }     .mb-lg-70  { margin-bottom: 70px!important; }
		.mb-lg-75  { margin-bottom: 75px!important; }     .mb-lg-80  { margin-bottom: 80px!important; }     .mb-lg-85  { margin-bottom: 85px!important; }
		.mb-lg-90  { margin-bottom: 90px!important; }     .mb-lg-95  { margin-bottom: 95px!important; }     .mb-lg-100 { margin-bottom: 100px!important; }
		.mb-lg-105 { margin-bottom: 105px!important; }    .mb-lg-110 { margin-bottom: 110px!important; }    .mb-lg-115 { margin-bottom: 115px!important; }
		.mb-lg-120 { margin-bottom: 120px!important; }    .mb-lg-125 { margin-bottom: 125px!important; }    .mb-lg-130 { margin-bottom: 130px!important; }
		.mb-lg-135 { margin-bottom: 135px!important; }    .mb-lg-140 { margin-bottom: 140px!important; }    .mb-lg-145 { margin-bottom: 145px!important; }
		.mb-lg-150 { margin-bottom: 150px!important; }    .mb-lg-155 { margin-bottom: 155px!important; }    .mb-lg-160 { margin-bottom: 160px!important; }
		.mb-lg-165 { margin-bottom: 165px!important; }    .mb-lg-170 { margin-bottom: 170px!important; }    .mb-lg-175 { margin-bottom: 175px!important; }
		.mb-lg-180 { margin-bottom: 180px!important; }    .mb-lg-185 { margin-bottom: 185px!important; }    .mb-lg-190 { margin-bottom: 190px!important; }
		.mb-lg-195 { margin-bottom: 195px!important; }    .mb-lg-200 { margin-bottom: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mb-lg--0   { margin-bottom: -0px!important; }      .mb-lg--5   { margin-bottom: -5px!important; }      .mb-lg--10  { margin-bottom: -10px!important; }
		.mb-lg--15  { margin-bottom: -15px!important; }     .mb-lg--20  { margin-bottom: -20px!important; }     .mb-lg--25  { margin-bottom: -25px!important; }
		.mb-lg--30  { margin-bottom: -30px!important; }     .mb-lg--35  { margin-bottom: -35px!important; }     .mb-lg--40  { margin-bottom: -40px!important; }
		.mb-lg--45  { margin-bottom: -45px!important; }     .mb-lg--50  { margin-bottom: -50px!important; }     .mb-lg--55  { margin-bottom: -55px!important; }
		.mb-lg--60  { margin-bottom: -60px!important; }     .mb-lg--65  { margin-bottom: -65px!important; }     .mb-lg--70  { margin-bottom: -70px!important; }
		.mb-lg--75  { margin-bottom: -75px!important; }     .mb-lg--80  { margin-bottom: -80px!important; }     .mb-lg--85  { margin-bottom: -85px!important; }
		.mb-lg--90  { margin-bottom: -90px!important; }     .mb-lg--95  { margin-bottom: -95px!important; }     .mb-lg--100 { margin-bottom: -100px!important; }
		.mb-lg--105 { margin-bottom: -105px!important; }    .mb-lg--110 { margin-bottom: -110px!important; }    .mb-lg--115 { margin-bottom: -115px!important; }
		.mb-lg--120 { margin-bottom: -120px!important; }    .mb-lg--125 { margin-bottom: -125px!important; }    .mb-lg--130 { margin-bottom: -130px!important; }
		.mb-lg--135 { margin-bottom: -135px!important; }    .mb-lg--140 { margin-bottom: -140px!important; }    .mb-lg--145 { margin-bottom: -145px!important; }
		.mb-lg--150 { margin-bottom: -150px!important; }    .mb-lg--155 { margin-bottom: -155px!important; }    .mb-lg--160 { margin-bottom: -160px!important; }
		.mb-lg--165 { margin-bottom: -165px!important; }    .mb-lg--170 { margin-bottom: -170px!important; }    .mb-lg--175 { margin-bottom: -175px!important; }
		.mb-lg--180 { margin-bottom: -180px!important; }    .mb-lg--185 { margin-bottom: -185px!important; }    .mb-lg--190 { margin-bottom: -190px!important; }
		.mb-lg--195 { margin-bottom: -195px!important; }    .mb-lg--200 { margin-bottom: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.ml-lg-0   { margin-left: 0px!important; }      .ml-lg-5   { margin-left: 5px!important; }      .ml-lg-10  { margin-left: 10px!important; }
		.ml-lg-15  { margin-left: 15px!important; }     .ml-lg-20  { margin-left: 20px!important; }     .ml-lg-25  { margin-left: 25px!important; }
		.ml-lg-30  { margin-left: 30px!important; }     .ml-lg-35  { margin-left: 35px!important; }     .ml-lg-40  { margin-left: 40px!important; }
		.ml-lg-45  { margin-left: 45px!important; }     .ml-lg-50  { margin-left: 50px!important; }     .ml-lg-55  { margin-left: 55px!important; }
		.ml-lg-60  { margin-left: 60px!important; }     .ml-lg-65  { margin-left: 65px!important; }     .ml-lg-70  { margin-left: 70px!important; }
		.ml-lg-75  { margin-left: 75px!important; }     .ml-lg-80  { margin-left: 80px!important; }     .ml-lg-85  { margin-left: 85px!important; }
		.ml-lg-90  { margin-left: 90px!important; }     .ml-lg-95  { margin-left: 95px!important; }     .ml-lg-100 { margin-left: 100px!important; }
		.ml-lg-105 { margin-left: 105px!important; }    .ml-lg-110 { margin-left: 110px!important; }    .ml-lg-115 { margin-left: 115px!important; }
		.ml-lg-120 { margin-left: 120px!important; }    .ml-lg-125 { margin-left: 125px!important; }    .ml-lg-130 { margin-left: 130px!important; }
		.ml-lg-135 { margin-left: 135px!important; }    .ml-lg-140 { margin-left: 140px!important; }    .ml-lg-145 { margin-left: 145px!important; }
		.ml-lg-150 { margin-left: 150px!important; }    .ml-lg-155 { margin-left: 155px!important; }    .ml-lg-160 { margin-left: 160px!important; }
		.ml-lg-165 { margin-left: 165px!important; }    .ml-lg-170 { margin-left: 170px!important; }    .ml-lg-175 { margin-left: 175px!important; }
		.ml-lg-180 { margin-left: 180px!important; }    .ml-lg-185 { margin-left: 185px!important; }    .ml-lg-190 { margin-left: 190px!important; }
		.ml-lg-195 { margin-left: 195px!important; }    .ml-lg-200 { margin-left: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.ml-lg--0   { margin-left: -0px!important; }      .ml-lg--5   { margin-left: -5px!important; }      .ml-lg--10  { margin-left: -10px!important; }
		.ml-lg--15  { margin-left: -15px!important; }     .ml-lg--20  { margin-left: -20px!important; }     .ml-lg--25  { margin-left: -25px!important; }
		.ml-lg--30  { margin-left: -30px!important; }     .ml-lg--35  { margin-left: -35px!important; }     .ml-lg--40  { margin-left: -40px!important; }
		.ml-lg--45  { margin-left: -45px!important; }     .ml-lg--50  { margin-left: -50px!important; }     .ml-lg--55  { margin-left: -55px!important; }
		.ml-lg--60  { margin-left: -60px!important; }     .ml-lg--65  { margin-left: -65px!important; }     .ml-lg--70  { margin-left: -70px!important; }
		.ml-lg--75  { margin-left: -75px!important; }     .ml-lg--80  { margin-left: -80px!important; }     .ml-lg--85  { margin-left: -85px!important; }
		.ml-lg--90  { margin-left: -90px!important; }     .ml-lg--95  { margin-left: -95px!important; }     .ml-lg--100 { margin-left: -100px!important; }
		.ml-lg--105 { margin-left: -105px!important; }    .ml-lg--110 { margin-left: -110px!important; }    .ml-lg--115 { margin-left: -115px!important; }
		.ml-lg--120 { margin-left: -120px!important; }    .ml-lg--125 { margin-left: -125px!important; }    .ml-lg--130 { margin-left: -130px!important; }
		.ml-lg--135 { margin-left: -135px!important; }    .ml-lg--140 { margin-left: -140px!important; }    .ml-lg--145 { margin-left: -145px!important; }
		.ml-lg--150 { margin-left: -150px!important; }    .ml-lg--155 { margin-left: -155px!important; }    .ml-lg--160 { margin-left: -160px!important; }
		.ml-lg--165 { margin-left: -165px!important; }    .ml-lg--170 { margin-left: -170px!important; }    .ml-lg--175 { margin-left: -175px!important; }
		.ml-lg--180 { margin-left: -180px!important; }    .ml-lg--185 { margin-left: -185px!important; }    .ml-lg--190 { margin-left: -190px!important; }
		.ml-lg--195 { margin-left: -195px!important; }    .ml-lg--200 { margin-left: -200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mr-lg-0   { margin-right: 0px!important; }      .mr-lg-5   { margin-right: 5px!important; }      .mr-lg-10  { margin-right: 10px!important; }
		.mr-lg-15  { margin-right: 15px!important; }     .mr-lg-20  { margin-right: 20px!important; }     .mr-lg-25  { margin-right: 25px!important; }
		.mr-lg-30  { margin-right: 30px!important; }     .mr-lg-35  { margin-right: 35px!important; }     .mr-lg-40  { margin-right: 40px!important; }
		.mr-lg-45  { margin-right: 45px!important; }     .mr-lg-50  { margin-right: 50px!important; }     .mr-lg-55  { margin-right: 55px!important; }
		.mr-lg-60  { margin-right: 60px!important; }     .mr-lg-65  { margin-right: 65px!important; }     .mr-lg-70  { margin-right: 70px!important; }
		.mr-lg-75  { margin-right: 75px!important; }     .mr-lg-80  { margin-right: 80px!important; }     .mr-lg-85  { margin-right: 85px!important; }
		.mr-lg-90  { margin-right: 90px!important; }     .mr-lg-95  { margin-right: 95px!important; }     .mr-lg-100 { margin-right: 100px!important; }
		.mr-lg-105 { margin-right: 105px!important; }    .mr-lg-110 { margin-right: 110px!important; }    .mr-lg-115 { margin-right: 115px!important; }
		.mr-lg-120 { margin-right: 120px!important; }    .mr-lg-125 { margin-right: 125px!important; }    .mr-lg-130 { margin-right: 130px!important; }
		.mr-lg-135 { margin-right: 135px!important; }    .mr-lg-140 { margin-right: 140px!important; }    .mr-lg-145 { margin-right: 145px!important; }
		.mr-lg-150 { margin-right: 150px!important; }    .mr-lg-155 { margin-right: 155px!important; }    .mr-lg-160 { margin-right: 160px!important; }
		.mr-lg-165 { margin-right: 165px!important; }    .mr-lg-170 { margin-right: 170px!important; }    .mr-lg-175 { margin-right: 175px!important; }
		.mr-lg-180 { margin-right: 180px!important; }    .mr-lg-185 { margin-right: 185px!important; }    .mr-lg-190 { margin-right: 190px!important; }
		.mr-lg-195 { margin-right: 195px!important; }    .mr-lg-200 { margin-right: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.mr-lg--0   { margin-right: -0px!important; }      .mr-lg--5   { margin-right: -5px!important; }      .mr-lg--10  { margin-right: -10px!important; }
		.mr-lg--15  { margin-right: -15px!important; }     .mr-lg--20  { margin-right: -20px!important; }     .mr-lg--25  { margin-right: -25px!important; }
		.mr-lg--30  { margin-right: -30px!important; }     .mr-lg--35  { margin-right: -35px!important; }     .mr-lg--40  { margin-right: -40px!important; }
		.mr-lg--45  { margin-right: -45px!important; }     .mr-lg--50  { margin-right: -50px!important; }     .mr-lg--55  { margin-right: -55px!important; }
		.mr-lg--60  { margin-right: -60px!important; }     .mr-lg--65  { margin-right: -65px!important; }     .mr-lg--70  { margin-right: -70px!important; }
		.mr-lg--75  { margin-right: -75px!important; }     .mr-lg--80  { margin-right: -80px!important; }     .mr-lg--85  { margin-right: -85px!important; }
		.mr-lg--90  { margin-right: -90px!important; }     .mr-lg--95  { margin-right: -95px!important; }     .mr-lg--100 { margin-right: -100px!important; }
		.mr-lg--105 { margin-right: -105px!important; }    .mr-lg--110 { margin-right: -110px!important; }    .mr-lg--115 { margin-right: -115px!important; }
		.mr-lg--120 { margin-right: -120px!important; }    .mr-lg--125 { margin-right: -125px!important; }    .mr-lg--130 { margin-right: -130px!important; }
		.mr-lg--135 { margin-right: -135px!important; }    .mr-lg--140 { margin-right: -140px!important; }    .mr-lg--145 { margin-right: -145px!important; }
		.mr-lg--150 { margin-right: -150px!important; }    .mr-lg--155 { margin-right: -155px!important; }    .mr-lg--160 { margin-right: -160px!important; }
		.mr-lg--165 { margin-right: -165px!important; }    .mr-lg--170 { margin-right: -170px!important; }    .mr-lg--175 { margin-right: -175px!important; }
		.mr-lg--180 { margin-right: -180px!important; }    .mr-lg--185 { margin-right: -185px!important; }    .mr-lg--190 { margin-right: -190px!important; }
		.mr-lg--195 { margin-right: -195px!important; }    .mr-lg--200 { margin-right: -200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.mt-sm-0   { margin-top: 0px!important; }      .mt-sm-5   { margin-top: 5px!important; }      .mt-sm-10  { margin-top: 10px!important; }
		.mt-sm-15  { margin-top: 15px!important; }     .mt-sm-20  { margin-top: 20px!important; }     .mt-sm-25  { margin-top: 25px!important; }
		.mt-sm-30  { margin-top: 30px!important; }     .mt-sm-35  { margin-top: 35px!important; }     .mt-sm-40  { margin-top: 40px!important; }
		.mt-sm-45  { margin-top: 45px!important; }     .mt-sm-50  { margin-top: 50px!important; }     .mt-sm-55  { margin-top: 55px!important; }
		.mt-sm-60  { margin-top: 60px!important; }     .mt-sm-65  { margin-top: 65px!important; }     .mt-sm-70  { margin-top: 70px!important; }
		.mt-sm-75  { margin-top: 75px!important; }     .mt-sm-80  { margin-top: 80px!important; }     .mt-sm-85  { margin-top: 85px!important; }
		.mt-sm-90  { margin-top: 90px!important; }     .mt-sm-95  { margin-top: 95px!important; }     .mt-sm-100 { margin-top: 100px!important; }
		.mt-sm-105 { margin-top: 105px!important; }    .mt-sm-110 { margin-top: 110px!important; }    .mt-sm-115 { margin-top: 115px!important; }
		.mt-sm-120 { margin-top: 120px!important; }    .mt-sm-125 { margin-top: 125px!important; }    .mt-sm-130 { margin-top: 130px!important; }
		.mt-sm-135 { margin-top: 135px!important; }    .mt-sm-140 { margin-top: 140px!important; }    .mt-sm-145 { margin-top: 145px!important; }
		.mt-sm-150 { margin-top: 150px!important; }    .mt-sm-155 { margin-top: 155px!important; }    .mt-sm-160 { margin-top: 160px!important; }
		.mt-sm-165 { margin-top: 165px!important; }    .mt-sm-170 { margin-top: 170px!important; }    .mt-sm-175 { margin-top: 175px!important; }
		.mt-sm-180 { margin-top: 180px!important; }    .mt-sm-185 { margin-top: 185px!important; }    .mt-sm-190 { margin-top: 190px!important; }
		.mt-sm-195 { margin-top: 195px!important; }    .mt-sm-200 { margin-top: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.mt-sm--0   { margin-top: -0px!important; }      .mt-sm--5   { margin-top: -5px!important; }      .mt-sm--10  { margin-top: -10px!important; }
		.mt-sm--15  { margin-top: -15px!important; }     .mt-sm--20  { margin-top: -20px!important; }     .mt-sm--25  { margin-top: -25px!important; }
		.mt-sm--30  { margin-top: -30px!important; }     .mt-sm--35  { margin-top: -35px!important; }     .mt-sm--40  { margin-top: -40px!important; }
		.mt-sm--45  { margin-top: -45px!important; }     .mt-sm--50  { margin-top: -50px!important; }     .mt-sm--55  { margin-top: -55px!important; }
		.mt-sm--60  { margin-top: -60px!important; }     .mt-sm--65  { margin-top: -65px!important; }     .mt-sm--70  { margin-top: -70px!important; }
		.mt-sm--75  { margin-top: -75px!important; }     .mt-sm--80  { margin-top: -80px!important; }     .mt-sm--85  { margin-top: -85px!important; }
		.mt-sm--90  { margin-top: -90px!important; }     .mt-sm--95  { margin-top: -95px!important; }     .mt-sm--100 { margin-top: -100px!important; }
		.mt-sm--105 { margin-top: -105px!important; }    .mt-sm--110 { margin-top: -110px!important; }    .mt-sm--115 { margin-top: -115px!important; }
		.mt-sm--120 { margin-top: -120px!important; }    .mt-sm--125 { margin-top: -125px!important; }    .mt-sm--130 { margin-top: -130px!important; }
		.mt-sm--135 { margin-top: -135px!important; }    .mt-sm--140 { margin-top: -140px!important; }    .mt-sm--145 { margin-top: -145px!important; }
		.mt-sm--150 { margin-top: -150px!important; }    .mt-sm--155 { margin-top: -155px!important; }    .mt-sm--160 { margin-top: -160px!important; }
		.mt-sm--165 { margin-top: -165px!important; }    .mt-sm--170 { margin-top: -170px!important; }    .mt-sm--175 { margin-top: -175px!important; }
		.mt-sm--180 { margin-top: -180px!important; }    .mt-sm--185 { margin-top: -185px!important; }    .mt-sm--190 { margin-top: -190px!important; }
		.mt-sm--195 { margin-top: -195px!important; }    .mt-sm--200 { margin-top: -200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.mb-sm-0   { margin-bottom: 0px!important; }      .mb-sm-5   { margin-bottom: 5px!important; }      .mb-sm-10  { margin-bottom: 10px!important; }
		.mb-sm-15  { margin-bottom: 15px!important; }     .mb-sm-20  { margin-bottom: 20px!important; }     .mb-sm-25  { margin-bottom: 25px!important; }
		.mb-sm-30  { margin-bottom: 30px!important; }     .mb-sm-35  { margin-bottom: 35px!important; }     .mb-sm-40  { margin-bottom: 40px!important; }
		.mb-sm-45  { margin-bottom: 45px!important; }     .mb-sm-50  { margin-bottom: 50px!important; }     .mb-sm-55  { margin-bottom: 55px!important; }
		.mb-sm-60  { margin-bottom: 60px!important; }     .mb-sm-65  { margin-bottom: 65px!important; }     .mb-sm-70  { margin-bottom: 70px!important; }
		.mb-sm-75  { margin-bottom: 75px!important; }     .mb-sm-80  { margin-bottom: 80px!important; }     .mb-sm-85  { margin-bottom: 85px!important; }
		.mb-sm-90  { margin-bottom: 90px!important; }     .mb-sm-95  { margin-bottom: 95px!important; }     .mb-sm-100 { margin-bottom: 100px!important; }
		.mb-sm-105 { margin-bottom: 105px!important; }    .mb-sm-110 { margin-bottom: 110px!important; }    .mb-sm-115 { margin-bottom: 115px!important; }
		.mb-sm-120 { margin-bottom: 120px!important; }    .mb-sm-125 { margin-bottom: 125px!important; }    .mb-sm-130 { margin-bottom: 130px!important; }
		.mb-sm-135 { margin-bottom: 135px!important; }    .mb-sm-140 { margin-bottom: 140px!important; }    .mb-sm-145 { margin-bottom: 145px!important; }
		.mb-sm-150 { margin-bottom: 150px!important; }    .mb-sm-155 { margin-bottom: 155px!important; }    .mb-sm-160 { margin-bottom: 160px!important; }
		.mb-sm-165 { margin-bottom: 165px!important; }    .mb-sm-170 { margin-bottom: 170px!important; }    .mb-sm-175 { margin-bottom: 175px!important; }
		.mb-sm-180 { margin-bottom: 180px!important; }    .mb-sm-185 { margin-bottom: 185px!important; }    .mb-sm-190 { margin-bottom: 190px!important; }
		.mb-sm-195 { margin-bottom: 195px!important; }    .mb-sm-200 { margin-bottom: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.mb-sm--0   { margin-bottom: -0px!important; }      .mb-sm--5   { margin-bottom: -5px!important; }      .mb-sm--10  { margin-bottom: -10px!important; }
		.mb-sm--15  { margin-bottom: -15px!important; }     .mb-sm--20  { margin-bottom: -20px!important; }     .mb-sm--25  { margin-bottom: -25px!important; }
		.mb-sm--30  { margin-bottom: -30px!important; }     .mb-sm--35  { margin-bottom: -35px!important; }     .mb-sm--40  { margin-bottom: -40px!important; }
		.mb-sm--45  { margin-bottom: -45px!important; }     .mb-sm--50  { margin-bottom: -50px!important; }     .mb-sm--55  { margin-bottom: -55px!important; }
		.mb-sm--60  { margin-bottom: -60px!important; }     .mb-sm--65  { margin-bottom: -65px!important; }     .mb-sm--70  { margin-bottom: -70px!important; }
		.mb-sm--75  { margin-bottom: -75px!important; }     .mb-sm--80  { margin-bottom: -80px!important; }     .mb-sm--85  { margin-bottom: -85px!important; }
		.mb-sm--90  { margin-bottom: -90px!important; }     .mb-sm--95  { margin-bottom: -95px!important; }     .mb-sm--100 { margin-bottom: -100px!important; }
		.mb-sm--105 { margin-bottom: -105px!important; }    .mb-sm--110 { margin-bottom: -110px!important; }    .mb-sm--115 { margin-bottom: -115px!important; }
		.mb-sm--120 { margin-bottom: -120px!important; }    .mb-sm--125 { margin-bottom: -125px!important; }    .mb-sm--130 { margin-bottom: -130px!important; }
		.mb-sm--135 { margin-bottom: -135px!important; }    .mb-sm--140 { margin-bottom: -140px!important; }    .mb-sm--145 { margin-bottom: -145px!important; }
		.mb-sm--150 { margin-bottom: -150px!important; }    .mb-sm--155 { margin-bottom: -155px!important; }    .mb-sm--160 { margin-bottom: -160px!important; }
		.mb-sm--165 { margin-bottom: -165px!important; }    .mb-sm--170 { margin-bottom: -170px!important; }    .mb-sm--175 { margin-bottom: -175px!important; }
		.mb-sm--180 { margin-bottom: -180px!important; }    .mb-sm--185 { margin-bottom: -185px!important; }    .mb-sm--190 { margin-bottom: -190px!important; }
		.mb-sm--195 { margin-bottom: -195px!important; }    .mb-sm--200 { margin-bottom: -200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.ml-sm-0   { margin-left: 0px!important; }      .ml-sm-5   { margin-left: 5px!important; }      .ml-sm-10  { margin-left: 10px!important; }
		.ml-sm-15  { margin-left: 15px!important; }     .ml-sm-20  { margin-left: 20px!important; }     .ml-sm-25  { margin-left: 25px!important; }
		.ml-sm-30  { margin-left: 30px!important; }     .ml-sm-35  { margin-left: 35px!important; }     .ml-sm-40  { margin-left: 40px!important; }
		.ml-sm-45  { margin-left: 45px!important; }     .ml-sm-50  { margin-left: 50px!important; }     .ml-sm-55  { margin-left: 55px!important; }
		.ml-sm-60  { margin-left: 60px!important; }     .ml-sm-65  { margin-left: 65px!important; }     .ml-sm-70  { margin-left: 70px!important; }
		.ml-sm-75  { margin-left: 75px!important; }     .ml-sm-80  { margin-left: 80px!important; }     .ml-sm-85  { margin-left: 85px!important; }
		.ml-sm-90  { margin-left: 90px!important; }     .ml-sm-95  { margin-left: 95px!important; }     .ml-sm-100 { margin-left: 100px!important; }
		.ml-sm-105 { margin-left: 105px!important; }    .ml-sm-110 { margin-left: 110px!important; }    .ml-sm-115 { margin-left: 115px!important; }
		.ml-sm-120 { margin-left: 120px!important; }    .ml-sm-125 { margin-left: 125px!important; }    .ml-sm-130 { margin-left: 130px!important; }
		.ml-sm-135 { margin-left: 135px!important; }    .ml-sm-140 { margin-left: 140px!important; }    .ml-sm-145 { margin-left: 145px!important; }
		.ml-sm-150 { margin-left: 150px!important; }    .ml-sm-155 { margin-left: 155px!important; }    .ml-sm-160 { margin-left: 160px!important; }
		.ml-sm-165 { margin-left: 165px!important; }    .ml-sm-170 { margin-left: 170px!important; }    .ml-sm-175 { margin-left: 175px!important; }
		.ml-sm-180 { margin-left: 180px!important; }    .ml-sm-185 { margin-left: 185px!important; }    .ml-sm-190 { margin-left: 190px!important; }
		.ml-sm-195 { margin-left: 195px!important; }    .ml-sm-200 { margin-left: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.ml-sm--0   { margin-left: -0px!important; }      .ml-sm--5   { margin-left: -5px!important; }      .ml-sm--10  { margin-left: -10px!important; }
		.ml-sm--15  { margin-left: -15px!important; }     .ml-sm--20  { margin-left: -20px!important; }     .ml-sm--25  { margin-left: -25px!important; }
		.ml-sm--30  { margin-left: -30px!important; }     .ml-sm--35  { margin-left: -35px!important; }     .ml-sm--40  { margin-left: -40px!important; }
		.ml-sm--45  { margin-left: -45px!important; }     .ml-sm--50  { margin-left: -50px!important; }     .ml-sm--55  { margin-left: -55px!important; }
		.ml-sm--60  { margin-left: -60px!important; }     .ml-sm--65  { margin-left: -65px!important; }     .ml-sm--70  { margin-left: -70px!important; }
		.ml-sm--75  { margin-left: -75px!important; }     .ml-sm--80  { margin-left: -80px!important; }     .ml-sm--85  { margin-left: -85px!important; }
		.ml-sm--90  { margin-left: -90px!important; }     .ml-sm--95  { margin-left: -95px!important; }     .ml-sm--100 { margin-left: -100px!important; }
		.ml-sm--105 { margin-left: -105px!important; }    .ml-sm--110 { margin-left: -110px!important; }    .ml-sm--115 { margin-left: -115px!important; }
		.ml-sm--120 { margin-left: -120px!important; }    .ml-sm--125 { margin-left: -125px!important; }    .ml-sm--130 { margin-left: -130px!important; }
		.ml-sm--135 { margin-left: -135px!important; }    .ml-sm--140 { margin-left: -140px!important; }    .ml-sm--145 { margin-left: -145px!important; }
		.ml-sm--150 { margin-left: -150px!important; }    .ml-sm--155 { margin-left: -155px!important; }    .ml-sm--160 { margin-left: -160px!important; }
		.ml-sm--165 { margin-left: -165px!important; }    .ml-sm--170 { margin-left: -170px!important; }    .ml-sm--175 { margin-left: -175px!important; }
		.ml-sm--180 { margin-left: -180px!important; }    .ml-sm--185 { margin-left: -185px!important; }    .ml-sm--190 { margin-left: -190px!important; }
		.ml-sm--195 { margin-left: -195px!important; }    .ml-sm--200 { margin-left: -200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.mr-sm-0   { margin-right: 0px!important; }      .mr-sm-5   { margin-right: 5px!important; }      .mr-sm-10  { margin-right: 10px!important; }
		.mr-sm-15  { margin-right: 15px!important; }     .mr-sm-20  { margin-right: 20px!important; }     .mr-sm-25  { margin-right: 25px!important; }
		.mr-sm-30  { margin-right: 30px!important; }     .mr-sm-35  { margin-right: 35px!important; }     .mr-sm-40  { margin-right: 40px!important; }
		.mr-sm-45  { margin-right: 45px!important; }     .mr-sm-50  { margin-right: 50px!important; }     .mr-sm-55  { margin-right: 55px!important; }
		.mr-sm-60  { margin-right: 60px!important; }     .mr-sm-65  { margin-right: 65px!important; }     .mr-sm-70  { margin-right: 70px!important; }
		.mr-sm-75  { margin-right: 75px!important; }     .mr-sm-80  { margin-right: 80px!important; }     .mr-sm-85  { margin-right: 85px!important; }
		.mr-sm-90  { margin-right: 90px!important; }     .mr-sm-95  { margin-right: 95px!important; }     .mr-sm-100 { margin-right: 100px!important; }
		.mr-sm-105 { margin-right: 105px!important; }    .mr-sm-110 { margin-right: 110px!important; }    .mr-sm-115 { margin-right: 115px!important; }
		.mr-sm-120 { margin-right: 120px!important; }    .mr-sm-125 { margin-right: 125px!important; }    .mr-sm-130 { margin-right: 130px!important; }
		.mr-sm-135 { margin-right: 135px!important; }    .mr-sm-140 { margin-right: 140px!important; }    .mr-sm-145 { margin-right: 145px!important; }
		.mr-sm-150 { margin-right: 150px!important; }    .mr-sm-155 { margin-right: 155px!important; }    .mr-sm-160 { margin-right: 160px!important; }
		.mr-sm-165 { margin-right: 165px!important; }    .mr-sm-170 { margin-right: 170px!important; }    .mr-sm-175 { margin-right: 175px!important; }
		.mr-sm-180 { margin-right: 180px!important; }    .mr-sm-185 { margin-right: 185px!important; }    .mr-sm-190 { margin-right: 190px!important; }
		.mr-sm-195 { margin-right: 195px!important; }    .mr-sm-200 { margin-right: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.mr-sm--0   { margin-right: -0px!important; }      .mr-sm--5   { margin-right: -5px!important; }      .mr-sm--10  { margin-right: -10px!important; }
		.mr-sm--15  { margin-right: -15px!important; }     .mr-sm--20  { margin-right: -20px!important; }     .mr-sm--25  { margin-right: -25px!important; }
		.mr-sm--30  { margin-right: -30px!important; }     .mr-sm--35  { margin-right: -35px!important; }     .mr-sm--40  { margin-right: -40px!important; }
		.mr-sm--45  { margin-right: -45px!important; }     .mr-sm--50  { margin-right: -50px!important; }     .mr-sm--55  { margin-right: -55px!important; }
		.mr-sm--60  { margin-right: -60px!important; }     .mr-sm--65  { margin-right: -65px!important; }     .mr-sm--70  { margin-right: -70px!important; }
		.mr-sm--75  { margin-right: -75px!important; }     .mr-sm--80  { margin-right: -80px!important; }     .mr-sm--85  { margin-right: -85px!important; }
		.mr-sm--90  { margin-right: -90px!important; }     .mr-sm--95  { margin-right: -95px!important; }     .mr-sm--100 { margin-right: -100px!important; }
		.mr-sm--105 { margin-right: -105px!important; }    .mr-sm--110 { margin-right: -110px!important; }    .mr-sm--115 { margin-right: -115px!important; }
		.mr-sm--120 { margin-right: -120px!important; }    .mr-sm--125 { margin-right: -125px!important; }    .mr-sm--130 { margin-right: -130px!important; }
		.mr-sm--135 { margin-right: -135px!important; }    .mr-sm--140 { margin-right: -140px!important; }    .mr-sm--145 { margin-right: -145px!important; }
		.mr-sm--150 { margin-right: -150px!important; }    .mr-sm--155 { margin-right: -155px!important; }    .mr-sm--160 { margin-right: -160px!important; }
		.mr-sm--165 { margin-right: -165px!important; }    .mr-sm--170 { margin-right: -170px!important; }    .mr-sm--175 { margin-right: -175px!important; }
		.mr-sm--180 { margin-right: -180px!important; }    .mr-sm--185 { margin-right: -185px!important; }    .mr-sm--190 { margin-right: -190px!important; }
		.mr-sm--195 { margin-right: -195px!important; }    .mr-sm--200 { margin-right: -200px!important; }    
	}

	@media (max-width:767px)
	{
		.mt-xs-0   { margin-top: 0px!important; }      .mt-xs-5   { margin-top: 5px!important; }      .mt-xs-10  { margin-top: 10px!important; }
		.mt-xs-15  { margin-top: 15px!important; }     .mt-xs-20  { margin-top: 20px!important; }     .mt-xs-25  { margin-top: 25px!important; }
		.mt-xs-30  { margin-top: 30px!important; }     .mt-xs-35  { margin-top: 35px!important; }     .mt-xs-40  { margin-top: 40px!important; }
		.mt-xs-45  { margin-top: 45px!important; }     .mt-xs-50  { margin-top: 50px!important; }     .mt-xs-55  { margin-top: 55px!important; }
		.mt-xs-60  { margin-top: 60px!important; }     .mt-xs-65  { margin-top: 65px!important; }     .mt-xs-70  { margin-top: 70px!important; }
		.mt-xs-75  { margin-top: 75px!important; }     .mt-xs-80  { margin-top: 80px!important; }     .mt-xs-85  { margin-top: 85px!important; }
		.mt-xs-90  { margin-top: 90px!important; }     .mt-xs-95  { margin-top: 95px!important; }     .mt-xs-100 { margin-top: 100px!important; }
		.mt-xs-105 { margin-top: 105px!important; }    .mt-xs-110 { margin-top: 110px!important; }    .mt-xs-115 { margin-top: 115px!important; }
		.mt-xs-120 { margin-top: 120px!important; }    .mt-xs-125 { margin-top: 125px!important; }    .mt-xs-130 { margin-top: 130px!important; }
		.mt-xs-135 { margin-top: 135px!important; }    .mt-xs-140 { margin-top: 140px!important; }    .mt-xs-145 { margin-top: 145px!important; }
		.mt-xs-150 { margin-top: 150px!important; }    .mt-xs-155 { margin-top: 155px!important; }    .mt-xs-160 { margin-top: 160px!important; }
		.mt-xs-165 { margin-top: 165px!important; }    .mt-xs-170 { margin-top: 170px!important; }    .mt-xs-175 { margin-top: 175px!important; }
		.mt-xs-180 { margin-top: 180px!important; }    .mt-xs-185 { margin-top: 185px!important; }    .mt-xs-190 { margin-top: 190px!important; }
		.mt-xs-195 { margin-top: 195px!important; }    .mt-xs-200 { margin-top: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.mt-xs--0   { margin-top: -0px!important; }      .mt-xs--5   { margin-top: -5px!important; }      .mt-xs--10  { margin-top: -10px!important; }
		.mt-xs--15  { margin-top: -15px!important; }     .mt-xs--20  { margin-top: -20px!important; }     .mt-xs--25  { margin-top: -25px!important; }
		.mt-xs--30  { margin-top: -30px!important; }     .mt-xs--35  { margin-top: -35px!important; }     .mt-xs--40  { margin-top: -40px!important; }
		.mt-xs--45  { margin-top: -45px!important; }     .mt-xs--50  { margin-top: -50px!important; }     .mt-xs--55  { margin-top: -55px!important; }
		.mt-xs--60  { margin-top: -60px!important; }     .mt-xs--65  { margin-top: -65px!important; }     .mt-xs--70  { margin-top: -70px!important; }
		.mt-xs--75  { margin-top: -75px!important; }     .mt-xs--80  { margin-top: -80px!important; }     .mt-xs--85  { margin-top: -85px!important; }
		.mt-xs--90  { margin-top: -90px!important; }     .mt-xs--95  { margin-top: -95px!important; }     .mt-xs--100 { margin-top: -100px!important; }
		.mt-xs--105 { margin-top: -105px!important; }    .mt-xs--110 { margin-top: -110px!important; }    .mt-xs--115 { margin-top: -115px!important; }
		.mt-xs--120 { margin-top: -120px!important; }    .mt-xs--125 { margin-top: -125px!important; }    .mt-xs--130 { margin-top: -130px!important; }
		.mt-xs--135 { margin-top: -135px!important; }    .mt-xs--140 { margin-top: -140px!important; }    .mt-xs--145 { margin-top: -145px!important; }
		.mt-xs--150 { margin-top: -150px!important; }    .mt-xs--155 { margin-top: -155px!important; }    .mt-xs--160 { margin-top: -160px!important; }
		.mt-xs--165 { margin-top: -165px!important; }    .mt-xs--170 { margin-top: -170px!important; }    .mt-xs--175 { margin-top: -175px!important; }
		.mt-xs--180 { margin-top: -180px!important; }    .mt-xs--185 { margin-top: -185px!important; }    .mt-xs--190 { margin-top: -190px!important; }
		.mt-xs--195 { margin-top: -195px!important; }    .mt-xs--200 { margin-top: -200px!important; }    
	}

	@media (max-width:767px)
	{
		.mb-xs-0   { margin-bottom: 0px!important; }      .mb-xs-5   { margin-bottom: 5px!important; }      .mb-xs-10  { margin-bottom: 10px!important; }
		.mb-xs-15  { margin-bottom: 15px!important; }     .mb-xs-20  { margin-bottom: 20px!important; }     .mb-xs-25  { margin-bottom: 25px!important; }
		.mb-xs-30  { margin-bottom: 30px!important; }     .mb-xs-35  { margin-bottom: 35px!important; }     .mb-xs-40  { margin-bottom: 40px!important; }
		.mb-xs-45  { margin-bottom: 45px!important; }     .mb-xs-50  { margin-bottom: 50px!important; }     .mb-xs-55  { margin-bottom: 55px!important; }
		.mb-xs-60  { margin-bottom: 60px!important; }     .mb-xs-65  { margin-bottom: 65px!important; }     .mb-xs-70  { margin-bottom: 70px!important; }
		.mb-xs-75  { margin-bottom: 75px!important; }     .mb-xs-80  { margin-bottom: 80px!important; }     .mb-xs-85  { margin-bottom: 85px!important; }
		.mb-xs-90  { margin-bottom: 90px!important; }     .mb-xs-95  { margin-bottom: 95px!important; }     .mb-xs-100 { margin-bottom: 100px!important; }
		.mb-xs-105 { margin-bottom: 105px!important; }    .mb-xs-110 { margin-bottom: 110px!important; }    .mb-xs-115 { margin-bottom: 115px!important; }
		.mb-xs-120 { margin-bottom: 120px!important; }    .mb-xs-125 { margin-bottom: 125px!important; }    .mb-xs-130 { margin-bottom: 130px!important; }
		.mb-xs-135 { margin-bottom: 135px!important; }    .mb-xs-140 { margin-bottom: 140px!important; }    .mb-xs-145 { margin-bottom: 145px!important; }
		.mb-xs-150 { margin-bottom: 150px!important; }    .mb-xs-155 { margin-bottom: 155px!important; }    .mb-xs-160 { margin-bottom: 160px!important; }
		.mb-xs-165 { margin-bottom: 165px!important; }    .mb-xs-170 { margin-bottom: 170px!important; }    .mb-xs-175 { margin-bottom: 175px!important; }
		.mb-xs-180 { margin-bottom: 180px!important; }    .mb-xs-185 { margin-bottom: 185px!important; }    .mb-xs-190 { margin-bottom: 190px!important; }
		.mb-xs-195 { margin-bottom: 195px!important; }    .mb-xs-200 { margin-bottom: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.mb-xs--0   { margin-bottom: -0px!important; }      .mb-xs--5   { margin-bottom: -5px!important; }      .mb-xs--10  { margin-bottom: -10px!important; }
		.mb-xs--15  { margin-bottom: -15px!important; }     .mb-xs--20  { margin-bottom: -20px!important; }     .mb-xs--25  { margin-bottom: -25px!important; }
		.mb-xs--30  { margin-bottom: -30px!important; }     .mb-xs--35  { margin-bottom: -35px!important; }     .mb-xs--40  { margin-bottom: -40px!important; }
		.mb-xs--45  { margin-bottom: -45px!important; }     .mb-xs--50  { margin-bottom: -50px!important; }     .mb-xs--55  { margin-bottom: -55px!important; }
		.mb-xs--60  { margin-bottom: -60px!important; }     .mb-xs--65  { margin-bottom: -65px!important; }     .mb-xs--70  { margin-bottom: -70px!important; }
		.mb-xs--75  { margin-bottom: -75px!important; }     .mb-xs--80  { margin-bottom: -80px!important; }     .mb-xs--85  { margin-bottom: -85px!important; }
		.mb-xs--90  { margin-bottom: -90px!important; }     .mb-xs--95  { margin-bottom: -95px!important; }     .mb-xs--100 { margin-bottom: -100px!important; }
		.mb-xs--105 { margin-bottom: -105px!important; }    .mb-xs--110 { margin-bottom: -110px!important; }    .mb-xs--115 { margin-bottom: -115px!important; }
		.mb-xs--120 { margin-bottom: -120px!important; }    .mb-xs--125 { margin-bottom: -125px!important; }    .mb-xs--130 { margin-bottom: -130px!important; }
		.mb-xs--135 { margin-bottom: -135px!important; }    .mb-xs--140 { margin-bottom: -140px!important; }    .mb-xs--145 { margin-bottom: -145px!important; }
		.mb-xs--150 { margin-bottom: -150px!important; }    .mb-xs--155 { margin-bottom: -155px!important; }    .mb-xs--160 { margin-bottom: -160px!important; }
		.mb-xs--165 { margin-bottom: -165px!important; }    .mb-xs--170 { margin-bottom: -170px!important; }    .mb-xs--175 { margin-bottom: -175px!important; }
		.mb-xs--180 { margin-bottom: -180px!important; }    .mb-xs--185 { margin-bottom: -185px!important; }    .mb-xs--190 { margin-bottom: -190px!important; }
		.mb-xs--195 { margin-bottom: -195px!important; }    .mb-xs--200 { margin-bottom: -200px!important; }    
	}

	@media (max-width:767px)
	{
		.ml-xs-0   { margin-left: 0px!important; }      .ml-xs-5   { margin-left: 5px!important; }      .ml-xs-10  { margin-left: 10px!important; }
		.ml-xs-15  { margin-left: 15px!important; }     .ml-xs-20  { margin-left: 20px!important; }     .ml-xs-25  { margin-left: 25px!important; }
		.ml-xs-30  { margin-left: 30px!important; }     .ml-xs-35  { margin-left: 35px!important; }     .ml-xs-40  { margin-left: 40px!important; }
		.ml-xs-45  { margin-left: 45px!important; }     .ml-xs-50  { margin-left: 50px!important; }     .ml-xs-55  { margin-left: 55px!important; }
		.ml-xs-60  { margin-left: 60px!important; }     .ml-xs-65  { margin-left: 65px!important; }     .ml-xs-70  { margin-left: 70px!important; }
		.ml-xs-75  { margin-left: 75px!important; }     .ml-xs-80  { margin-left: 80px!important; }     .ml-xs-85  { margin-left: 85px!important; }
		.ml-xs-90  { margin-left: 90px!important; }     .ml-xs-95  { margin-left: 95px!important; }     .ml-xs-100 { margin-left: 100px!important; }
		.ml-xs-105 { margin-left: 105px!important; }    .ml-xs-110 { margin-left: 110px!important; }    .ml-xs-115 { margin-left: 115px!important; }
		.ml-xs-120 { margin-left: 120px!important; }    .ml-xs-125 { margin-left: 125px!important; }    .ml-xs-130 { margin-left: 130px!important; }
		.ml-xs-135 { margin-left: 135px!important; }    .ml-xs-140 { margin-left: 140px!important; }    .ml-xs-145 { margin-left: 145px!important; }
		.ml-xs-150 { margin-left: 150px!important; }    .ml-xs-155 { margin-left: 155px!important; }    .ml-xs-160 { margin-left: 160px!important; }
		.ml-xs-165 { margin-left: 165px!important; }    .ml-xs-170 { margin-left: 170px!important; }    .ml-xs-175 { margin-left: 175px!important; }
		.ml-xs-180 { margin-left: 180px!important; }    .ml-xs-185 { margin-left: 185px!important; }    .ml-xs-190 { margin-left: 190px!important; }
		.ml-xs-195 { margin-left: 195px!important; }    .ml-xs-200 { margin-left: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.ml-xs--0   { margin-left: -0px!important; }      .ml-xs--5   { margin-left: -5px!important; }      .ml-xs--10  { margin-left: -10px!important; }
		.ml-xs--15  { margin-left: -15px!important; }     .ml-xs--20  { margin-left: -20px!important; }     .ml-xs--25  { margin-left: -25px!important; }
		.ml-xs--30  { margin-left: -30px!important; }     .ml-xs--35  { margin-left: -35px!important; }     .ml-xs--40  { margin-left: -40px!important; }
		.ml-xs--45  { margin-left: -45px!important; }     .ml-xs--50  { margin-left: -50px!important; }     .ml-xs--55  { margin-left: -55px!important; }
		.ml-xs--60  { margin-left: -60px!important; }     .ml-xs--65  { margin-left: -65px!important; }     .ml-xs--70  { margin-left: -70px!important; }
		.ml-xs--75  { margin-left: -75px!important; }     .ml-xs--80  { margin-left: -80px!important; }     .ml-xs--85  { margin-left: -85px!important; }
		.ml-xs--90  { margin-left: -90px!important; }     .ml-xs--95  { margin-left: -95px!important; }     .ml-xs--100 { margin-left: -100px!important; }
		.ml-xs--105 { margin-left: -105px!important; }    .ml-xs--110 { margin-left: -110px!important; }    .ml-xs--115 { margin-left: -115px!important; }
		.ml-xs--120 { margin-left: -120px!important; }    .ml-xs--125 { margin-left: -125px!important; }    .ml-xs--130 { margin-left: -130px!important; }
		.ml-xs--135 { margin-left: -135px!important; }    .ml-xs--140 { margin-left: -140px!important; }    .ml-xs--145 { margin-left: -145px!important; }
		.ml-xs--150 { margin-left: -150px!important; }    .ml-xs--155 { margin-left: -155px!important; }    .ml-xs--160 { margin-left: -160px!important; }
		.ml-xs--165 { margin-left: -165px!important; }    .ml-xs--170 { margin-left: -170px!important; }    .ml-xs--175 { margin-left: -175px!important; }
		.ml-xs--180 { margin-left: -180px!important; }    .ml-xs--185 { margin-left: -185px!important; }    .ml-xs--190 { margin-left: -190px!important; }
		.ml-xs--195 { margin-left: -195px!important; }    .ml-xs--200 { margin-left: -200px!important; }    
	}

	@media (max-width:767px)
	{
		.mr-xs-0   { margin-right: 0px!important; }      .mr-xs-5   { margin-right: 5px!important; }      .mr-xs-10  { margin-right: 10px!important; }
		.mr-xs-15  { margin-right: 15px!important; }     .mr-xs-20  { margin-right: 20px!important; }     .mr-xs-25  { margin-right: 25px!important; }
		.mr-xs-30  { margin-right: 30px!important; }     .mr-xs-35  { margin-right: 35px!important; }     .mr-xs-40  { margin-right: 40px!important; }
		.mr-xs-45  { margin-right: 45px!important; }     .mr-xs-50  { margin-right: 50px!important; }     .mr-xs-55  { margin-right: 55px!important; }
		.mr-xs-60  { margin-right: 60px!important; }     .mr-xs-65  { margin-right: 65px!important; }     .mr-xs-70  { margin-right: 70px!important; }
		.mr-xs-75  { margin-right: 75px!important; }     .mr-xs-80  { margin-right: 80px!important; }     .mr-xs-85  { margin-right: 85px!important; }
		.mr-xs-90  { margin-right: 90px!important; }     .mr-xs-95  { margin-right: 95px!important; }     .mr-xs-100 { margin-right: 100px!important; }
		.mr-xs-105 { margin-right: 105px!important; }    .mr-xs-110 { margin-right: 110px!important; }    .mr-xs-115 { margin-right: 115px!important; }
		.mr-xs-120 { margin-right: 120px!important; }    .mr-xs-125 { margin-right: 125px!important; }    .mr-xs-130 { margin-right: 130px!important; }
		.mr-xs-135 { margin-right: 135px!important; }    .mr-xs-140 { margin-right: 140px!important; }    .mr-xs-145 { margin-right: 145px!important; }
		.mr-xs-150 { margin-right: 150px!important; }    .mr-xs-155 { margin-right: 155px!important; }    .mr-xs-160 { margin-right: 160px!important; }
		.mr-xs-165 { margin-right: 165px!important; }    .mr-xs-170 { margin-right: 170px!important; }    .mr-xs-175 { margin-right: 175px!important; }
		.mr-xs-180 { margin-right: 180px!important; }    .mr-xs-185 { margin-right: 185px!important; }    .mr-xs-190 { margin-right: 190px!important; }
		.mr-xs-195 { margin-right: 195px!important; }    .mr-xs-200 { margin-right: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.mr-xs--0   { margin-right: -0px!important; }      .mr-xs--5   { margin-right: -5px!important; }      .mr-xs--10  { margin-right: -10px!important; }
		.mr-xs--15  { margin-right: -15px!important; }     .mr-xs--20  { margin-right: -20px!important; }     .mr-xs--25  { margin-right: -25px!important; }
		.mr-xs--30  { margin-right: -30px!important; }     .mr-xs--35  { margin-right: -35px!important; }     .mr-xs--40  { margin-right: -40px!important; }
		.mr-xs--45  { margin-right: -45px!important; }     .mr-xs--50  { margin-right: -50px!important; }     .mr-xs--55  { margin-right: -55px!important; }
		.mr-xs--60  { margin-right: -60px!important; }     .mr-xs--65  { margin-right: -65px!important; }     .mr-xs--70  { margin-right: -70px!important; }
		.mr-xs--75  { margin-right: -75px!important; }     .mr-xs--80  { margin-right: -80px!important; }     .mr-xs--85  { margin-right: -85px!important; }
		.mr-xs--90  { margin-right: -90px!important; }     .mr-xs--95  { margin-right: -95px!important; }     .mr-xs--100 { margin-right: -100px!important; }
		.mr-xs--105 { margin-right: -105px!important; }    .mr-xs--110 { margin-right: -110px!important; }    .mr-xs--115 { margin-right: -115px!important; }
		.mr-xs--120 { margin-right: -120px!important; }    .mr-xs--125 { margin-right: -125px!important; }    .mr-xs--130 { margin-right: -130px!important; }
		.mr-xs--135 { margin-right: -135px!important; }    .mr-xs--140 { margin-right: -140px!important; }    .mr-xs--145 { margin-right: -145px!important; }
		.mr-xs--150 { margin-right: -150px!important; }    .mr-xs--155 { margin-right: -155px!important; }    .mr-xs--160 { margin-right: -160px!important; }
		.mr-xs--165 { margin-right: -165px!important; }    .mr-xs--170 { margin-right: -170px!important; }    .mr-xs--175 { margin-right: -175px!important; }
		.mr-xs--180 { margin-right: -180px!important; }    .mr-xs--185 { margin-right: -185px!important; }    .mr-xs--190 { margin-right: -190px!important; }
		.mr-xs--195 { margin-right: -195px!important; }    .mr-xs--200 { margin-right: -200px!important; }    
	}

	.pt-0   { padding-top: 0px!important; }      .pt-5   { padding-top: 5px!important; }      .pt-10  { padding-top: 10px!important; }
	.pt-15  { padding-top: 15px!important; }     .pt-20  { padding-top: 20px!important; }     .pt-25  { padding-top: 25px!important; }
	.pt-30  { padding-top: 30px!important; }     .pt-35  { padding-top: 35px!important; }     .pt-40  { padding-top: 40px!important; }
	.pt-45  { padding-top: 45px!important; }     .pt-50  { padding-top: 50px!important; }     .pt-55  { padding-top: 55px!important; }
	.pt-60  { padding-top: 60px!important; }     .pt-65  { padding-top: 65px!important; }     .pt-70  { padding-top: 70px!important; }
	.pt-75  { padding-top: 75px!important; }     .pt-80  { padding-top: 80px!important; }     .pt-85  { padding-top: 85px!important; }
	.pt-90  { padding-top: 90px!important; }     .pt-95  { padding-top: 95px!important; }     .pt-100 { padding-top: 100px!important; }
	.pt-105 { padding-top: 105px!important; }    .pt-110 { padding-top: 110px!important; }    .pt-115 { padding-top: 115px!important; }
	.pt-120 { padding-top: 120px!important; }    .pt-125 { padding-top: 125px!important; }    .pt-130 { padding-top: 130px!important; }
	.pt-135 { padding-top: 135px!important; }    .pt-140 { padding-top: 140px!important; }    .pt-145 { padding-top: 145px!important; }
	.pt-150 { padding-top: 150px!important; }    .pt-155 { padding-top: 155px!important; }    .pt-160 { padding-top: 160px!important; }
	.pt-165 { padding-top: 165px!important; }    .pt-170 { padding-top: 170px!important; }    .pt-175 { padding-top: 175px!important; }
	.pt-180 { padding-top: 180px!important; }    .pt-185 { padding-top: 185px!important; }    .pt-190 { padding-top: 190px!important; }
	.pt-195 { padding-top: 195px!important; }    .pt-200 { padding-top: 200px!important; }    

	.pb-0   { padding-bottom: 0px!important; }      .pb-5   { padding-bottom: 5px!important; }      .pb-10  { padding-bottom: 10px!important; }
	.pb-15  { padding-bottom: 15px!important; }     .pb-20  { padding-bottom: 20px!important; }     .pb-25  { padding-bottom: 25px!important; }
	.pb-30  { padding-bottom: 30px!important; }     .pb-35  { padding-bottom: 35px!important; }     .pb-40  { padding-bottom: 40px!important; }
	.pb-45  { padding-bottom: 45px!important; }     .pb-50  { padding-bottom: 50px!important; }     .pb-55  { padding-bottom: 55px!important; }
	.pb-60  { padding-bottom: 60px!important; }     .pb-65  { padding-bottom: 65px!important; }     .pb-70  { padding-bottom: 70px!important; }
	.pb-75  { padding-bottom: 75px!important; }     .pb-80  { padding-bottom: 80px!important; }     .pb-85  { padding-bottom: 85px!important; }
	.pb-90  { padding-bottom: 90px!important; }     .pb-95  { padding-bottom: 95px!important; }     .pb-100 { padding-bottom: 100px!important; }
	.pb-105 { padding-bottom: 105px!important; }    .pb-110 { padding-bottom: 110px!important; }    .pb-115 { padding-bottom: 115px!important; }
	.pb-120 { padding-bottom: 120px!important; }    .pb-125 { padding-bottom: 125px!important; }    .pb-130 { padding-bottom: 130px!important; }
	.pb-135 { padding-bottom: 135px!important; }    .pb-140 { padding-bottom: 140px!important; }    .pb-145 { padding-bottom: 145px!important; }
	.pb-150 { padding-bottom: 150px!important; }    .pb-155 { padding-bottom: 155px!important; }    .pb-160 { padding-bottom: 160px!important; }
	.pb-165 { padding-bottom: 165px!important; }    .pb-170 { padding-bottom: 170px!important; }    .pb-175 { padding-bottom: 175px!important; }
	.pb-180 { padding-bottom: 180px!important; }    .pb-185 { padding-bottom: 185px!important; }    .pb-190 { padding-bottom: 190px!important; }
	.pb-195 { padding-bottom: 195px!important; }    .pb-200 { padding-bottom: 200px!important; }    

	.pl-0   { padding-left: 0px!important; }      .pl-5   { padding-left: 5px!important; }      .pl-10  { padding-left: 10px!important; }
	.pl-15  { padding-left: 15px!important; }     .pl-20  { padding-left: 20px!important; }     .pl-25  { padding-left: 25px!important; }
	.pl-30  { padding-left: 30px!important; }     .pl-35  { padding-left: 35px!important; }     .pl-40  { padding-left: 40px!important; }
	.pl-45  { padding-left: 45px!important; }     .pl-50  { padding-left: 50px!important; }     .pl-55  { padding-left: 55px!important; }
	.pl-60  { padding-left: 60px!important; }     .pl-65  { padding-left: 65px!important; }     .pl-70  { padding-left: 70px!important; }
	.pl-75  { padding-left: 75px!important; }     .pl-80  { padding-left: 80px!important; }     .pl-85  { padding-left: 85px!important; }
	.pl-90  { padding-left: 90px!important; }     .pl-95  { padding-left: 95px!important; }     .pl-100 { padding-left: 100px!important; }
	.pl-105 { padding-left: 105px!important; }    .pl-110 { padding-left: 110px!important; }    .pl-115 { padding-left: 115px!important; }
	.pl-120 { padding-left: 120px!important; }    .pl-125 { padding-left: 125px!important; }    .pl-130 { padding-left: 130px!important; }
	.pl-135 { padding-left: 135px!important; }    .pl-140 { padding-left: 140px!important; }    .pl-145 { padding-left: 145px!important; }
	.pl-150 { padding-left: 150px!important; }    .pl-155 { padding-left: 155px!important; }    .pl-160 { padding-left: 160px!important; }
	.pl-165 { padding-left: 165px!important; }    .pl-170 { padding-left: 170px!important; }    .pl-175 { padding-left: 175px!important; }
	.pl-180 { padding-left: 180px!important; }    .pl-185 { padding-left: 185px!important; }    .pl-190 { padding-left: 190px!important; }
	.pl-195 { padding-left: 195px!important; }    .pl-200 { padding-left: 200px!important; }    

	.pr-0   { padding-right: 0px!important; }      .pr-5   { padding-right: 5px!important; }      .pr-10  { padding-right: 10px!important; }
	.pr-15  { padding-right: 15px!important; }     .pr-20  { padding-right: 20px!important; }     .pr-25  { padding-right: 25px!important; }
	.pr-30  { padding-right: 30px!important; }     .pr-35  { padding-right: 35px!important; }     .pr-40  { padding-right: 40px!important; }
	.pr-45  { padding-right: 45px!important; }     .pr-50  { padding-right: 50px!important; }     .pr-55  { padding-right: 55px!important; }
	.pr-60  { padding-right: 60px!important; }     .pr-65  { padding-right: 65px!important; }     .pr-70  { padding-right: 70px!important; }
	.pr-75  { padding-right: 75px!important; }     .pr-80  { padding-right: 80px!important; }     .pr-85  { padding-right: 85px!important; }
	.pr-90  { padding-right: 90px!important; }     .pr-95  { padding-right: 95px!important; }     .pr-100 { padding-right: 100px!important; }
	.pr-105 { padding-right: 105px!important; }    .pr-110 { padding-right: 110px!important; }    .pr-115 { padding-right: 115px!important; }
	.pr-120 { padding-right: 120px!important; }    .pr-125 { padding-right: 125px!important; }    .pr-130 { padding-right: 130px!important; }
	.pr-135 { padding-right: 135px!important; }    .pr-140 { padding-right: 140px!important; }    .pr-145 { padding-right: 145px!important; }
	.pr-150 { padding-right: 150px!important; }    .pr-155 { padding-right: 155px!important; }    .pr-160 { padding-right: 160px!important; }
	.pr-165 { padding-right: 165px!important; }    .pr-170 { padding-right: 170px!important; }    .pr-175 { padding-right: 175px!important; }
	.pr-180 { padding-right: 180px!important; }    .pr-185 { padding-right: 185px!important; }    .pr-190 { padding-right: 190px!important; }
	.pr-195 { padding-right: 195px!important; }    .pr-200 { padding-right: 200px!important; }    

	@media (min-width:1200px)
	{
		.pt-lg-0   { padding-top: 0px!important; }      .pt-lg-5   { padding-top: 5px!important; }      .pt-lg-10  { padding-top: 10px!important; }
		.pt-lg-15  { padding-top: 15px!important; }     .pt-lg-20  { padding-top: 20px!important; }     .pt-lg-25  { padding-top: 25px!important; }
		.pt-lg-30  { padding-top: 30px!important; }     .pt-lg-35  { padding-top: 35px!important; }     .pt-lg-40  { padding-top: 40px!important; }
		.pt-lg-45  { padding-top: 45px!important; }     .pt-lg-50  { padding-top: 50px!important; }     .pt-lg-55  { padding-top: 55px!important; }
		.pt-lg-60  { padding-top: 60px!important; }     .pt-lg-65  { padding-top: 65px!important; }     .pt-lg-70  { padding-top: 70px!important; }
		.pt-lg-75  { padding-top: 75px!important; }     .pt-lg-80  { padding-top: 80px!important; }     .pt-lg-85  { padding-top: 85px!important; }
		.pt-lg-90  { padding-top: 90px!important; }     .pt-lg-95  { padding-top: 95px!important; }     .pt-lg-100 { padding-top: 100px!important; }
		.pt-lg-105 { padding-top: 105px!important; }    .pt-lg-110 { padding-top: 110px!important; }    .pt-lg-115 { padding-top: 115px!important; }
		.pt-lg-120 { padding-top: 120px!important; }    .pt-lg-125 { padding-top: 125px!important; }    .pt-lg-130 { padding-top: 130px!important; }
		.pt-lg-135 { padding-top: 135px!important; }    .pt-lg-140 { padding-top: 140px!important; }    .pt-lg-145 { padding-top: 145px!important; }
		.pt-lg-150 { padding-top: 150px!important; }    .pt-lg-155 { padding-top: 155px!important; }    .pt-lg-160 { padding-top: 160px!important; }
		.pt-lg-165 { padding-top: 165px!important; }    .pt-lg-170 { padding-top: 170px!important; }    .pt-lg-175 { padding-top: 175px!important; }
		.pt-lg-180 { padding-top: 180px!important; }    .pt-lg-185 { padding-top: 185px!important; }    .pt-lg-190 { padding-top: 190px!important; }
		.pt-lg-195 { padding-top: 195px!important; }    .pt-lg-200 { padding-top: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pb-lg-0   { padding-bottom: 0px!important; }      .pb-lg-5   { padding-bottom: 5px!important; }      .pb-lg-10  { padding-bottom: 10px!important; }
		.pb-lg-15  { padding-bottom: 15px!important; }     .pb-lg-20  { padding-bottom: 20px!important; }     .pb-lg-25  { padding-bottom: 25px!important; }
		.pb-lg-30  { padding-bottom: 30px!important; }     .pb-lg-35  { padding-bottom: 35px!important; }     .pb-lg-40  { padding-bottom: 40px!important; }
		.pb-lg-45  { padding-bottom: 45px!important; }     .pb-lg-50  { padding-bottom: 50px!important; }     .pb-lg-55  { padding-bottom: 55px!important; }
		.pb-lg-60  { padding-bottom: 60px!important; }     .pb-lg-65  { padding-bottom: 65px!important; }     .pb-lg-70  { padding-bottom: 70px!important; }
		.pb-lg-75  { padding-bottom: 75px!important; }     .pb-lg-80  { padding-bottom: 80px!important; }     .pb-lg-85  { padding-bottom: 85px!important; }
		.pb-lg-90  { padding-bottom: 90px!important; }     .pb-lg-95  { padding-bottom: 95px!important; }     .pb-lg-100 { padding-bottom: 100px!important; }
		.pb-lg-105 { padding-bottom: 105px!important; }    .pb-lg-110 { padding-bottom: 110px!important; }    .pb-lg-115 { padding-bottom: 115px!important; }
		.pb-lg-120 { padding-bottom: 120px!important; }    .pb-lg-125 { padding-bottom: 125px!important; }    .pb-lg-130 { padding-bottom: 130px!important; }
		.pb-lg-135 { padding-bottom: 135px!important; }    .pb-lg-140 { padding-bottom: 140px!important; }    .pb-lg-145 { padding-bottom: 145px!important; }
		.pb-lg-150 { padding-bottom: 150px!important; }    .pb-lg-155 { padding-bottom: 155px!important; }    .pb-lg-160 { padding-bottom: 160px!important; }
		.pb-lg-165 { padding-bottom: 165px!important; }    .pb-lg-170 { padding-bottom: 170px!important; }    .pb-lg-175 { padding-bottom: 175px!important; }
		.pb-lg-180 { padding-bottom: 180px!important; }    .pb-lg-185 { padding-bottom: 185px!important; }    .pb-lg-190 { padding-bottom: 190px!important; }
		.pb-lg-195 { padding-bottom: 195px!important; }    .pb-lg-200 { padding-bottom: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pl-lg-0   { padding-left: 0px!important; }      .pl-lg-5   { padding-left: 5px!important; }      .pl-lg-10  { padding-left: 10px!important; }
		.pl-lg-15  { padding-left: 15px!important; }     .pl-lg-20  { padding-left: 20px!important; }     .pl-lg-25  { padding-left: 25px!important; }
		.pl-lg-30  { padding-left: 30px!important; }     .pl-lg-35  { padding-left: 35px!important; }     .pl-lg-40  { padding-left: 40px!important; }
		.pl-lg-45  { padding-left: 45px!important; }     .pl-lg-50  { padding-left: 50px!important; }     .pl-lg-55  { padding-left: 55px!important; }
		.pl-lg-60  { padding-left: 60px!important; }     .pl-lg-65  { padding-left: 65px!important; }     .pl-lg-70  { padding-left: 70px!important; }
		.pl-lg-75  { padding-left: 75px!important; }     .pl-lg-80  { padding-left: 80px!important; }     .pl-lg-85  { padding-left: 85px!important; }
		.pl-lg-90  { padding-left: 90px!important; }     .pl-lg-95  { padding-left: 95px!important; }     .pl-lg-100 { padding-left: 100px!important; }
		.pl-lg-105 { padding-left: 105px!important; }    .pl-lg-110 { padding-left: 110px!important; }    .pl-lg-115 { padding-left: 115px!important; }
		.pl-lg-120 { padding-left: 120px!important; }    .pl-lg-125 { padding-left: 125px!important; }    .pl-lg-130 { padding-left: 130px!important; }
		.pl-lg-135 { padding-left: 135px!important; }    .pl-lg-140 { padding-left: 140px!important; }    .pl-lg-145 { padding-left: 145px!important; }
		.pl-lg-150 { padding-left: 150px!important; }    .pl-lg-155 { padding-left: 155px!important; }    .pl-lg-160 { padding-left: 160px!important; }
		.pl-lg-165 { padding-left: 165px!important; }    .pl-lg-170 { padding-left: 170px!important; }    .pl-lg-175 { padding-left: 175px!important; }
		.pl-lg-180 { padding-left: 180px!important; }    .pl-lg-185 { padding-left: 185px!important; }    .pl-lg-190 { padding-left: 190px!important; }
		.pl-lg-195 { padding-left: 195px!important; }    .pl-lg-200 { padding-left: 200px!important; }    
	}

	@media (min-width:1200px)
	{
		.pr-lg-0   { padding-right: 0px!important; }      .pr-lg-5   { padding-right: 5px!important; }      .pr-lg-10  { padding-right: 10px!important; }
		.pr-lg-15  { padding-right: 15px!important; }     .pr-lg-20  { padding-right: 20px!important; }     .pr-lg-25  { padding-right: 25px!important; }
		.pr-lg-30  { padding-right: 30px!important; }     .pr-lg-35  { padding-right: 35px!important; }     .pr-lg-40  { padding-right: 40px!important; }
		.pr-lg-45  { padding-right: 45px!important; }     .pr-lg-50  { padding-right: 50px!important; }     .pr-lg-55  { padding-right: 55px!important; }
		.pr-lg-60  { padding-right: 60px!important; }     .pr-lg-65  { padding-right: 65px!important; }     .pr-lg-70  { padding-right: 70px!important; }
		.pr-lg-75  { padding-right: 75px!important; }     .pr-lg-80  { padding-right: 80px!important; }     .pr-lg-85  { padding-right: 85px!important; }
		.pr-lg-90  { padding-right: 90px!important; }     .pr-lg-95  { padding-right: 95px!important; }     .pr-lg-100 { padding-right: 100px!important; }
		.pr-lg-105 { padding-right: 105px!important; }    .pr-lg-110 { padding-right: 110px!important; }    .pr-lg-115 { padding-right: 115px!important; }
		.pr-lg-120 { padding-right: 120px!important; }    .pr-lg-125 { padding-right: 125px!important; }    .pr-lg-130 { padding-right: 130px!important; }
		.pr-lg-135 { padding-right: 135px!important; }    .pr-lg-140 { padding-right: 140px!important; }    .pr-lg-145 { padding-right: 145px!important; }
		.pr-lg-150 { padding-right: 150px!important; }    .pr-lg-155 { padding-right: 155px!important; }    .pr-lg-160 { padding-right: 160px!important; }
		.pr-lg-165 { padding-right: 165px!important; }    .pr-lg-170 { padding-right: 170px!important; }    .pr-lg-175 { padding-right: 175px!important; }
		.pr-lg-180 { padding-right: 180px!important; }    .pr-lg-185 { padding-right: 185px!important; }    .pr-lg-190 { padding-right: 190px!important; }
		.pr-lg-195 { padding-right: 195px!important; }    .pr-lg-200 { padding-right: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.pt-sm-0   { padding-top: 0px!important; }      .pt-sm-5   { padding-top: 5px!important; }      .pt-sm-10  { padding-top: 10px!important; }
		.pt-sm-15  { padding-top: 15px!important; }     .pt-sm-20  { padding-top: 20px!important; }     .pt-sm-25  { padding-top: 25px!important; }
		.pt-sm-30  { padding-top: 30px!important; }     .pt-sm-35  { padding-top: 35px!important; }     .pt-sm-40  { padding-top: 40px!important; }
		.pt-sm-45  { padding-top: 45px!important; }     .pt-sm-50  { padding-top: 50px!important; }     .pt-sm-55  { padding-top: 55px!important; }
		.pt-sm-60  { padding-top: 60px!important; }     .pt-sm-65  { padding-top: 65px!important; }     .pt-sm-70  { padding-top: 70px!important; }
		.pt-sm-75  { padding-top: 75px!important; }     .pt-sm-80  { padding-top: 80px!important; }     .pt-sm-85  { padding-top: 85px!important; }
		.pt-sm-90  { padding-top: 90px!important; }     .pt-sm-95  { padding-top: 95px!important; }     .pt-sm-100 { padding-top: 100px!important; }
		.pt-sm-105 { padding-top: 105px!important; }    .pt-sm-110 { padding-top: 110px!important; }    .pt-sm-115 { padding-top: 115px!important; }
		.pt-sm-120 { padding-top: 120px!important; }    .pt-sm-125 { padding-top: 125px!important; }    .pt-sm-130 { padding-top: 130px!important; }
		.pt-sm-135 { padding-top: 135px!important; }    .pt-sm-140 { padding-top: 140px!important; }    .pt-sm-145 { padding-top: 145px!important; }
		.pt-sm-150 { padding-top: 150px!important; }    .pt-sm-155 { padding-top: 155px!important; }    .pt-sm-160 { padding-top: 160px!important; }
		.pt-sm-165 { padding-top: 165px!important; }    .pt-sm-170 { padding-top: 170px!important; }    .pt-sm-175 { padding-top: 175px!important; }
		.pt-sm-180 { padding-top: 180px!important; }    .pt-sm-185 { padding-top: 185px!important; }    .pt-sm-190 { padding-top: 190px!important; }
		.pt-sm-195 { padding-top: 195px!important; }    .pt-sm-200 { padding-top: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.pb-sm-0   { padding-bottom: 0px!important; }      .pb-sm-5   { padding-bottom: 5px!important; }      .pb-sm-10  { padding-bottom: 10px!important; }
		.pb-sm-15  { padding-bottom: 15px!important; }     .pb-sm-20  { padding-bottom: 20px!important; }     .pb-sm-25  { padding-bottom: 25px!important; }
		.pb-sm-30  { padding-bottom: 30px!important; }     .pb-sm-35  { padding-bottom: 35px!important; }     .pb-sm-40  { padding-bottom: 40px!important; }
		.pb-sm-45  { padding-bottom: 45px!important; }     .pb-sm-50  { padding-bottom: 50px!important; }     .pb-sm-55  { padding-bottom: 55px!important; }
		.pb-sm-60  { padding-bottom: 60px!important; }     .pb-sm-65  { padding-bottom: 65px!important; }     .pb-sm-70  { padding-bottom: 70px!important; }
		.pb-sm-75  { padding-bottom: 75px!important; }     .pb-sm-80  { padding-bottom: 80px!important; }     .pb-sm-85  { padding-bottom: 85px!important; }
		.pb-sm-90  { padding-bottom: 90px!important; }     .pb-sm-95  { padding-bottom: 95px!important; }     .pb-sm-100 { padding-bottom: 100px!important; }
		.pb-sm-105 { padding-bottom: 105px!important; }    .pb-sm-110 { padding-bottom: 110px!important; }    .pb-sm-115 { padding-bottom: 115px!important; }
		.pb-sm-120 { padding-bottom: 120px!important; }    .pb-sm-125 { padding-bottom: 125px!important; }    .pb-sm-130 { padding-bottom: 130px!important; }
		.pb-sm-135 { padding-bottom: 135px!important; }    .pb-sm-140 { padding-bottom: 140px!important; }    .pb-sm-145 { padding-bottom: 145px!important; }
		.pb-sm-150 { padding-bottom: 150px!important; }    .pb-sm-155 { padding-bottom: 155px!important; }    .pb-sm-160 { padding-bottom: 160px!important; }
		.pb-sm-165 { padding-bottom: 165px!important; }    .pb-sm-170 { padding-bottom: 170px!important; }    .pb-sm-175 { padding-bottom: 175px!important; }
		.pb-sm-180 { padding-bottom: 180px!important; }    .pb-sm-185 { padding-bottom: 185px!important; }    .pb-sm-190 { padding-bottom: 190px!important; }
		.pb-sm-195 { padding-bottom: 195px!important; }    .pb-sm-200 { padding-bottom: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.pl-sm-0   { padding-left: 0px!important; }      .pl-sm-5   { padding-left: 5px!important; }      .pl-sm-10  { padding-left: 10px!important; }
		.pl-sm-15  { padding-left: 15px!important; }     .pl-sm-20  { padding-left: 20px!important; }     .pl-sm-25  { padding-left: 25px!important; }
		.pl-sm-30  { padding-left: 30px!important; }     .pl-sm-35  { padding-left: 35px!important; }     .pl-sm-40  { padding-left: 40px!important; }
		.pl-sm-45  { padding-left: 45px!important; }     .pl-sm-50  { padding-left: 50px!important; }     .pl-sm-55  { padding-left: 55px!important; }
		.pl-sm-60  { padding-left: 60px!important; }     .pl-sm-65  { padding-left: 65px!important; }     .pl-sm-70  { padding-left: 70px!important; }
		.pl-sm-75  { padding-left: 75px!important; }     .pl-sm-80  { padding-left: 80px!important; }     .pl-sm-85  { padding-left: 85px!important; }
		.pl-sm-90  { padding-left: 90px!important; }     .pl-sm-95  { padding-left: 95px!important; }     .pl-sm-100 { padding-left: 100px!important; }
		.pl-sm-105 { padding-left: 105px!important; }    .pl-sm-110 { padding-left: 110px!important; }    .pl-sm-115 { padding-left: 115px!important; }
		.pl-sm-120 { padding-left: 120px!important; }    .pl-sm-125 { padding-left: 125px!important; }    .pl-sm-130 { padding-left: 130px!important; }
		.pl-sm-135 { padding-left: 135px!important; }    .pl-sm-140 { padding-left: 140px!important; }    .pl-sm-145 { padding-left: 145px!important; }
		.pl-sm-150 { padding-left: 150px!important; }    .pl-sm-155 { padding-left: 155px!important; }    .pl-sm-160 { padding-left: 160px!important; }
		.pl-sm-165 { padding-left: 165px!important; }    .pl-sm-170 { padding-left: 170px!important; }    .pl-sm-175 { padding-left: 175px!important; }
		.pl-sm-180 { padding-left: 180px!important; }    .pl-sm-185 { padding-left: 185px!important; }    .pl-sm-190 { padding-left: 190px!important; }
		.pl-sm-195 { padding-left: 195px!important; }    .pl-sm-200 { padding-left: 200px!important; }    
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.pr-sm-0   { padding-right: 0px!important; }      .pr-sm-5   { padding-right: 5px!important; }      .pr-sm-10  { padding-right: 10px!important; }
		.pr-sm-15  { padding-right: 15px!important; }     .pr-sm-20  { padding-right: 20px!important; }     .pr-sm-25  { padding-right: 25px!important; }
		.pr-sm-30  { padding-right: 30px!important; }     .pr-sm-35  { padding-right: 35px!important; }     .pr-sm-40  { padding-right: 40px!important; }
		.pr-sm-45  { padding-right: 45px!important; }     .pr-sm-50  { padding-right: 50px!important; }     .pr-sm-55  { padding-right: 55px!important; }
		.pr-sm-60  { padding-right: 60px!important; }     .pr-sm-65  { padding-right: 65px!important; }     .pr-sm-70  { padding-right: 70px!important; }
		.pr-sm-75  { padding-right: 75px!important; }     .pr-sm-80  { padding-right: 80px!important; }     .pr-sm-85  { padding-right: 85px!important; }
		.pr-sm-90  { padding-right: 90px!important; }     .pr-sm-95  { padding-right: 95px!important; }     .pr-sm-100 { padding-right: 100px!important; }
		.pr-sm-105 { padding-right: 105px!important; }    .pr-sm-110 { padding-right: 110px!important; }    .pr-sm-115 { padding-right: 115px!important; }
		.pr-sm-120 { padding-right: 120px!important; }    .pr-sm-125 { padding-right: 125px!important; }    .pr-sm-130 { padding-right: 130px!important; }
		.pr-sm-135 { padding-right: 135px!important; }    .pr-sm-140 { padding-right: 140px!important; }    .pr-sm-145 { padding-right: 145px!important; }
		.pr-sm-150 { padding-right: 150px!important; }    .pr-sm-155 { padding-right: 155px!important; }    .pr-sm-160 { padding-right: 160px!important; }
		.pr-sm-165 { padding-right: 165px!important; }    .pr-sm-170 { padding-right: 170px!important; }    .pr-sm-175 { padding-right: 175px!important; }
		.pr-sm-180 { padding-right: 180px!important; }    .pr-sm-185 { padding-right: 185px!important; }    .pr-sm-190 { padding-right: 190px!important; }
		.pr-sm-195 { padding-right: 195px!important; }    .pr-sm-200 { padding-right: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.pt-xs-0   { padding-top: 0px!important; }      .pt-xs-5   { padding-top: 5px!important; }      .pt-xs-10  { padding-top: 10px!important; }
		.pt-xs-15  { padding-top: 15px!important; }     .pt-xs-20  { padding-top: 20px!important; }     .pt-xs-25  { padding-top: 25px!important; }
		.pt-xs-30  { padding-top: 30px!important; }     .pt-xs-35  { padding-top: 35px!important; }     .pt-xs-40  { padding-top: 40px!important; }
		.pt-xs-45  { padding-top: 45px!important; }     .pt-xs-50  { padding-top: 50px!important; }     .pt-xs-55  { padding-top: 55px!important; }
		.pt-xs-60  { padding-top: 60px!important; }     .pt-xs-65  { padding-top: 65px!important; }     .pt-xs-70  { padding-top: 70px!important; }
		.pt-xs-75  { padding-top: 75px!important; }     .pt-xs-80  { padding-top: 80px!important; }     .pt-xs-85  { padding-top: 85px!important; }
		.pt-xs-90  { padding-top: 90px!important; }     .pt-xs-95  { padding-top: 95px!important; }     .pt-xs-100 { padding-top: 100px!important; }
		.pt-xs-105 { padding-top: 105px!important; }    .pt-xs-110 { padding-top: 110px!important; }    .pt-xs-115 { padding-top: 115px!important; }
		.pt-xs-120 { padding-top: 120px!important; }    .pt-xs-125 { padding-top: 125px!important; }    .pt-xs-130 { padding-top: 130px!important; }
		.pt-xs-135 { padding-top: 135px!important; }    .pt-xs-140 { padding-top: 140px!important; }    .pt-xs-145 { padding-top: 145px!important; }
		.pt-xs-150 { padding-top: 150px!important; }    .pt-xs-155 { padding-top: 155px!important; }    .pt-xs-160 { padding-top: 160px!important; }
		.pt-xs-165 { padding-top: 165px!important; }    .pt-xs-170 { padding-top: 170px!important; }    .pt-xs-175 { padding-top: 175px!important; }
		.pt-xs-180 { padding-top: 180px!important; }    .pt-xs-185 { padding-top: 185px!important; }    .pt-xs-190 { padding-top: 190px!important; }
		.pt-xs-195 { padding-top: 195px!important; }    .pt-xs-200 { padding-top: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.pb-xs-0   { padding-bottom: 0px!important; }      .pb-xs-5   { padding-bottom: 5px!important; }      .pb-xs-10  { padding-bottom: 10px!important; }
		.pb-xs-15  { padding-bottom: 15px!important; }     .pb-xs-20  { padding-bottom: 20px!important; }     .pb-xs-25  { padding-bottom: 25px!important; }
		.pb-xs-30  { padding-bottom: 30px!important; }     .pb-xs-35  { padding-bottom: 35px!important; }     .pb-xs-40  { padding-bottom: 40px!important; }
		.pb-xs-45  { padding-bottom: 45px!important; }     .pb-xs-50  { padding-bottom: 50px!important; }     .pb-xs-55  { padding-bottom: 55px!important; }
		.pb-xs-60  { padding-bottom: 60px!important; }     .pb-xs-65  { padding-bottom: 65px!important; }     .pb-xs-70  { padding-bottom: 70px!important; }
		.pb-xs-75  { padding-bottom: 75px!important; }     .pb-xs-80  { padding-bottom: 80px!important; }     .pb-xs-85  { padding-bottom: 85px!important; }
		.pb-xs-90  { padding-bottom: 90px!important; }     .pb-xs-95  { padding-bottom: 95px!important; }     .pb-xs-100 { padding-bottom: 100px!important; }
		.pb-xs-105 { padding-bottom: 105px!important; }    .pb-xs-110 { padding-bottom: 110px!important; }    .pb-xs-115 { padding-bottom: 115px!important; }
		.pb-xs-120 { padding-bottom: 120px!important; }    .pb-xs-125 { padding-bottom: 125px!important; }    .pb-xs-130 { padding-bottom: 130px!important; }
		.pb-xs-135 { padding-bottom: 135px!important; }    .pb-xs-140 { padding-bottom: 140px!important; }    .pb-xs-145 { padding-bottom: 145px!important; }
		.pb-xs-150 { padding-bottom: 150px!important; }    .pb-xs-155 { padding-bottom: 155px!important; }    .pb-xs-160 { padding-bottom: 160px!important; }
		.pb-xs-165 { padding-bottom: 165px!important; }    .pb-xs-170 { padding-bottom: 170px!important; }    .pb-xs-175 { padding-bottom: 175px!important; }
		.pb-xs-180 { padding-bottom: 180px!important; }    .pb-xs-185 { padding-bottom: 185px!important; }    .pb-xs-190 { padding-bottom: 190px!important; }
		.pb-xs-195 { padding-bottom: 195px!important; }    .pb-xs-200 { padding-bottom: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.pl-xs-0   { padding-left: 0px!important; }      .pl-xs-5   { padding-left: 5px!important; }      .pl-xs-10  { padding-left: 10px!important; }
		.pl-xs-15  { padding-left: 15px!important; }     .pl-xs-20  { padding-left: 20px!important; }     .pl-xs-25  { padding-left: 25px!important; }
		.pl-xs-30  { padding-left: 30px!important; }     .pl-xs-35  { padding-left: 35px!important; }     .pl-xs-40  { padding-left: 40px!important; }
		.pl-xs-45  { padding-left: 45px!important; }     .pl-xs-50  { padding-left: 50px!important; }     .pl-xs-55  { padding-left: 55px!important; }
		.pl-xs-60  { padding-left: 60px!important; }     .pl-xs-65  { padding-left: 65px!important; }     .pl-xs-70  { padding-left: 70px!important; }
		.pl-xs-75  { padding-left: 75px!important; }     .pl-xs-80  { padding-left: 80px!important; }     .pl-xs-85  { padding-left: 85px!important; }
		.pl-xs-90  { padding-left: 90px!important; }     .pl-xs-95  { padding-left: 95px!important; }     .pl-xs-100 { padding-left: 100px!important; }
		.pl-xs-105 { padding-left: 105px!important; }    .pl-xs-110 { padding-left: 110px!important; }    .pl-xs-115 { padding-left: 115px!important; }
		.pl-xs-120 { padding-left: 120px!important; }    .pl-xs-125 { padding-left: 125px!important; }    .pl-xs-130 { padding-left: 130px!important; }
		.pl-xs-135 { padding-left: 135px!important; }    .pl-xs-140 { padding-left: 140px!important; }    .pl-xs-145 { padding-left: 145px!important; }
		.pl-xs-150 { padding-left: 150px!important; }    .pl-xs-155 { padding-left: 155px!important; }    .pl-xs-160 { padding-left: 160px!important; }
		.pl-xs-165 { padding-left: 165px!important; }    .pl-xs-170 { padding-left: 170px!important; }    .pl-xs-175 { padding-left: 175px!important; }
		.pl-xs-180 { padding-left: 180px!important; }    .pl-xs-185 { padding-left: 185px!important; }    .pl-xs-190 { padding-left: 190px!important; }
		.pl-xs-195 { padding-left: 195px!important; }    .pl-xs-200 { padding-left: 200px!important; }    
	}

	@media (max-width:767px)
	{
		.pr-xs-0   { padding-right: 0px!important; }      .pr-xs-5   { padding-right: 5px!important; }      .pr-xs-10  { padding-right: 10px!important; }
		.pr-xs-15  { padding-right: 15px!important; }     .pr-xs-20  { padding-right: 20px!important; }     .pr-xs-25  { padding-right: 25px!important; }
		.pr-xs-30  { padding-right: 30px!important; }     .pr-xs-35  { padding-right: 35px!important; }     .pr-xs-40  { padding-right: 40px!important; }
		.pr-xs-45  { padding-right: 45px!important; }     .pr-xs-50  { padding-right: 50px!important; }     .pr-xs-55  { padding-right: 55px!important; }
		.pr-xs-60  { padding-right: 60px!important; }     .pr-xs-65  { padding-right: 65px!important; }     .pr-xs-70  { padding-right: 70px!important; }
		.pr-xs-75  { padding-right: 75px!important; }     .pr-xs-80  { padding-right: 80px!important; }     .pr-xs-85  { padding-right: 85px!important; }
		.pr-xs-90  { padding-right: 90px!important; }     .pr-xs-95  { padding-right: 95px!important; }     .pr-xs-100 { padding-right: 100px!important; }
		.pr-xs-105 { padding-right: 105px!important; }    .pr-xs-110 { padding-right: 110px!important; }    .pr-xs-115 { padding-right: 115px!important; }
		.pr-xs-120 { padding-right: 120px!important; }    .pr-xs-125 { padding-right: 125px!important; }    .pr-xs-130 { padding-right: 130px!important; }
		.pr-xs-135 { padding-right: 135px!important; }    .pr-xs-140 { padding-right: 140px!important; }    .pr-xs-145 { padding-right: 145px!important; }
		.pr-xs-150 { padding-right: 150px!important; }    .pr-xs-155 { padding-right: 155px!important; }    .pr-xs-160 { padding-right: 160px!important; }
		.pr-xs-165 { padding-right: 165px!important; }    .pr-xs-170 { padding-right: 170px!important; }    .pr-xs-175 { padding-right: 175px!important; }
		.pr-xs-180 { padding-right: 180px!important; }    .pr-xs-185 { padding-right: 185px!important; }    .pr-xs-190 { padding-right: 190px!important; }
		.pr-xs-195 { padding-right: 195px!important; }    .pr-xs-200 { padding-right: 200px!important; }    
	}