<!-- sign in / sign up modal -->
		<div id='sign-in-up-modal-welcome-back' class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					
					<div class="modal-body">
					
						<h3 class='text-center text-black'>Welcome Back</h3>
						<div class='text-center mt-xs-20'><p class='mb-xs-0'>We've noticed you've already created a quote. Please login to continue.</p></div>
						<div class="row">
							<div class="col-xs-12">
								<form id="login_user">
								
									<div class="input-holder fancy-label-container">
										<input type='text' placeholder='Email address' name="auth_user_email" />
									</div>
									<div class="input-holder fancy-label-container">
										<input type='text' placeholder='Reference Number' name="reference" />
									</div>

									<div class='text-center mt-xs-40 row'><a class='btn btn-default' onclick="loginUser(this)">Login</a></div>
							
									<div class="col-xs-12">
										<div class='text-center mt-sm-35 mb-xs-10 mb-sm-35 mt-xs-20 forgot-reference-link'><a href='#' class='important forgot_password' onclick="forgotPassword(this); return false;">Forgot reference?</a></div>
										<div class='text-center'><p class='important' id='login_result'></p></div>
									</div>

								</form>		
							</div>
							
						</div>
						
						
						
					</div>
					
					
				</div>
			</div>
		</div>
		<!-- end: sign in / up modal... -->