<div class="row">
<div id='map'></div> 
<div id='sidebar'>
    <!-- <h1>Our sidebar navigation comes here</h1>
    <h2>with the accodions</h2>
    <div id="tooltip-name"></div>
    <div id='tooltip'></div> -->
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="">
            <img src="<?= $this->basePath('assets/images/logo.PNG') ?>" class="img-responsive" alt="" style="margin-left: 100px; margin-bottom: 20px;">
          </div>
          <div class="" style="text-align: center;">
            <p>Select layers to display various data sets </p>
            <!-- to<br>interactively analyse the potential of rea electrification -->
          </div>
        </div>

        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenud" style="margin-top: 30px;">

            <div class="input-group ui-widget" id="adv-search">

                <!-- <input type="text" class="form-control" id="tags" placeholder="Search Nigerian States" /> -->
                <select class="form-control" id="tags">
                                        <option value="" selected>Filter By State</option>
                                        <option value="Federal Capital Territory">Abuja</option>
                                        <option value="Abia">Abia</option>
                                        <option value="Adamawa">Adamawa</option>
                                        <option value="Anambra">Anambra</option>
                                        <option value="Akwa Ibom">Akwa Ibom</option>
                                        <option value="Bauchi">Bauchi</option>
                                        <option value="Bayelsa">Bayelsa</option>
                                        <option value="Benue">Benue</option>
                                        <option value="Borno">Borno</option>
                                        <option value="Cross River">Cross River</option>
                                        <option value="Delta">Delta</option>
                                        <option value="Ebonyi">Ebonyi</option>
                                        <option value="Enugu">Enugu</option>
                                        <option value="Edo">Edo</option>
                                        <option value="Ekiti">Ekiti</option>
                                        <option value="Imo">Imo</option>
                                        <option value="Jigawa">Jigawa</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Kano">Kano</option>
                                        <option value="Katsina">Katsina</option>
                                        <option value="Kebbi">Kebbi</option>
                                        <option value="Kogi">Kogi</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Nasarawa">Nasarawa</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Ogun">Ogun</option>
                                        <option value="Osun">Osun</option>
                                        <option value="Oyo">Oyo</option>
                                        <option value="Plateau">Plateau</option>
                                        <option value="Rivers">Rivers</option>
                                        <option value="Sokoto">Sokoto</option>
                                        <option value="Taraba">Taraba</option>
                                        <option value="Yobe">Yobe</option>
                                        <option value="Zamfara">Zamfara</option>
                                    </select>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">

                        <button type="button" class="btn btn-primary"  onclick="filterByStates('tags');" style="background-color: #26724a;border-color: #26724a;"><span class="glyphicon glyphicon-search" style="color: white ;" ></span></button>
                    </div>
                </div>
            </div>

            <div class="input-group ui-widget " style="width: 250px; margin: 0 auto; margin-top: 10px">

                <select class="form-control" id="disco">
                                        <option value="" selected>Filter Disco Coverage</option>
                                        <option value="Abuja">Abuja</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Eko">Eko</option>
                                        <option value="Enugu">Enugu</option>
                                        <option value="Ibadan">Ibadan</option>
                                        <option value="Ikeja">Ikeja</option>
                                        <option value="Jos">Jos</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Kano">Kano</option>
                                        <option value="Portharcourt">Portharcourt</option>
                                        <option value="Yola">Yola</option>
                                    </select>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">

                        <button type="button" class="btn btn-primary"  onclick="filterByDisco('disco');" style="background-color: #26724a;border-color: #26724a;"><span class="glyphicon glyphicon-search" style="color: white ;" ></span></button>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default"  onclick="clearSearchFilter()" style="border-color: #176739; margin-left: 155px; margin-top: 10px; ">Clear Filters</button> 
      </div>
          <div class="panel-group" id="accordion" style="margin-top: 30px;">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 21px 40px; background-color: #fff;">
                        <h4 class="panel-title">
                            
                            <p id="collapse_show_one" >
                              ON GRID INFRASTRUCTURE
                                <i class="glyphicon glyphicon-plus" style="float: right;"></i>
                            </p>

                            <p id="collapse_hide_one" >
                            ON GRID INFRASTRUCTURE
                                <span class="glyphicon glyphicon-minus" style="float: right; "></span>
                            </p>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                        Transmission
                                        <label class="switch" style="float: right; margin-right: 30px;">
                                          <input type="checkbox" id="existing_transmission_lines" >
                                          <span class="slider round"></span>
                                          <div class="circle_legend" style="background: #ff8e8e"></div>
                                        </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                        Power Plants
                                        <label class="switch" style="float: right; margin-right: 30px;">
                                          <input type="checkbox" id="power_plant_locations" checked="checked">
                                          <span class="slider round"></span>
                                          <div class="circle_legend" style="background: #27ae60"></div>
                                        </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                        Gas Lines
                                        <label class="switch" style="float: right; margin-right: 30px;">
                                          <input type="checkbox" id="existing_gas_lines" >
                                          <span class="slider round"></span>
                                          <div class="circle_legend" style="background: #71ba51"></div>
                                        </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                        DisCo Infrastructure
                                        <label class="switch" style="float: right; margin-right: 30px;">
                                          <input type="checkbox" id="distribution_infrastructure">
                                          <span class="slider round"></span>
                                          <div class="circle_legend" style="background: #C11B17"></div>
                                        </label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                        Electrified Communities
                                        <label class="switch" style="float: right; margin-right: 30px;">
                                          <input type="checkbox" id="electrified" checked="checked">
                                          <span class="slider round"></span>
                                          <div class="circle_legend" style="background: #9e906e"></div>
                                        </label>
                                        </div>

                                        <label class="checkbox-inline" style="padding-left: 40px;margin-left: 40px;"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('electrified', 'electrified_10')" id="electrified_10" value="">10Km Buffer </label> 
                                        <label class="checkbox-inline"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('electrified', 'electrified_20')" id="electrified_20" value="">20Km Buffer </label> 


                                        <!-- <div class="container">
                                            
                                        </div> -->
              
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 21px 40px; background-color: #fff;">
                        <h4 class="panel-title">
                            
                            <p id="collapse_show_2" >
                              OFF GRID INFRASTRUCTURE
                                <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                            </p>

                            <p id="collapse_hide_2" >
                            OFF GRID INFRASTRUCTURE
                                <span class="glyphicon glyphicon-minus" style="float: right; "></span>
                            </p>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr style="display: none;">
                                    <td>
                                        
                                        <div class="awesome_slider_div">
                                            Potential Grid Extension Locations
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="potential_grid" >
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #422e39"></div>
                                            </label>
                                        </div>

                                        <label class="checkbox-inline" style="padding-left: 40px;margin-left: 40px;"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('potential_grid', 'potential_grid_10')" id="potential_grid_10" value="">10Km Buffer </label> 
                                        <label class="checkbox-inline"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('potential_grid', 'potential_grid_20')" id="potential_grid_20" value="">20Km Buffer </label> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Potential Minigrid Communities
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="potential_minigrid" >
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #523d1f"></div>
                                            </label>
                                        </div>

                                        <label class="checkbox-inline" style="padding-left: 40px;margin-left: 40px;"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('potential_minigrid', 'potential_minigrid_10')" id="potential_minigrid_10" value="">10Km Buffer </label> 
                                        <label class="checkbox-inline"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('potential_minigrid', 'potential_minigrid_20')" id="potential_minigrid_20" value="">20Km Buffer </label> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Potential SHS Communities
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="potential_shs_locations" >
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #8f6f40"></div>
                                            </label>
                                        </div>

                                        <label class="checkbox-inline" style="padding-left: 40px; margin-left: 40px;"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('potential_shs_locations', 'potential_shs_10')" id="potential_shs_10" value="">10Km Buffer </label> 
                                        <label class="checkbox-inline"> 
                                        <input type="checkbox" checked="checked" onclick="filterBuffer('potential_shs_locations', 'potential_shs_20')" id="potential_shs_20" value="">20Km Buffer </label> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 21px 40px; background-color: #fff;">
                        <h4 class="panel-title" style="text-transform: uppercase;">
                            
                            <p id="collapse_show_6" >
                              Community Details
                                <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                            </p>

                            <p id="collapse_hide_6" >
                              Community Details
                                <span class="glyphicon glyphicon-minus" style="float: right; "></span>
                            </p>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        
                                        <div class="awesome_slider_div" data-role="rangeslider">
                                            Population
                                            <input type="text" id="population" value="" name="range" />
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Grid Buffer
                                            <input type="text" id="grid_buffer" value="" name="range5" />
                                        </div>
                                    </td>
                                </tr>
       
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            REA Projects
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="mda_locations" checked="checked">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" >
                    <div class="panel-heading" style="padding: 21px 40px; background-color: #fff;">
                        <h4 class="panel-title">
                            
                            <p id="collapse_show_3" >
                              RESOURCES
                                <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                            </p>

                            <p id="collapse_hide_3" >
                              RESOURCES
                                <span class="glyphicon glyphicon-minus" style="float: right; "></span>
                            </p>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        
                                        <div class="awesome_slider_div">
                                            Mines
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="mines" checked="checked">
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #e74c3c"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Solar Radiance 
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="solar">
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #e01931"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Road Network
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="roads" >
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #f3b5a9"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            DisCo Infrastructure
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 21px 40px; background-color: #fff;">
                        <h4 class="panel-title" style="text-transform: uppercase;">
                            
                            <p id="collapse_show_4" >
                              Amenities
                                <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                            </p>

                            <p id="collapse_hide_4" >
                              Amenities
                                <span class="glyphicon glyphicon-minus" style="float: right; "></span>
                            </p>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        
                                        <div class="awesome_slider_div">
                                            Schools
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="school_locations" >
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #42729b"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                               <!--  <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Health Care
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input id="health_care_centers" type="checkbox">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Water Points
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="water_access" >
                                              <span class="slider round"></span>
                                              <div class="circle_legend" style="background: #073154"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            MDA's
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="mda_locations" >
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Business Hubs
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="business_hubs">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>

                <!-- <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 21px 40px; background-color: #fff;">
                        <h4 class="panel-title" style="text-transform: uppercase;">
                            
                            <p id="collapse_show_5" >
                              Political/BaseMaps
                                <span class="glyphicon glyphicon-plus" style="float: right;"></span>
                            </p>

                            <p id="collapse_hide_5" >
                              Political/BaseMaps
                                <span class="glyphicon glyphicon-minus" style="float: right; "></span>
                            </p>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        
                                        <div class="awesome_slider_div">
                                            LGAs
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="school_locations" checked="checked">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            Geopolitical Zones
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input id="health_care_centers" checked="checked" type="checkbox">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            States
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="water_access" checked="checked">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="awesome_slider_div">
                                            DisCo Coverage
                                            <label class="switch" style="float: right; margin-right: 30px;">
                                              <input type="checkbox" id="mda_locations" checked="checked">
                                              <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div> -->

                


            </div>
        </div>
        <!-- END MENU -->
      </div>

</div>

<!-- </div> -->

<div id="docsModal2" class="modal" >
  <div class="modal-dialog the_legend">
    <div class="modal-content"> <!-- background-color: #252830;  -->

      <div class="modal-body">
        <p id="" ><span></span></p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="download_attributes">
    <button class="download_attributes">...</button>
</div> -->

<button class="download_attributes"><a href="<?php echo $this->basePath('/'); ?>assets/map_resources.zip" download><img src="<?= $this->basePath('assets/images/files_dwnload.png') ?>" class="img-responsive" alt="" id="close-modal" style="width: 18px;
    margin-left: 8px;"></a></button>


 <div id="docsModal" class="modal" >
  <div class="modal-dialog position_me_well">
    <div class="modal-content" style="color: #cfd2da; background-color: #080808;"> <!-- background-color: #252830;  -->

      

      <div class="modal-header" style="border-bottom: 0.8px solid #23232b;">

        <span class="close" style="display: inline-block;    opacity: .9; ">
       <!--  &times; -->
        <img src="<?= $this->basePath('assets/images/close.png') ?>" class="img-responsive" alt="" id="close-modal" style="width: 34px; " onclick="jQuery('#docsModal').hide(); $('#details-table').empty();">
        </span>
 

         <span aria-hidden="true" class="close" style="display: inline-block; opacity: .9;">
       <!--  &times; -->
        <img src="<?= $this->basePath('assets/images/download.png') ?>" onclick="downloadPopUpDataCSV();" class="img-responsive" alt="" style="width: 20px; margin-right: 10px; margin-top: 4px;">
        </span>

        <h6 class="dashhead-subtitle" style="font-size: 13px;color: #5b5d5e;font-weight: bold;margin-left: 45px;letter-spacing: 1.7px;font-family: Karla;">LOCATION DETAILS</h6>

        <img src="<?= $this->basePath('assets/images/loading.gif') ?>" id="img" style="display:none">
      </div>
      <div class="modal-body">
        <table class="table" id="details-table" style="margin-left: 30px;     width: 90%;">
            <!-- <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: -.2px;font-weight: bold; text-transform: uppercase;">Projected By</h6>
                    <span class="head" id="project_by" style="color: white;">REA</span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">LGA </h6>
                    <span class="value" id="lga" style="color: white;">NORTH-WEST</span>
                </td>
            </tr> 


                <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">VILLAGE</h6>
                    <span style="color: white;">IJEBU ODE</span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">LAT LDN </h6>
                    <span id="latlng" style="color: white;">22.6174, 94.8383</span>
                </td>
            </tr>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">VILLAGE PLACECODE</h6>
                    <span id="village_placecode" style="color: white;">17,356 </span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">STATE  </h6>
                    <span id="state" style="color: white;">OGUN STATE </span>
                </td>
            </tr>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">POPULATION </h6>
                    <span id="population" style="color: white;">590K </span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">NO. HOUSEHOLDS</h6>
                    <span id="no_households" style="color: white;">22.487 </span>
                </td>
            </tr>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">DISTANCE TO GRID(KM) </h6>
                    <span id="distance_to_grid" style="color: white;">1736<sup>KM</sup> </span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 11px;color: #5b5d5e;font-family: karla;letter-spacing: 0.2px;font-weight: bold;">SOLAR RADIATION(W/M<sup>2</sup>)</h6>
                    <span id="solar_radiance" style="color: white;">314 </span>
                </td>
            </tr>  -->
        <?php /*
          <!-- <tbody>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800; text-transform: uppercase;">Projected By</h6>
                    <span class="head" style="color: white;">REA</span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">LGA </h6>
                    <span class="value" style="color: white;">NORTH-WEST</span>
                </td>
            </tr> -->

            <!-- RUN A FOR LOOP TO GO THROUGH ALL THE PROPERTIES AND CREATE THE TABLE DATA -->
            <!-- <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">VILLAGE</h6>
                    <span style="color: white;">WEBU ODE</span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">LAT LDN </h6>
                    <span style="color: white;">22.6174, 94.8383</span>
                </td>
            </tr>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">VILLAGE PLACECODE</h6>
                    <span style="color: white;">17,356 </span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">STATE  </h6>
                    <span style="color: white;">OGUN STATE </span>
                </td>
            </tr>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">POPULATION </h6>
                    <span style="color: white;">590K </span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">NO. HOUSEHOLDS</h6>
                    <span style="color: white;">22.487 </span>
                </td>
            </tr>

            <tr>
                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">DISTANCE TO GRID(KM) </h6>
                    <span style="color: white;">1736<sup>KM</sup> </span>
                </td>

                <td style="    border: 0;">
                    <h6 class="dashhead-subtitle" style="font-size: 9px;color: #777; font-weight: 800;">SOLAR RADIATION(W/M<sup>2</sup>)</h6>
                    <span style="color: white;">314 </span>
                </td>
            </tr> -->
            <!--  <tbody> -->
            */
            ?>
           
        </table>

    </div>
  </div>
</div>





<script type="text/javascript">
  var popup_csv_data;
  var csv_pop_label;

  function downloadPopUpDataCSV()
  {
    JSONToCSVConvertor(popup_csv_data, csv_pop_label, true)
  }


  function setSingleCsvData(label, data)
  {
    popup_csv_data = data;
    csv_pop_label = label;
  }

</script>